Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @jielinxu, @yamasite, @fishpenguin, @del-zhenwu

check table lsn (#1622)
  CHANGELOG.md
  core/src/db/wal/WalManager.cpp
  core/unittest/db/test_wal.cpp
Owners: @JinHai-CN, @XuPeng-SH

skip some cases in http mode (#1633)
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_collection.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_delete_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/utils.py
Owners: @del-zhenwu

#1603 BinaryFlat add 2 Metrics: Substructure and Superstructure (#1647)
  CHANGELOG.md
  core/src/db/Utils.cpp
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/IndexParameter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/IndexParameter.h
  core/src/index/thirdparty/faiss/Index.h
  core/src/index/thirdparty/faiss/IndexBinaryFlat.cpp
  core/src/index/thirdparty/faiss/IndexBinaryIVF.cpp
  core/src/index/thirdparty/faiss/IndexBinaryIVF.h
  core/src/index/thirdparty/faiss/tutorial/cpp/9-BinaryFlat.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
  core/src/index/thirdparty/faiss/utils/BinaryDistance.cpp
  core/src/index/thirdparty/faiss/utils/BinaryDistance.h
  core/src/index/thirdparty/faiss/utils/hamming.cpp
  core/src/index/thirdparty/faiss/utils/jaccard.cpp
  core/src/index/thirdparty/faiss/utils/substructure-inl.h
  core/src/index/thirdparty/faiss/utils/superstructure-inl.h
  core/src/wrapper/ConfAdapter.cpp
  sdk/examples/utils/Utils.cpp
  sdk/include/MilvusApi.h
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin

[skip ci] (shards) Upgrade Mishards for #1569 (#1570)
  .gitignore
  shards/all_in_one/all_in_one.yml
  shards/conftest.py
  shards/discovery/factory.py
  shards/discovery/plugins/kubernetes_provider.py
  shards/discovery/plugins/static_provider.py
  shards/mishards/.env.example
  shards/mishards/__init__.py
  shards/mishards/connections.py
  shards/mishards/router/__init__.py
  shards/mishards/router/plugins/file_based_hash_ring_router.py
  shards/mishards/server.py
  shards/mishards/settings.py
  shards/mishards/test_connections.py
  shards/mishards/test_server.py
  shards/mishards/topology.py
  shards/tracer/plugins/jaeger_factory.py
Owners: @JinHai-CN, @XuPeng-SH

#1649 fix Milvus crash on old cpu (#1652)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/FaissHook.cpp
  core/src/index/thirdparty/faiss/FaissHook.h
  core/src/wrapper/KnowhereResource.cpp
Owners: @JinHai-CN, @XuPeng-SH

Refactor CI workflow (#1657)
  .github/workflows/core.yml
  ci/docker/centos-7-core.dockerfile
  ci/docker/ubuntu-18.04-core.dockerfile
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/build.groovy
  ci/jenkins/step/coverage.groovy
  ci/jenkins/step/unittest.groovy
  ci/scripts/build.sh
  ci/scripts/check_ccache.sh
  ci/scripts/coverage.sh
  ci/scripts/run_unittest.sh
  docker-compose.yml
Owners: @JinHai-CN, @ZhifengZhang-CN

#1648 The cache cannot be used all when the type is binary (#1648)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/wrapper/VecIndex.cpp
  core/unittest/server/test_cache.cpp
  sdk/examples/binary_vector/src/ClientTest.cpp
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin

#1651 Check validity of dimension when collection metric type is binary one (#1666)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/server/delivery/request/CreateTableRequest.cpp
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
  core/unittest/server/test_util.cpp
  sdk/examples/binary_vector/src/ClientTest.cpp
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin

Add GUI link to readme (#1669)
  README.md
  README_CN.md
  README_JP.md
Owners: @JinHai-CN

enable nsg case (#1670)
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/utils.py
Owners: @del-zhenwu

#1619 (#1620)
  CHANGELOG.md
  core/src/codecs/DeletedDocsFormat.h
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
  core/src/codecs/default/DefaultDeletedDocsFormat.h
  core/src/db/DBImpl.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
Owners: @JinHai-CN, @XuPeng-SH

#1653 IndexFlat performance improvement for NQ < thread_number (#1674)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/utils/BinaryDistance.cpp
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/index/thirdparty/faiss/utils/hamming.cpp
Owners: @JinHai-CN, @XuPeng-SH

Add structure cases (#1675)
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/test_collection.py
  tests/milvus_python_test/test_collection_count.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/utils.py
Owners: @del-zhenwu

[skip ci](shards): fix low concurrency issue (#1672)
  shards/mishards/connections.py
  shards/mishards/router/__init__.py
  shards/mishards/service_handler.py
  shards/mishards/test_server.py
  shards/requirements.txt
Owners: @XuPeng-SH

fix: shards/requirements.txt to reduce vulnerabilities (#1680)
  shards/requirements.txt
Owners: @XuPeng-SH

#1656 Add timeout for whole Jenkins job (#1676)
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/build.groovy
  ci/jenkins/step/coverage.groovy
  ci/jenkins/step/internalCoverage.groovy
  ci/jenkins/step/package.groovy
  ci/jenkins/step/publishImages.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
  ci/jenkins/step/unittest.groovy
  docker/deploy/gpu/centos7/Dockerfile
Owners: @ZhifengZhang-CN

[skip ci](shards): fix #1679 (#1681)
  shards/mishards/router/plugins/file_based_hash_ring_router.py
  shards/mishards/service_handler.py
Owners: @XuPeng-SH

[skip ci] Update README_CN.md (#1684)
  README_CN.md
Owners: @JinHai-CN

#1663 PQ index parameter m validation (#1677)
  CHANGELOG.md
  core/src/utils/ValidationUtil.cpp
  core/src/wrapper/ConfAdapter.cpp
  core/src/wrapper/ConfAdapter.h
  core/unittest/server/test_util.cpp
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_search_vectors.py
Owners: @JinHai-CN, @XuPeng-SH, @del-zhenwu

#1653 IndexFlat performance improvement for NQ < thread_number (#1690)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/utils/BinaryDistance.cpp
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/index/thirdparty/faiss/utils/hamming.cpp
  core/src/index/thirdparty/faiss/utils/superstructure-inl.h
Owners: @JinHai-CN, @XuPeng-SH

Add more information to INSTALL.md (#1694)
  INSTALL.md
Owners: @JinHai-CN

#1660 support IVFPQ CPU delete (#1695)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/Index.cpp
  core/src/index/thirdparty/faiss/Index.h
  core/src/index/thirdparty/faiss/IndexBinary.cpp
  core/src/index/thirdparty/faiss/IndexBinary.h
  core/src/index/thirdparty/faiss/IndexFlat.cpp
  core/src/index/thirdparty/faiss/IndexFlat.h
  core/src/index/thirdparty/faiss/IndexIVF.cpp
  core/src/index/thirdparty/faiss/IndexIVF.h
  core/src/index/thirdparty/faiss/IndexIVFFlat.cpp
  core/src/index/thirdparty/faiss/IndexIVFFlat.h
  core/src/index/thirdparty/faiss/IndexIVFPQ.cpp
  core/src/index/thirdparty/faiss/IndexIVFSpectralHash.cpp
  core/src/index/thirdparty/faiss/IndexPreTransform.cpp
  core/src/index/thirdparty/faiss/IndexPreTransform.h
  core/src/index/thirdparty/faiss/MetaIndexes.cpp
  core/src/index/thirdparty/faiss/MetaIndexes.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizer.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/3-IVFPQ.cpp
Owners: @JinHai-CN, @XuPeng-SH

modify bitset from deque to vector (#1696)
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.h
Owners: @JinHai-CN, @XuPeng-SH

#1678 remove CUSTOMIZATION macro (#1707)
  CHANGELOG.md
  core/CMakeLists.txt
  core/cmake/DefineOptions.cmake
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/CMakeLists.txt
  core/src/index/cmake/DefineOptionsCore.cmake
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/Cloner.cpp
  core/src/index/unittest/faiss_benchmark/faiss_benchmark_test.cpp
  core/src/index/unittest/faiss_benchmark/faiss_bitset_test.cpp
  core/src/index/unittest/test_customized_index.cpp
  core/src/index/unittest/test_ivf.cpp
  core/src/index/unittest/test_vecindex.cpp
  core/src/scheduler/SchedInst.h
  core/src/scheduler/optimizer/FaissIVFSQ8HPass.cpp
  core/src/utils/ValidationUtil.cpp
  core/unittest/db/test_db.cpp
  core/unittest/server/test_util.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1686 API search_in_files cannot work correctly when vectors is store… (#1701)
  CHANGELOG.md
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/server/delivery/request/SearchRequest.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_meta_mysql.cpp
Owners: @JinHai-CN, @XuPeng-SH

HNSW support delete vectors searching on CPU version
  CHANGELOG.md
  core/src/index/thirdparty/faiss/IndexHNSW.cpp
  core/src/index/thirdparty/faiss/IndexHNSW.h
  core/src/index/thirdparty/faiss/impl/HNSW.cpp
  core/src/index/thirdparty/faiss/impl/HNSW.h
  core/src/index/thirdparty/faiss/tutorial/cpp/HNSW.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
Owners: @JinHai-CN, @XuPeng-SH

Mishards 070 (#1699)
  CHANGELOG.md
  shards/all_in_one/all_in_one.yml
  shards/all_in_one/ro_server.yml
  shards/all_in_one/wr_server.yml
  shards/all_in_one_with_mysql/all_in_one.yml
  shards/all_in_one_with_mysql/ro_server.yml
  shards/all_in_one_with_mysql/wr_server.yml
  shards/mishards/exception_codes.py
  shards/mishards/exceptions.py
  shards/mishards/grpc_utils/grpc_args_parser.py
  shards/mishards/models.py
  shards/mishards/service_handler.py
  shards/mishards/settings.py
  shards/requirements.txt
Owners: @JinHai-CN, @XuPeng-SH

#1719 Remove unused log (#1720)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngineImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

#267 Improve search performance: reduce delay (#1717)
  CHANGELOG.md
  core/src/cache/Cache.inl
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/scheduler/JobMgr.cpp
  core/src/scheduler/TaskTable.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/utils/TimeRecorder.h
Owners: @JinHai-CN, @XuPeng-SH

Caiyd 1689 fix sq8h fail (#1723)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/index/archive/VecIndex.cpp
  core/src/index/knowhere/knowhere/index/Index.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/Cloner.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.h
  core/src/index/unittest/test_gpuresource.cpp
  core/src/index/unittest/test_ivf.cpp
  core/unittest/server/test_cache.cpp
Owners: @JinHai-CN, @XuPeng-SH

IVFPQ has supported to delete vectors (#1722)
  core/src/server/delivery/request/DeleteByIDRequest.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1661 support HNSW deletion on nmslib (#1729)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/hnswlib.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/test_hnsw.cpp
  core/src/server/delivery/request/DeleteByIDRequest.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1656 Update ccache script file (#1716)
  ci/scripts/check_ccache.sh
  ci/scripts/update_ccache.sh
Owners: @ZhifengZhang-CN

#1603 modify substructure/superstructure to perfect match (#1718)
  core/src/index/thirdparty/faiss/IndexBinaryFlat.cpp
  core/src/index/thirdparty/faiss/utils/BinaryDistance.cpp
  core/src/index/thirdparty/faiss/utils/BinaryDistance.h
  core/src/index/thirdparty/faiss/utils/substructure-inl.h
  core/src/index/thirdparty/faiss/utils/superstructure-inl.h
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN, @XuPeng-SH, @del-zhenwu

#1724 Remove unused unittests (#1725)
  CHANGELOG.md
  core/src/index/archive/VecIndex.cpp
  core/unittest/db/test_engine.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1656 Limit the resources of publish docker container (#1732)
  ci/jenkins/pod/docker-pod.yaml
Owners: @ZhifengZhang-CN

#1734 Opentracing for combined search request (#1737)
  core/src/db/DBImpl.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/server/context/Context.cpp
  core/src/server/context/Context.h
  core/src/server/delivery/request/BaseRequest.h
  core/src/server/delivery/request/SearchCombineRequest.cpp
Owners: @JinHai-CN, @XuPeng-SH

modify changelog (#1739)
  CHANGELOG.md
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update NSG (#1744)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.h
Owners: @JinHai-CN, @XuPeng-SH

#1735 fix search fail with gpu out of memory using ivf_flag (#1748)
  CHANGELOG.md
  core/src/cache/Cache.h
  core/src/cache/Cache.inl
  core/src/cache/CpuCacheMgr.cpp
  core/src/cache/GpuCacheMgr.cpp
  core/src/cache/GpuCacheMgr.h
  core/src/config/Config.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @XuPeng-SH

CODEOWNERS:

# Each line is a component followed by one or more owners. 

* @JinHai-CN
/core   @JinHai-CN @XuPeng-SH
/ci     @ZhifengZhang-CN
/docker @ZhifengZhang-CN
/docs   @jielinxu @yamasite
/sdk    @fishpenguin
/shards @XuPeng-SH
/tests  @del-zhenwu
