Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

[skip ci]modify sdk simple (#3182)
  sdk/examples/CMakeLists.txt
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.h
  sdk/examples/utils/Utils.cpp
  sdk/examples/utils/Utils.h
Owners: @scsven

Tell ccache to relax some checks in order to increase the hit rat (#3174)
  ci/scripts/before-install.sh
  ci/scripts/build.sh
  ci/scripts/update_ccache.sh
Owners: @JinHai-CN

local test
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile-bak
  core/src/index/thirdparty/faiss/tutorial/cpp/ana_res.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/extract.sh
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-flat.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-milvus.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-pq.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-sq.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/test/a.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/test/a/b/c/aa-0.out
  core/src/index/thirdparty/faiss/tutorial/cpp/test/a/b/c/bb-1.out
  core/src/index/thirdparty/faiss/tutorial/cpp/test/a/b/c/cc-2.out
  core/src/index/thirdparty/faiss/tutorial/cpp/test/a/b/c/dd-3.out
  core/src/index/thirdparty/faiss/tutorial/cpp/test/aa
  core/src/index/thirdparty/faiss/tutorial/cpp/test/bb
  core/src/index/thirdparty/faiss/tutorial/cpp/test/cc
  core/src/index/thirdparty/faiss/tutorial/cpp/test/dd
  core/src/index/thirdparty/faiss/tutorial/cpp/test/te1.sh
  core/src/index/thirdparty/faiss/tutorial/cpp/test/te2.sh
  core/src/index/thirdparty/faiss/tutorial/cpp/test/test_script.sh
  core/src/index/thirdparty/faiss/tutorial/cpp/test_hnsw.output
  core/src/index/thirdparty/faiss/tutorial/cpp/test_hnsw.sh
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/hnswalg.h.bak
  core/src/index/thirdparty/hnswlib/hnswlib.h
Owners: @shengjun1985

(db/snapshot): replace boost filesystem with std::experimental filesystem (#3166)
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/db/CMakeLists.txt
  core/src/db/snapshot/InActiveResourcesGCEvent.h
  core/src/db/snapshot/MetaEvent.h
  core/src/db/snapshot/ResourceGCEvent.h
  core/src/segment/SegmentReader.cpp
  core/src/storage/disk/DiskOperation.cpp
  core/unittest/CMakeLists.txt
  core/unittest/db/test_db.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

fix the bug cpu cache not make effect (#3178)
  core/src/segment/SegmentReader.cpp
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
Owners: @scsven, @JinHai-CN

revert hnsw to version 0.10.0 (#3184)
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/hnswlib.h
Owners: @shengjun1985

Make Memsegment create segment explicitly (#3181)
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemSegment.cpp
  core/src/db/insert/MemSegment.h
  core/src/db/meta/backend/SqliteEngine.cpp
Owners: @scsven, @yhmo

(db/snapshot): retry remove if remove_all fails due to bug in filesystem remove_all (#3187)
  core/src/db/snapshot/ResourceGCEvent.h
Owners: @scsven

Modefied CCACHE_SLOPPINESS options in order to increase the ccache hit rat (#3186)
  ci/jenkins/step/coverage.groovy
  ci/scripts/before-install.sh
  ci/scripts/build.sh
Owners: @JinHai-CN

add getEntity unittest (#3183)
  core/src/segment/SegmentReader.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

[skip ci]fix test bug in whether user defined id (#3192)
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

clean unused code (#3190)
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
Owners: @scsven

Fix sqlite insert error (#3191)
  core/src/db/meta/MetaAdapter.h
  core/src/db/meta/MetaFactory.cpp
  core/src/db/meta/backend/MetaHelper.cpp
  core/src/db/meta/backend/MetaSchema.cpp
  core/src/db/meta/backend/MetaSchema.h
  core/src/db/meta/backend/SqliteEngine.cpp
  core/src/db/snapshot/Store.h
  core/unittest/db/utils.cpp
Owners: @yhmo, @scsven

Fix TestSearchDSL level 2 bugs (#3185)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/grpc/milvus.proto
  core/unittest/db/test_db.cpp
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @scsven, @JinHai-CN

Disable ccache in nightly test, bypassing the cache completely (#3188)
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/nightlyBuild.groovy
  ci/scripts/before-install.sh
Owners: @JinHai-CN

[skip ci] use pymilvus-test, remove personal git repo (#3194)
  ci/jenkins/step/singleDevTest.groovy
  tests/milvus_python_test/README.md
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/requirements.txt
Owners: @JinHai-CN

Fix compact function pass parameters error (#3196)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
Owners: @scsven

fix GetEntityBug and part of test case bug (#3200)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/server/delivery/request/GetEntityByIDReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_wal.py
Owners: @scsven, @JinHai-CN

Enable/Disable output of compile commands for clang-tidy (#3214)
  .clang-tidy
  core/CMakeLists.txt
  core/build-support/run_clang_tidy.py
Owners: @JinHai-CN, @scsven

[skip ci] Update ISSUE template
  .github/ISSUE_TEMPLATE/general-question.md
Owners: @JinHai-CN

Fix CreateIndex bug in C++ sdk (#3216)
  core/src/grpc/milvus.proto
  core/src/scheduler/task/SearchTask.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/utils/Utils.cpp
  sdk/grpc/ClientProxy.cpp
  sdk/include/MilvusApi.h
  tests/milvus_python_test/entity/test_search.py
Owners: @scsven, @JinHai-CN

update local sdk client
  sdk/examples/simple/src/ClientTest.cpp
Owners: @scsven

[skip ci] fix compact case bug (#3212)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_index.py
Owners: @JinHai-CN

enable -Werror to improve code quality (#3221)
  CHANGELOG.md
  core/CMakeLists.txt
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/Distance.h
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.cpp
  core/src/index/thirdparty/faiss/utils/instruction_set.h
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/unittest/test_structured_index_sort.cpp
  core/thirdparty/dablooms/dablooms.cpp
Owners: @JinHai-CN, @scsven, @shengjun1985

fix compact bug and change some test case level from 2 to 1 (#3219)
  core/src/db/DBImpl.cpp
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_drop_collection.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_ping.py
Owners: @scsven, @JinHai-CN

Improve MysqlEngine (#3227)
  core/src/db/meta/MetaAdapter.h
  core/src/db/meta/MetaFactory.h
  core/src/db/meta/backend/MySQLConnectionPool.cpp
  core/src/db/meta/backend/MySQLConnectionPool.h
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/db/snapshot/ResourceContext.h
  core/src/db/snapshot/Store.h
  core/unittest/db/CMakeLists.txt
  core/unittest/db/test_meta.cpp
  core/unittest/db/utils.cpp
Owners: @yhmo, @scsven

Fix test_query_range_valid_ranges bug (#3224)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.cpp
  core/src/scheduler/job/Job.cpp
  core/src/scheduler/task/Task.cpp
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  sdk/examples/simple/src/ClientTest.cpp
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @scsven, @shengjun1985, @JinHai-CN

Optimize grpc download & build in CMakeLists (#3207)
  core/CMakeLists.txt
  core/cmake/ThirdPartyPackages.cmake
  core/src/db/CMakeLists.txt
  core/src/grpc/cpp_gen.sh
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/thirdparty/CMakeLists.txt
  core/thirdparty/grpc/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt
Owners: @scsven, @shengjun1985

fix annoy l2 (#3235)
  core/src/index/thirdparty/annoy/src/annoylib.h
Owners: @shengjun1985

Upgrade build environment image version to 0.10.2 (#3223)
  ci/jenkins/pod/milvus-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-ubuntu18.04-build-env-pod.yaml
  docker/build_env/cpu/centos7/Dockerfile
  docker/build_env/cpu/ubuntu16.04/Dockerfile
  docker/build_env/cpu/ubuntu18.04/Dockerfile
  docker/build_env/gpu/centos7/Dockerfile
  docker/build_env/gpu/ubuntu16.04/Dockerfile
  docker/build_env/gpu/ubuntu18.04/Dockerfile
Owners: @JinHai-CN

implement loadcollection (#3229)
  core/src/cache/CpuCacheMgr.cpp
  core/src/cache/GpuCacheMgr.cpp
  core/src/cache/GpuCacheMgr.h
  core/src/db/Constants.h
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/db/Types.h
  core/src/db/insert/MemSegment.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/unittest/db/test_db.cpp
Owners: @scsven

rm find faiss (#3242)
  core/build.sh
  core/src/index/cmake/FindFAISS.cmake
Owners: @scsven, @shengjun1985

[skip ci] Update Add codacy.yaml
  .codacy.yaml
Owners: @JinHai-CN

[skip ci] Update Add codacy.yaml
  .codacy.yaml
Owners: @JinHai-CN

[skip ci] CodeBeat
  .codebeatignore
Owners: @JinHai-CN

[skip ci]update clang-tidy rules (#3239)
  .clang-tidy
  ci/scripts/build.sh
  core/build.sh
Owners: @JinHai-CN, @scsven

Update Jenkinsfile for improve workflow (#3228)
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/build.groovy
  ci/jenkins/step/cleanupShardsDev.groovy
  ci/jenkins/step/cleanupShardsDevTest.groovy
  ci/jenkins/step/cleanupSingleDev.groovy
  ci/jenkins/step/cleanupSingleDevTest.groovy
  ci/jenkins/step/coverage.groovy
  ci/jenkins/step/nightlyBuild.groovy
  ci/jenkins/step/shardsDevTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

fix cmd req bug and fix test case bug (#3241)
  core/src/config/ConfigMgr.cpp
  core/src/server/delivery/request/CmdReq.cpp
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
Owners: @scsven, @JinHai-CN

Fix compile option of thirdparty libs (#3246)
  core/CMakeLists.txt
  core/build.sh
  core/thirdparty/CMakeLists.txt
  core/thirdparty/grpc/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt.in
Owners: @scsven

fix wrong arguments check of hnsw-pq (#3247)
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
Owners: @shengjun1985
