Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @jeffoverflow, @cydrain, @yhmo, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/ci/                     @jeffoverflow @cydrain
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/         @shengjun1985
/tests/                  @cydrain

Params in Restful-api is different from the params in other SDKs (#3926)
  CHANGELOG.md
  core/src/server/web_impl/README.md
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
  sdk/examples/simple/src/ClientTest.cpp
Owners: @JinHai-CN, @scsven

fix wal bug for delete entity (#3940)
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/unittest/db/test_wal.cpp
Owners: @scsven

improve GetEntityByID performance (#3932)
  core/src/codecs/BlockFormat.cpp
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/codecs/IdBloomFilterFormat.cpp
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/VectorCompressFormat.cpp
  core/src/codecs/VectorIndexFormat.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

improve file read speed (#3944)
  core/src/codecs/BlockFormat.cpp
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/codecs/ExtraFileInfo.cpp
  core/src/codecs/ExtraFileInfo.h
  core/src/codecs/ExtraFileInfoTest.cpp
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/VectorCompressFormat.cpp
  core/src/codecs/VectorIndexFormat.cpp
Owners: @scsven

redo test 3-2
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
  core/src/index/thirdparty/faiss/tutorial/cpp/cache_test.cpp
Owners: @shengjun1985

The result format is wrong returned by get collections (#3948)
  CHANGELOG.md
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

improve checksum performance (#3956)
  core/src/codecs/ExtraFileInfo.cpp
Owners: @scsven

fix 3903 (#3958)
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVF.cu
Owners: @shengjun1985

[skip ci]Update field name (#3966)
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/utils.py
Owners: @cydrain

Update field name (#3970)
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/utils.py
Owners: @cydrain

rename segment_row_count to segment_row_limit (#3972)
  core/src/db/Constants.h
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/db/SnapshotVisitor.cpp
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/merge/MergeManager.h
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/wal/WalProxy.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_transcript.cpp
  core/unittest/db/test_wal.cpp
  core/unittest/server/test_web.cpp
Owners: @scsven

avoid unnecessery waiting for build idnex (#3974)
  core/src/db/DBImpl.cpp
Owners: @scsven

The 'num' in return of search is incorrect when use http-api (#3975)
  CHANGELOG.md
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

Add data wrapper in the result of getEntity (#3960)
  core/src/server/web_impl/README.md
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

stop build index thread when server is shutdown (#3982)
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/server/Server.cpp
Owners: @scsven

add conf stat_optimizer_enable (#3986)
  core/src/config/ConfigInit.cpp
  core/src/config/ServerConfig.h
  core/src/db/DBImpl.cpp
  core/src/index/archive/KnowhereResource.cpp
  core/src/server/web_impl/dto/ConfigDto.hpp
Owners: @scsven, @shengjun1985

Web_impl restful doc bugs (#3983)
  CHANGELOG.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @scsven

cache structured field index (#3984)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndexSort.h
  core/src/index/unittest/test_structured_index_sort.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
Owners: @scsven, @shengjun1985

remove surplus class import in dev case (#3985)
  tests/milvus_python_test/stability/test_restart.py
  tests/milvus_python_test/test_mix.py
Owners: @cydrain

refine log (#3991)
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemSegment.cpp
  core/src/scheduler/JobMgr.cpp
  core/src/scheduler/selector/FaissIVFPass.cpp
  core/src/server/delivery/request/CountEntitiesReq.cpp
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/delivery/request/CreatePartitionReq.cpp
  core/src/server/delivery/request/DeleteEntityByIDReq.cpp
  core/src/server/delivery/request/DescribeIndexReq.cpp
  core/src/server/delivery/request/DropCollectionReq.cpp
  core/src/server/delivery/request/DropIndexReq.cpp
  core/src/server/delivery/request/DropPartitionReq.cpp
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/delivery/request/GetCollectionStatsReq.cpp
  core/src/server/delivery/request/GetEntityByIDReq.cpp
  core/src/server/delivery/request/HasCollectionReq.cpp
  core/src/server/delivery/request/HasPartitionReq.cpp
  core/src/server/delivery/request/InsertReq.cpp
  core/src/server/delivery/request/ListCollectionsReq.cpp
  core/src/server/delivery/request/ListIDInSegmentReq.cpp
  core/src/server/delivery/request/ListPartitionsReq.cpp
  core/src/server/delivery/request/LoadCollectionReq.cpp
  core/src/server/delivery/request/SearchReq.cpp
Owners: @scsven

support log to stdout (#3993)
  CHANGELOG.md
  core/conf/milvus.template
  core/src/config/ConfigInit.cpp
  core/src/config/ServerConfig.h
  core/src/log/LogMgr.cpp
  core/src/log/LogMgr.h
  core/src/server/Server.cpp
Owners: @JinHai-CN, @scsven

Server crashed when search using java-sdk (#3994)
  CHANGELOG.md
  core/src/server/delivery/request/SearchReq.cpp
Owners: @JinHai-CN, @scsven

Change ge le to gte lte (#3988)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndex.h
Owners: @scsven, @shengjun1985

[skip ci] refine java sdk test (#4001)
  tests/milvus-java-test/MilvusSDkJavaTest.iml
  tests/milvus-java-test/pom.xml
  tests/milvus-java-test/src/main/java/com/Constants.java
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestCollection.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount_v2.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo_v2.java
  tests/milvus-java-test/src/main/java/com/TestCollectionStats.java
  tests/milvus-java-test/src/main/java/com/TestCollection_v2.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestConnect.java
  tests/milvus-java-test/src/main/java/com/TestDeleteEntities.java
  tests/milvus-java-test/src/main/java/com/TestDeleteEntities_v2.java
  tests/milvus-java-test/src/main/java/com/TestFlush.java
  tests/milvus-java-test/src/main/java/com/TestGetEntityByID.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestIndex_v2.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities_v2.java
  tests/milvus-java-test/src/main/java/com/TestMix.java
  tests/milvus-java-test/src/main/java/com/TestPS.java
  tests/milvus-java-test/src/main/java/com/TestPartition.java
  tests/milvus-java-test/src/main/java/com/TestPing.java
  tests/milvus-java-test/src/main/java/com/TestSearchByIds.java
  tests/milvus-java-test/src/main/java/com/TestSearchEntities.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

withdraw pr2467 on branch 0.11.0 (#4002)
  core/src/index/thirdparty/faiss/gpu/utils/Select.cuh
Owners: @shengjun1985

Return wrong entities when real result number is less than topk (#4003)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

[skip ci] update http case (#3997)
  tests/milvus_http_test/client.py
  tests/milvus_http_test/collections/test_create.py
  tests/milvus_http_test/collections/test_drop.py
  tests/milvus_http_test/collections/test_get_info.py
  tests/milvus_http_test/collections/test_get_stats.py
  tests/milvus_http_test/collections/test_list.py
  tests/milvus_http_test/conftest.py
  tests/milvus_http_test/constants.py
  tests/milvus_http_test/entities/test_delete.py
  tests/milvus_http_test/entities/test_get.py
  tests/milvus_http_test/entities/test_insert.py
  tests/milvus_http_test/entities/test_search.py
  tests/milvus_http_test/locust_file.py
  tests/milvus_http_test/locust_task.py
  tests/milvus_http_test/test_index.py
  tests/milvus_http_test/test_partition.py
  tests/milvus_http_test/utils.py
Owners: @cydrain

Change config version to 0.6 (#4006)
  ci/jenkins/Jenkinsfile
  core/conf/demo/milvus.yaml
  core/conf/milvus.template
  core/src/config/ConfigInit.cpp
  core/unittest/server/test_web.cpp
Owners: @jeffoverflow, @cydrain, @scsven

[skip ci] Don't get cache when CI is manually triggered (#4010)
  .jenkins/modules/Build/MilvusBuild.groovy
  .jenkins/modules/DevTest/SingleNodeDevTest.groovy
Owners: @JinHai-CN

make IndexNGT* works by c++ sdk
  core/src/db/Utils.cpp
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNGT.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNGT.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexNGTONNG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNGTONNG.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexNGTPANNG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNGTPANNG.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.h
  core/src/server/web_impl/Constants.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/utils/Utils.cpp
  sdk/include/MilvusApi.h
Owners: @scsven, @shengjun1985

support metric type IP and remove the sqrt of the result of L2 distance
  core/src/index/knowhere/knowhere/index/vector_index/IndexNGTONNG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNGTPANNG.cpp
  core/src/index/thirdparty/NGT/lib/NGT/ObjectSpace.h
  core/src/index/thirdparty/NGT/lib/NGT/ObjectSpaceRepository.h
  core/src/index/thirdparty/NGT/lib/NGT/PrimitiveComparator.h
Owners: @shengjun1985

Use tini for Docker quicker exit. (#4108)
  docker/deploy/cpu/centos7/Dockerfile
  docker/deploy/cpu/ubuntu16.04/Dockerfile
  docker/deploy/cpu/ubuntu18.04/Dockerfile
  docker/deploy/gpu/centos7/Dockerfile
  docker/deploy/gpu/ubuntu16.04/Dockerfile
  docker/deploy/gpu/ubuntu18.04/Dockerfile
Owners: @JinHai-CN

cancel 0.11.0 ci nightly (#4171)
  ci/jenkins/Jenkinsfile
Owners: @jeffoverflow, @cydrain

too complex to implement, try another idea first, save work
  core/src/codecs/VectorIndexFormat.cpp
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/common/BinarySet.h
  core/src/index/knowhere/knowhere/common/Utils.cpp
  core/src/index/knowhere/knowhere/common/Utils.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/index/unittest/CMakeLists.txt
Owners: @scsven, @shengjun1985

stop range_search feature on branch master
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/IndexParameter.h
  core/src/index/thirdparty/faiss/IndexFlat.cpp
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/index/thirdparty/faiss/utils/distances.h
Owners: @shengjun1985

add IF query_by_distance
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseBinaryIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexSPTAG.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
Owners: @shengjun1985

add range_search 4 IndexFlat and IndexBinaryFlat, pass compile, IndexFlat pass test in faiss
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/DynamicResultSet.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/DynamicResultSet.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/IndexParameter.h
  core/src/index/thirdparty/faiss/IndexBinaryFlat.cpp
  core/src/index/thirdparty/faiss/IndexBinaryFlat.h
  core/src/index/thirdparty/faiss/IndexFlat.cpp
  core/src/index/thirdparty/faiss/IndexFlat.h
  core/src/index/thirdparty/faiss/impl/AuxIndexStructures.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/index/thirdparty/faiss/utils/distances.h
  core/src/index/thirdparty/faiss/utils/hamming.cpp
  core/src/index/thirdparty/faiss/utils/hamming.h
Owners: @shengjun1985

save local work, IndexIVFFlat and IndexBinaryFlat need to debug in the future
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/IndexParameter.h
  core/src/index/thirdparty/faiss/IndexBinaryIVF.cpp
  core/src/index/thirdparty/faiss/IndexBinaryIVF.h
  core/src/index/thirdparty/faiss/IndexIVF.cpp
  core/src/index/thirdparty/faiss/IndexIVF.h
  core/src/index/thirdparty/faiss/IndexIVFFlat.cpp
  core/src/index/thirdparty/faiss/IndexIVFSpectralHash.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizer.h
  core/src/index/thirdparty/faiss/tutorial/cpp/BinaryFlatRangeSearch.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/FlatRangeSearch.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/IVFFlatRangeSearch.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
  core/src/index/thirdparty/faiss/utils/hamming.cpp
Owners: @shengjun1985

code finished, stack overflow, need a non-recursive version Gabow algorithm
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

implement the non-recursive strong-connectivity algorithm 4 hnsw
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985
