Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

rename table_schema_array (#2024)
  core/unittest/db/test_db_mysql.cpp
Owners: @scsven

Change input format for attributes (#1990)
  core/src/codecs/default/DefaultAttrsFormat.cpp
  core/src/codecs/default/DefaultAttrsFormat.h
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/Types.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/grpc/gen-milvus/milvus.pb.cc
  core/src/grpc/gen-milvus/milvus.pb.h
  core/src/grpc/milvus.proto
  core/src/query/GeneralQuery.h
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/hybrid_request/CreateHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/DescribeHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/DescribeHybridCollectionRequest.h
  core/src/server/delivery/hybrid_request/InsertEntityRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/unittest/db/test_hybrid_db.cpp
  core/unittest/server/test_rpc.cpp
  sdk/examples/hybrid/CMakeLists.txt
  sdk/examples/hybrid/main.cpp
  sdk/examples/hybrid/src/ClientTest.cpp
  sdk/examples/hybrid/src/ClientTest.h
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/utils/Utils.cpp
  sdk/grpc-gen/gen-milvus/milvus.pb.cc
  sdk/grpc-gen/gen-milvus/milvus.pb.h
  sdk/grpc/ClientProxy.cpp
  sdk/include/GeneralQuery.h
  sdk/include/MilvusApi.h
Owners: @scsven

move the definiation to cpp file (#2033)
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.h
Owners: @shengjun1985

Move NULL to nullptr (#2027)
  core/src/index/thirdparty/SPTAG/AnnService/inc/Core/Common/CommonUtils.h
  core/src/index/thirdparty/annoy/src/annoygomodule.h
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/index/thirdparty/annoy/src/annoyluamodule.cc
  core/src/index/thirdparty/annoy/src/annoymodule.cc
  core/src/index/thirdparty/faiss/gpu/utils/DeviceMemory.cpp
  core/src/index/unittest/faiss_benchmark/faiss_benchmark_test.cpp
  core/src/index/unittest/faiss_benchmark/faiss_bitset_test.cpp
  core/src/index/unittest/test_annoy.cpp
  core/src/index/unittest/test_hnsw.cpp
  core/src/index/unittest/test_knowhere.cpp
  core/src/index/unittest/test_wrapper.cpp
Owners: @shengjun1985

Remove unused function (#2029)
  core/src/db/Utils.cpp
  core/src/db/Utils.h
Owners: @scsven

remove unused function "preprocessor" (#2034)
  core/src/index/knowhere/knowhere/index/vector_index/IndexSPTAG.cpp
Owners: @shengjun1985

Update LogUtils.cpp: use switch ... case to replace if ... else
  core/src/utils/LogUtil.cpp
Owners: @scsven

Update core/src/scheduler/JobMgr.cpp: format include (#2046)
  core/src/scheduler/JobMgr.cpp
Owners: @scsven

Update __init__.py: Remove unused ConnectionMgr (#2045)
  shards/mishards/__init__.py
Owners: @XuPeng-SH

Update GrpcRequestHandler.cpp: Use std::copy to replace forloop assignment
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

Fix lint
  core/src/utils/LogUtil.cpp
Owners: @scsven

Fix lint
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

unused var: s (#2042)
  core/src/utils/CommonUtil.cpp
Owners: @scsven

Change LogOut("[%s][%d]" ..... ) to LogOut("[%s][%ld]" ......) (#2041)
  core/src/server/delivery/request/SearchRequest.cpp
Owners: @scsven

Remove whole class ConnectionMgr (#2048)
  shards/mishards/connections.py
  shards/mishards/test_connections.py
  shards/mishards/test_server.py
Owners: @XuPeng-SH

Fix error
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.h
Owners: @scsven

Assert cmd reply (#2030)
  core/unittest/server/test_rpc.cpp
Owners: @scsven

Update DBImpl.cpp: rename flush_tables to flushed_collections (#2043)
  core/src/db/DBImpl.cpp
Owners: @scsven

Move http query parser
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/utils/Util.h
Owners: @scsven

fix case bug (#2049)
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_collection.py
  tests/milvus_python_test/test_collection_count.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
Owners: @JinHai-CN

move http parser to http utils
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/src/server/web_impl/utils/Util.cpp
  core/src/server/web_impl/utils/Util.h
Owners: @scsven

build openblas from source
  core/src/CMakeLists.txt
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/src/index/thirdparty/versions.txt
Owners: @scsven, @shengjun1985

update CMakeList
  core/src/CMakeLists.txt
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
Owners: @scsven, @shengjun1985

warn when use sqlite as metadata management (#2065)
  CHANGELOG.md
  core/src/db/meta/SqliteMetaImpl.cpp
Owners: @JinHai-CN, @yhmo

add log 4 annoy if index has been built when BuildAll interface invoked (#2071)
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
Owners: @shengjun1985

rename optimizer to selector (#2067)
  core/src/CMakeLists.txt
  core/src/scheduler/JobMgr.cpp
  core/src/scheduler/SchedInst.h
  core/src/scheduler/selector/BuildIndexPass.cpp
  core/src/scheduler/selector/BuildIndexPass.h
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissFlatPass.h
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.h
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.h
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.h
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.h
  core/src/scheduler/selector/FallbackPass.cpp
  core/src/scheduler/selector/FallbackPass.h
  core/src/scheduler/selector/Optimizer.cpp
  core/src/scheduler/selector/Optimizer.h
  core/src/scheduler/selector/Pass.h
  core/unittest/CMakeLists.txt
  core/unittest/scheduler/CMakeLists.txt
  core/unittest/scheduler/test_selector.cpp
Owners: @scsven

#2073 Fix CheckDBConfigBackendUrl error message (#2074)
  CHANGELOG.md
  core/src/config/Config.cpp
Owners: @JinHai-CN, @scsven

#2076 CheckMetricConfigAddress error message (#2077)
  CHANGELOG.md
  core/src/config/Config.cpp
Owners: @JinHai-CN, @scsven

Update GrpcRequestHandler.cpp (#2069)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

Fix lint error
  core/src/server/web_impl/utils/Util.cpp
  core/src/server/web_impl/utils/Util.h
Owners: @scsven

Unused variable: offsets
  core/src/db/DBImpl.cpp
Owners: @scsven

unused variable, just remove it. (#2082)
  core/src/db/DBImpl.cpp
Owners: @scsven

Add http interface for hybrid search (#2079)
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/request/BaseRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
Owners: @scsven

DBImpl.cpp::ExecWalRecord need to process error status in case wal::MXLogType::Entity (#2083)
  core/src/db/DBImpl.cpp
Owners: @scsven

Remove unused enum (#2089)
  shards/mishards/connections.py
Owners: @XuPeng-SH

Update GrpcRequestHandler.cpp (#2085)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

Unused variable: ids (#2088)
  core/src/db/DBImpl.cpp
Owners: @scsven

Remove unsed datetime (#2094)
  shards/mishards/service_handler.py
Owners: @XuPeng-SH

Use std::copy to replace forloop assignment (#2087)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

Remove unused defaultdict in shards/mishards/service_handler.py. (#2092)
  shards/mishards/service_handler.py
Owners: @XuPeng-SH
