Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @jielinxu, @yamasite, @fishpenguin, @del-zhenwu

Optimize behavior to get file ids from metadata in mishards (#1754) (#1755)
  CHANGELOG.md
  shards/mishards/router/plugins/file_based_hash_ring_router.py
  shards/mishards/service_handler.py
Owners: @JinHai-CN, @XuPeng-SH

#1756 fix memory exhausted during searching (#1758)
  CHANGELOG.md
  core/src/cache/Cache.inl
Owners: @JinHai-CN, @XuPeng-SH

#1728 Optimize request handler to combine similar query (#1743)
  CHANGELOG.md
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/server/context/Context.cpp
  core/src/server/context/Context.h
  core/src/server/delivery/RequestScheduler.cpp
  core/src/server/delivery/request/BaseRequest.cpp
  core/src/server/delivery/request/BaseRequest.h
  core/src/server/delivery/request/SearchCombineRequest.cpp
  core/src/server/delivery/request/SearchRequest.cpp
  core/src/server/delivery/request/SearchRequest.h
  core/unittest/server/test_rpc.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix binary flat may retruns wrong distance when nq larger than 1 (#1760)
  core/src/index/thirdparty/faiss/utils/BinaryDistance.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix #1747 (#1757)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/utils/Error.h
  tests/milvus_python_test/test_search_vectors.py
Owners: @JinHai-CN, @XuPeng-SH, @del-zhenwu

Update CHANGLOG.md
  CHANGELOG.md
Owners: @JinHai-CN

#1654 GPU Index Flat Delete (#1736)
  core/src/index/thirdparty/faiss/gpu/GpuDistance.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndex.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndex.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexFlat.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexFlat.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFFlat.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFFlat.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFPQ.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFSQHybrid.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFSQHybrid.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFScalarQuantizer.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFScalarQuantizer.h
  core/src/index/thirdparty/faiss/gpu/impl/Distance.cu
  core/src/index/thirdparty/faiss/gpu/impl/Distance.cuh
  core/src/index/thirdparty/faiss/gpu/impl/FlatIndex.cu
  core/src/index/thirdparty/faiss/gpu/impl/FlatIndex.cuh
  core/src/index/thirdparty/faiss/gpu/impl/IVFFlat.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFFlat.cuh
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cuh
  core/src/index/thirdparty/faiss/gpu/impl/L2Select.cu
  core/src/index/thirdparty/faiss/gpu/impl/L2Select.cuh
  core/src/index/thirdparty/faiss/gpu/perf/PerfSelect.cu
  core/src/index/thirdparty/faiss/gpu/test/TestGpuSelect.cu
  core/src/index/thirdparty/faiss/gpu/utils/BlockSelectFloat.cu
  core/src/index/thirdparty/faiss/gpu/utils/BlockSelectHalf.cu
  core/src/index/thirdparty/faiss/gpu/utils/BlockSelectKernel.cuh
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectImpl.cuh
Owners: @JinHai-CN, @XuPeng-SH

HasTable with a not exist table name, return error status (#1761)
  core/src/server/delivery/request/HasTableRequest.cpp
  core/unittest/server/test_rpc.cpp
Owners: @JinHai-CN, @XuPeng-SH

Set helm deploy timeout to 600s (#1769)
  ci/jenkins/step/deploySingle2Dev.groovy
Owners: @ZhifengZhang-CN

Caiyd 1655 gpu ivfflat delete (#1767)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/insert/MemTable.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/Cloner.cpp
  core/src/index/thirdparty/faiss/gpu/GpuIndex.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexFlat.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexFlat.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFFlat.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFFlat.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFPQ.h
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/Vectors.cpp
  core/src/segment/Vectors.h
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.h
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin

add delete case for hnsw/pq in cpu-version (#1741)
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_delete_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_search_vectors.py
Owners: @del-zhenwu

Update CHANGLOG.md
  CHANGELOG.md
Owners: @JinHai-CN

Annoy support (#1746)
  CHANGELOG.md
  NOTICE.md
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/IndexParameter.h
  core/src/index/thirdparty/annoy/LICENSE
  core/src/index/thirdparty/annoy/RELEASE.md
  core/src/index/thirdparty/annoy/examples/mmap_test.py
  core/src/index/thirdparty/annoy/examples/precision_test.cpp
  core/src/index/thirdparty/annoy/examples/precision_test.py
  core/src/index/thirdparty/annoy/examples/s_compile_cpp.sh
  core/src/index/thirdparty/annoy/examples/simple_test.py
  core/src/index/thirdparty/annoy/src/annoygomodule.h
  core/src/index/thirdparty/annoy/src/annoygomodule.i
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/index/thirdparty/annoy/src/annoyluamodule.cc
  core/src/index/thirdparty/annoy/src/annoymodule.cc
  core/src/index/thirdparty/annoy/src/kissrandom.h
  core/src/index/thirdparty/annoy/src/mman.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/test_annoy.cpp
  core/src/server/delivery/request/DeleteByIDRequest.cpp
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_search_vectors.py
Owners: @JinHai-CN, @XuPeng-SH, @del-zhenwu

Server is not forbidden to create new partition which tag is _default (#1770)
  CHANGELOG.md
  core/src/server/delivery/request/CreatePartitionRequest.cpp
  core/src/utils/ValidationUtil.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix commpile error because of interface changed (#1773)
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update CHANGLOG.md (#1771)
  CHANGELOG.md
  core/CMakeLists.txt
  core/src/config/Config.cpp
  core/src/server/web_impl/README.md
  sdk/grpc/ClientProxy.cpp
  tests/milvus_python_test/test_ping.py
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin, @del-zhenwu

Caiyd 1689 gpu out of memory (#1776)
  core/src/cache/Cache.h
  core/src/cache/Cache.inl
  core/src/cache/CacheMgr.h
  core/src/cache/CacheMgr.inl
  core/src/cache/GpuCacheMgr.cpp
  core/src/cache/GpuCacheMgr.h
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/unittest/db/test_engine.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix combine result bug (#1780)
  core/src/server/delivery/request/SearchCombineRequest.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1781 fix search hang with SQ8H (#1783)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngineImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

add qps sdk example (#1779)
  core/src/server/delivery/request/SearchCombineRequest.cpp
  sdk/examples/qps/CMakeLists.txt
  sdk/examples/qps/main.cpp
  sdk/examples/qps/src/ClientTest.cpp
  sdk/examples/qps/src/ClientTest.h
  sdk/examples/utils/ThreadPool.h
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin

Add Superstructure/Substructure in http module (#1785)
  CHANGELOG.md
  core/src/server/web_impl/Constants.h
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

unitest validation (#1788)
  core/unittest/server/test_rpc.cpp
  sdk/examples/qps/src/ClientTest.cpp
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin

fix (#1790)
  core/src/server/delivery/request/BaseRequest.h
Owners: @JinHai-CN, @XuPeng-SH

fix share_ptr array (#1786)
  core/src/db/wal/WalBuffer.h
  core/src/db/wal/WalFileHandler.cpp
  core/src/index/archive/VecIndex.cpp
  core/src/index/knowhere/knowhere/common/BinarySet.h
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseBinaryIndex.cpp
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseIndex.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexSPTAG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissIO.cpp
  core/src/index/unittest/test_binaryidmap.cpp
  core/src/index/unittest/test_binaryivf.cpp
  core/src/index/unittest/test_idmap.cpp
  core/src/index/unittest/test_ivf.cpp
  core/src/index/unittest/test_sptag.cpp
  core/unittest/db/test_wal.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update CHANGELOG
  CHANGELOG.md
Owners: @JinHai-CN

Add Unittest for IDMAP (#1774)
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIDMAP.cpp
  core/src/index/thirdparty/faiss/IndexIVF.cpp
  core/src/index/thirdparty/faiss/gpu/impl/Distance.cuh
  core/src/index/thirdparty/faiss/gpu/impl/L2Select.cu
  core/src/index/thirdparty/faiss/gpu/impl/L2Select.cuh
  core/src/index/thirdparty/faiss/gpu/utils/BlockSelectKernel.cuh
  core/src/index/unittest/test_idmap.cpp
Owners: @JinHai-CN, @XuPeng-SH

remove unnecessary lock (#1801)
  core/src/cache/CacheMgr.h
  core/src/cache/CacheMgr.inl
  core/src/cache/GpuCacheMgr.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

Optimize functions (#1803)
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFFlat.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFSQHybrid.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFScalarQuantizer.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFFlat.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFFlat.cuh
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cuh
Owners: @JinHai-CN, @XuPeng-SH

[skip ci](shards): support server 0.7.1 (#1811)
  shards/mishards/settings.py
Owners: @XuPeng-SH

Refactor CI workflow (#1782)
  ci/jenkins/Jenkinsfile
  ci/jenkins/pod/milvus-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/step/deploySingle2Dev.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @ZhifengZhang-CN

improve sdk_qps (#1804)
  sdk/examples/qps/main.cpp
  sdk/examples/qps/src/ClientTest.cpp
  sdk/examples/qps/src/ClientTest.h
Owners: @fishpenguin

Caiyd 1655 gpu ivfflat delete (#1809)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFScalarQuantizer.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFFlat.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFFlatScan.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFFlatScan.cuh
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cuh
  core/src/index/thirdparty/faiss/gpu/impl/IVFUtils.cuh
  core/src/index/thirdparty/faiss/gpu/impl/IVFUtilsSelect1.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFUtilsSelect2.cu
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassNoPrecomputed.cu
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassNoPrecomputed.cuh
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassPrecomputed.cu
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassPrecomputed.cuh
  core/src/index/thirdparty/faiss/makefile.inc.in
  core/src/index/unittest/test_ivf.cpp
Owners: @JinHai-CN, @XuPeng-SH

[skip ci] Update README.md (#1822)
  README.md
  README_CN.md
Owners: @JinHai-CN

Add annoy index type in C++ sdk (#1826)
  CHANGELOG.md
  sdk/examples/utils/Utils.cpp
  sdk/include/MilvusApi.h
Owners: @JinHai-CN, @fishpenguin

CODEOWNERS:

# Each line is a component followed by one or more owners. 

* @JinHai-CN
/core   @JinHai-CN @XuPeng-SH
/ci     @ZhifengZhang-CN
/docker @ZhifengZhang-CN
/docs   @jielinxu @yamasite
/sdk    @fishpenguin
/shards @XuPeng-SH
/tests  @del-zhenwu
