Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

logging build index progress (#2411)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @scsven

mysql meta connection pool issue (#2413)
  core/src/db/meta/MySQLConnectionPool.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
Owners: @yhmo

#2366 Reduce SQL execution times (#2383)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/merge/MergeAdaptiveStrategy.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
Owners: @JinHai-CN, @scsven, @yhmo

Wal lsn issue (#2412)
  core/src/db/insert/MemTable.cpp
  core/src/db/insert/MemTableFile.cpp
  core/src/db/insert/MemTableFile.h
  core/unittest/db/test_mem.cpp
Owners: @scsven

#2395 Fix large nq cudaMalloc (#2409)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
Owners: @JinHai-CN, @shengjun1985

midify Binary IVF in faiss 1.6.3 (#2416)
  core/src/index/thirdparty/faiss/IndexBinaryIVF.cpp
Owners: @shengjun1985

optimize merge process (#2419)
  core/src/db/merge/MergeAdaptiveStrategy.cpp
  core/src/db/merge/MergeLayeredStrategy.cpp
  core/src/server/delivery/request/DropCollectionRequest.cpp
Owners: @scsven

update ci cron on 0.10.0 (#2428)
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_restart.py
Owners: @JinHai-CN

update type of mem_stats 4 avoiding overflow
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

update mem_stat
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

optimization 1, remove label and label_lookup
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

add debug APIs and update GPU temp memory size (#2420)
  CHANGELOG.md
  DESIGN.md
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/index/archive/KnowhereResource.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.h
  core/src/scheduler/resource/Resource.cpp
  core/src/scheduler/task/Path.h
  core/src/scheduler/tasklabel/SpecResLabel.h
  core/src/scheduler/tasklabel/TaskLabel.h
  core/unittest/server/test_rpc.cpp
Owners: @JinHai-CN, @scsven, @shengjun1985

performance issues (#2438)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/Options.h
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/db/wal/WalManager.cpp
  core/src/server/DBWrapper.cpp
  core/src/server/delivery/request/CompactRequest.cpp
  core/src/server/delivery/request/GetVectorsByIDRequest.cpp
  core/src/server/delivery/request/PreloadCollectionRequest.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_db_mysql.cpp
  core/unittest/db/test_delete.cpp
  core/unittest/db/test_hybrid_db.cpp
  core/unittest/db/test_mem.cpp
  core/unittest/db/test_search_by_id.cpp
  core/unittest/metrics/test_metrics.cpp
  core/unittest/server/test_util.cpp
Owners: @scsven, @yhmo

improve knowhere coverage (#2444)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/index/knowhere/knowhere/index/Index.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/thirdparty/faiss/Index.cpp
  core/src/index/thirdparty/faiss/Index.h
  core/src/index/thirdparty/faiss/IndexBinary.cpp
  core/src/index/thirdparty/faiss/IndexBinary.h
  core/src/index/thirdparty/faiss/IndexBinaryIVF.cpp
  core/src/index/thirdparty/faiss/IndexBinaryIVF.h
  core/src/index/thirdparty/faiss/IndexIVF.cpp
  core/src/index/thirdparty/faiss/IndexIVF.h
  core/src/index/thirdparty/faiss/MetaIndexes.cpp
  core/src/index/thirdparty/faiss/MetaIndexes.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/test_annoy.cpp
  core/src/index/unittest/test_binaryidmap.cpp
  core/src/index/unittest/test_binaryivf.cpp
  core/src/index/unittest/test_customized_index.cpp
  core/src/index/unittest/test_hnsw.cpp
  core/src/index/unittest/test_idmap.cpp
  core/src/index/unittest/test_instructionset.cpp
  core/src/index/unittest/test_ivf.cpp
  core/src/index/unittest/test_nsg.cpp
  core/src/index/unittest/test_sptag.cpp
  core/src/index/unittest/utils.cpp
  core/src/index/unittest/utils.h
Owners: @JinHai-CN, @scsven, @shengjun1985

[skip ci] Update CHANGELOG
  CHANGELOG.md
Owners: @JinHai-CN

fix search by GPU (#2453)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/gpu/impl/IVFUtilsSelect1.cu
  core/src/index/thirdparty/faiss/gpu/impl/L2Select.cu
  core/src/index/thirdparty/faiss/gpu/utils/BlockSelectKernel.cuh
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @shengjun1985, @scsven

Fix inconsistent reading and writing when using mishards (# 2367) (#2442)
  CHANGELOG.md
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @yhmo, @scsven

update shards deploy method on 0.9.1 (#2430)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
Owners: @JinHai-CN

try connect set false (#2443)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

Updated logo and architecture links. (#2529)
  README.md
  README_CN.md
Owners: @JinHai-CN

upgrade1: remove label and label_lookup in hnsw
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

Reduce the compiling thread number
  ci/jenkins/step/build.groovy
Owners: @JinHai-CN

Add cases (#2451)
  tests/milvus_python_test/collection/test_collection.py
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

fix bug of openblas library install fail (#2457)
  CHANGELOG.md
  core/src/CMakeLists.txt
  core/src/index/cmake/FindOpenBLAS.cmake
Owners: @JinHai-CN, @scsven, @shengjun1985

merge before index
  core/src/db/DBImpl.cpp
Owners: @scsven

Mishards 091 (#2462)
  CHANGELOG.md
  shards/README.md
  shards/README_CN.md
  shards/all_in_one/all_in_one.yml
  shards/all_in_one/ro_server.yml
  shards/all_in_one/wr_server.yml
  shards/all_in_one_with_mysql/all_in_one.yml
  shards/all_in_one_with_mysql/ro_server.yml
  shards/all_in_one_with_mysql/wr_server.yml
  shards/mishards/settings.py
  shards/requirements.txt
Owners: @JinHai-CN, @XuPeng-SH

[skip ci] Update CHANGELOG
  CHANGELOG.md
Owners: @JinHai-CN

fix logic error
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

update level stats
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

add more statistics
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

prepose non-concurrent operation in addPoint
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

fix: shards/requirements.txt to reduce vulnerabilities (#2536)
  shards/requirements.txt
Owners: @XuPeng-SH

optimize the implemention of k-selection on faiss gpu version (#2467)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/gpu/utils/Select.cuh
Owners: @JinHai-CN, @shengjun1985

fix test_during_creating_index_restart (#2474)
  tests/milvus_python_test/test_restart.py
Owners: @JinHai-CN

#2394 Drop collection timeout if too many partitions created on colle… (#2477)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/scheduler/job/DeleteJob.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_meta_mysql.cpp
Owners: @JinHai-CN, @scsven, @yhmo

fix merge result (#2463)
  core/src/scheduler/JobMgr.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/unittest/db/test_delete.cpp
  tests/milvus_python_test/entity/test_delete.py
Owners: @scsven, @JinHai-CN

Update helm charts dependencies (#2481)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

upgrade build about 2.6p when M=16,efCon=100
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

read_only node detect delete vector operation using mishards #2368 (#2473)
  CHANGELOG.md
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/grpc/gen-milvus/milvus.grpc.pb.cc
  core/src/grpc/gen-milvus/milvus.grpc.pb.h
  core/src/grpc/gen-milvus/milvus.pb.cc
  core/src/grpc/gen-milvus/milvus.pb.h
  core/src/grpc/milvus.proto
  core/src/scheduler/task/SearchTask.cpp
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/request/BaseRequest.cpp
  core/src/server/delivery/request/BaseRequest.h
  core/src/server/delivery/request/ReLoadSegmentsRequest.cpp
  core/src/server/delivery/request/ReLoadSegmentsRequest.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  sdk/grpc-gen/gen-milvus/milvus.grpc.pb.cc
  sdk/grpc-gen/gen-milvus/milvus.grpc.pb.h
  sdk/grpc-gen/gen-milvus/milvus.pb.cc
  sdk/grpc-gen/gen-milvus/milvus.pb.h
  shards/mishards/router/plugins/file_based_hash_ring_router.py
  shards/mishards/service_handler.py
  shards/mishards/settings.py
  shards/requirements.txt
Owners: @JinHai-CN, @scsven, @XuPeng-SH

Fix 2495: Add more reason of creating lock file failed (#2496)
  CHANGELOG.md
  core/src/server/init/InstanceLockCheck.cpp
Owners: @JinHai-CN, @scsven
