Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

Mishards upgrade (#2260)
  CHANGELOG.md
  shards/mishards/connections.py
  shards/mishards/grpc_utils/grpc_args_parser.py
  shards/mishards/router/__init__.py
  shards/mishards/router/plugins/file_based_hash_ring_router.py
  shards/mishards/service_handler.py
  shards/requirements.txt
  tests/milvus_python_test/test_connect.py
Owners: @JinHai-CN, @XuPeng-SH

print warning on stdout (#2243)
  core/src/server/Server.cpp
Owners: @scsven

Fix #2248: use hostname and port as instance label of metrics (#2249)
  CHANGELOG.md
  core/src/metrics/prometheus/PrometheusMetrics.cpp
Owners: @JinHai-CN, @scsven

[skip ci] update shards requirements (#2262)
  CHANGELOG.md
  shards/requirements.txt
Owners: @JinHai-CN, @XuPeng-SH

Obtain running rpc requests information (#2240) (#2241)
  CHANGELOG.md
  core/src/codecs/default/DefaultAttrsFormat.cpp
  core/src/server/context/Context.cpp
  core/src/server/context/Context.h
  core/src/server/delivery/request/BaseRequest.cpp
  core/src/server/delivery/request/BaseRequest.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/unittest/CMakeLists.txt
  core/unittest/server/CMakeLists.txt
  core/unittest/server/test_rpc.cpp
Owners: @JinHai-CN, @scsven

#1925 (#2257)
  CHANGELOG.md
  core/src/server/delivery/request/FlushRequest.cpp
Owners: @JinHai-CN, @scsven

k-means L2 (#2258)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/Clustering.cpp
  core/src/index/thirdparty/faiss/Index.cpp
  core/src/index/thirdparty/faiss/Index.h
  core/src/index/thirdparty/faiss/IndexFlat.cpp
  core/src/index/thirdparty/faiss/IndexFlat.h
  core/src/index/thirdparty/faiss/c_api/Index_c.cpp
  core/src/index/thirdparty/faiss/c_api/Index_c.h
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/index/thirdparty/faiss/utils/distances.h
Owners: @JinHai-CN, @shengjun1985

code clean (#2265)
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/db/Utils.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/archive/KnowhereResource.cpp
  core/src/metrics/prometheus/PrometheusMetrics.cpp
  core/src/server/Server.cpp
  core/src/server/grpc_impl/GrpcServer.cpp
  core/src/server/web_impl/WebServer.cpp
  core/src/utils/Status.h
  core/unittest/server/test_config.cpp
Owners: @scsven, @shengjun1985

0.8.0 id=-1 is returned when total count < topk (#2263)
  CHANGELOG.md
  sdk/grpc/ClientProxy.cpp
Owners: @JinHai-CN, @scsven

Update build environment version to v0.9.0 (#2267)
  .hadolint.yaml
  ci/docker/centos-7-core.dockerfile
  ci/docker/ubuntu-18.04-core.dockerfile
  docker/build_env/cpu/centos7/Dockerfile
  docker/build_env/cpu/ubuntu16.04/Dockerfile
  docker/build_env/cpu/ubuntu18.04/Dockerfile
  docker/build_env/gpu/centos7/Dockerfile
  docker/build_env/gpu/ubuntu16.04/Dockerfile
  docker/build_env/gpu/ubuntu18.04/Dockerfile
Owners: @JinHai-CN

[skip ci] Filter id:-1 (#2274)
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_search_by_ids.py
  tests/milvus_python_test/test_search_vectors.py
Owners: @JinHai-CN

upgrade config to 0.4 (#2273)
  core/CMakeLists.txt
  core/conf/demo/log_config.conf
  core/conf/demo/server_config.yaml
  core/conf/log_config.template
  core/conf/server_config.template
  core/src/config/Config.cpp
Owners: @scsven

#2261 (#2270)
  CHANGELOG.md
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/server/delivery/request/HasCollectionRequest.cpp
Owners: @JinHai-CN, @scsven, @yhmo

Deploy retry (#2276)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

Openblas macro (#2269)
  CHANGELOG.md
  ci/jenkins/pod/milvus-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-ubuntu18.04-build-env-pod.yaml
  ci/scripts/build.sh
  core/build.sh
  core/src/CMakeLists.txt
  core/src/index/cmake/FindFAISS.cmake
  core/src/index/cmake/FindOpenBLAS.cmake
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/faiss_benchmark/CMakeLists.txt
  core/src/index/unittest/faiss_ori/CMakeLists.txt
Owners: @JinHai-CN, @scsven, @shengjun1985

update debug log (#2275)
  core/src/scheduler/selector/BuildIndexPass.cpp
  core/src/scheduler/selector/BuildIndexPass.h
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissFlatPass.h
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.h
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.h
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.h
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.h
Owners: @scsven

Fix show partitions failed in http module (fix #2228) (#2234)
  CHANGELOG.md
  core/src/server/web_impl/component/AppComponent.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/thirdparty/versions.txt
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

Config upgrade (#2281)
  core/CMakeLists.txt
  core/build.sh
Owners: @scsven

Merge strategy (#2277)
  core/src/CMakeLists.txt
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/merge/MergeLayeredStrategy.cpp
  core/src/db/merge/MergeLayeredStrategy.h
  core/src/db/merge/MergeManager.h
  core/src/db/merge/MergeManagerFactory.cpp
  core/src/db/merge/MergeManagerFactory.h
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/merge/MergeManagerImpl.h
  core/src/db/merge/MergeSimpleStrategy.cpp
  core/src/db/merge/MergeSimpleStrategy.h
  core/src/db/merge/MergeStrategy.h
  core/src/db/merge/MergeTask.cpp
  core/src/db/merge/MergeTask.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/server/delivery/strategy/SearchReqStrategy.cpp
  core/unittest/CMakeLists.txt
Owners: @scsven, @yhmo

add java case
  tests/milvus-java-test/src/main/java/com/TestSearchByIds.java
  tests/milvus-java-test/src/main/java/com/TestSearchVectors.java
Owners: @JinHai-CN

update version && disable http async
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_ping.py
Owners: @JinHai-CN

[skip ci] Upgrade mishrads configuration to version 0.4 (#2301)
  CHANGELOG.md
  shards/all_in_one/ro_server.yml
  shards/all_in_one/wr_server.yml
  shards/all_in_one_with_mysql/ro_server.yml
  shards/all_in_one_with_mysql/wr_server.yml
Owners: @JinHai-CN, @XuPeng-SH

rename interfaces in cases (#2298)
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_collection.py
  tests/milvus_python_test/test_collection_count.py
  tests/milvus_python_test/test_collection_info.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_delete_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_get_vector_ids.py
  tests/milvus_python_test/test_get_vectors_by_ids.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_mix.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_search_by_ids.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/test_wal.py
Owners: @JinHai-CN

update unittest config version (#2299)
  core/unittest/server/utils.cpp
Owners: @scsven

Remove search_by_id in tests (#2302)
  tests/milvus_python_test/test_search_by_id.py
  tests/milvus_python_test/test_search_by_ids.py
Owners: @JinHai-CN

#2283 Suspend the building tasks when any query command arrives (#2285)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/BuilderSuspend.h
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.cpp
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/index/thirdparty/faiss/BuilderSuspend.cpp
  core/src/index/thirdparty/faiss/BuilderSuspend.h
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/index/thirdparty/faiss/utils/distances.h
  core/src/scheduler/CPUBuilder.cpp
  core/src/scheduler/CPUBuilder.h
  core/src/scheduler/JobMgr.cpp
  core/src/scheduler/SchedInst.cpp
  core/src/scheduler/SchedInst.h
Owners: @JinHai-CN, @scsven, @shengjun1985

rewrite HasPartition (#2289)
  CHANGELOG.md
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/merge/MergeLayeredStrategy.cpp
  core/src/db/merge/MergeManagerFactory.cpp
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/server/delivery/request/HasPartitionRequest.cpp
  core/unittest/db/utils.cpp
  core/unittest/server/test_config.cpp
  core/unittest/server/utils.cpp
  sdk/build-support/lint_exclusions.txt
  sdk/examples/binary_vector/src/ClientTest.cpp
  sdk/examples/hybrid/src/ClientTest.cpp
  sdk/examples/partition/src/ClientTest.cpp
  sdk/examples/qps/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.h
  sdk/grpc/ClientProxy.cpp
  sdk/grpc/ClientProxy.h
  sdk/grpc/GrpcClient.cpp
  sdk/grpc/GrpcClient.h
  sdk/include/MilvusApi.h
  sdk/interface/ConnectionImpl.cpp
  sdk/interface/ConnectionImpl.h
Owners: @JinHai-CN, @scsven, @yhmo

Fix server start failed when mode is 'read_only' (#2294)
  core/src/server/init/StorageChecker.cpp
  core/unittest/server/test_web.cpp
Owners: @scsven

[skip ci] Update CHANGELOG
  CHANGELOG.md
Owners: @JinHai-CN

[skip ci] Update CHANGELOG
  CHANGELOG.md
Owners: @JinHai-CN

[skip ci]: add Snapshot design doc link (#2320)
  DESIGN.md
Owners: @JinHai-CN

Caiyd support disable sptag (#2308)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/CMakeLists.txt
  core/src/index/cmake/DefineOptionsCore.cmake
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/faiss_benchmark/CMakeLists.txt
  core/src/index/unittest/faiss_ori/CMakeLists.txt
  core/unittest/db/test_engine.cpp
Owners: @JinHai-CN, @scsven, @shengjun1985

fix #2264 (#2323)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/metrics/SystemInfo.cpp
  core/unittest/db/utils.cpp
Owners: @JinHai-CN, @scsven

Improve efficiency in Docker build stage (#2334)
  .github/workflows/core.yml
  ci/jenkins/Jenkinsfile
  ci/jenkins/pod/docker-pod.yaml
  ci/jenkins/step/publishImages.groovy
  docker-compose.yml
  docker/build_env/cpu/ubuntu16.04/docker-entrypoint.sh
  docker/build_env/cpu/ubuntu18.04/docker-entrypoint.sh
  docker/build_env/docker-compose.yaml
  docker/build_env/docker-entrypoint.sh
  docker/build_env/gpu/centos7/docker-entrypoint.sh
  docker/build_env/gpu/ubuntu16.04/docker-entrypoint.sh
  docker/build_env/gpu/ubuntu18.04/docker-entrypoint.sh
  docker/deploy/cpu/ubuntu16.04/docker-entrypoint.sh
  docker/deploy/cpu/ubuntu18.04/docker-entrypoint.sh
  docker/deploy/docker-compose.yaml
  docker/deploy/docker-entrypoint.sh
  docker/deploy/gpu/centos7/docker-entrypoint.sh
  docker/deploy/gpu/ubuntu16.04/docker-entrypoint.sh
  docker/deploy/gpu/ubuntu18.04/docker-entrypoint.sh
Owners: @JinHai-CN

enable config unittest (#2329)
  core/unittest/server/test_config.cpp
Owners: @scsven

[skip ci] Mishards 0.9.0 update (#2317)
  CHANGELOG.md
  shards/mishards/service_handler.py
  shards/mishards/settings.py
  shards/requirements.txt
Owners: @JinHai-CN, @XuPeng-SH

Rename methods (#2312)
  tests/milvus-java-test/MilvusSDkJavaTest.iml
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestAddVectors.java
  tests/milvus-java-test/src/main/java/com/TestCollection.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestDeleteVectors.java
  tests/milvus-java-test/src/main/java/com/TestFlush.java
  tests/milvus-java-test/src/main/java/com/TestGetVectorByID.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestMix.java
  tests/milvus-java-test/src/main/java/com/TestPS.java
  tests/milvus-java-test/src/main/java/com/TestPartition.java
  tests/milvus-java-test/src/main/java/com/TestSearchByIds.java
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_collection.py
  tests/milvus_python_test/test_collection_count.py
  tests/milvus_python_test/test_collection_info.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_delete_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_get_vector_ids.py
  tests/milvus_python_test/test_get_vectors_by_ids.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_mix.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_search_by_id.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/test_wal.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

[skip ci] update nightly cron (#2324)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

fix ci helm params (#2333)
  ci/jenkins/step/shardsDevNightlyTest.groovy
Owners: @JinHai-CN

Remove unnecessary memcpy (#2337)
  core/src/db/insert/VectorSource.cpp
  core/src/db/insert/VectorSource.h
  core/src/db/merge/MergeLayeredStrategy.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/src/segment/Vectors.cpp
  core/src/segment/Vectors.h
Owners: @scsven

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985
