Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

add dependency (#3020)
  core/src/log/CMakeLists.txt
Owners: @scsven

[skip ci] Updated INSTALL.md. (#3016)
  INSTALL.md
Owners: @JinHai-CN

optimizer parallel policy (#3015)
  core/src/index/thirdparty/faiss/utils/distances.cpp
Owners: @shengjun1985

Improvement in GetEntityById grpc interface (#3019)
  core/src/server/delivery/hybrid_request/GetEntityByIDRequest.cpp
  core/src/server/delivery/hybrid_request/GetEntityByIDRequest.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

(db/snapshot) Support sqlite (#3021)
  core/src/db/meta/MetaAdapter.h
  core/src/db/meta/MetaNames.h
  core/src/db/meta/MetaResourceAttrs.cpp
  core/src/db/meta/MetaResourceAttrs.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/backend/MetaSchema.cpp
  core/src/db/meta/backend/MetaSchema.h
  core/src/db/meta/backend/MockEngine.cpp
  core/src/db/meta/backend/MockEngine.h
  core/src/db/meta/backend/SqliteEngine.cpp
  core/src/db/meta/backend/SqliteEngine.h
  core/src/db/snapshot/Store.h
  core/src/utils/Error.h
  core/unittest/ssdb/test_ss_meta.cpp
  core/unittest/ssdb/utils.cpp
Owners: @yhmo, @scsven

remove unused code (#3024)
  core/src/CMakeLists.txt
  core/unittest/CMakeLists.txt
Owners: @scsven

[skip ci] remove int8 (#3026)
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

fix bug in GetEntityByID with multi id querys (#3027)
  core/src/server/delivery/request/GetEntityByIDRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

disable wal (#3029)
  core/src/server/DBWrapper.cpp
Owners: @scsven

[skip ci] Rename dimension to dim in dev test case (#3030)
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

(db/snapshot) Remove sqlite-orm (#3028)
  CHANGELOG.md
  core/cmake/DefineOptions.cmake
  core/cmake/ThirdPartyPackages.cmake
  core/src/db/DBFactory.cpp
  core/src/db/Options.cpp
  core/src/db/meta/MetaFactory.cpp
  core/src/db/meta/MetaFactory.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/db/snapshot/Store.h
  core/thirdparty/versions.txt
  core/unittest/db/test_ss_task.cpp
  core/unittest/scheduler/test_task.cpp
Owners: @JinHai-CN, @scsven, @yhmo

Add return value status (#3031)
  core/src/db/SnapshotHandlers.cpp
Owners: @scsven

[skip ci] Remove milvus IndexType,MetricType import (#3034)
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_logic.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_drop_collection.py
  tests/milvus_python_test/collection/test_has_collection.py
  tests/milvus_python_test/collection/test_list_collections.py
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/stability/test_mysql.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

add cmake macro (#3036)
  core/CMakeLists.txt
  core/cmake/Utils.cmake
Owners: @scsven

#1842 Remove code for 0.7.0 compatibility (#3033)
  core/src/index/knowhere/knowhere/index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/IndexType.h
Owners: @shengjun1985

remove SS (#3040)
  .github/PULL_REQUEST_TEMPLATE.md
  core/src/db/DBImpl.cpp
  core/src/db/engine/EngineFactory.cpp
  core/src/db/engine/EngineFactory.h
  core/src/db/engine/ExecutionEngine.h
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/scheduler/Definition.h
  core/src/scheduler/TaskCreator.cpp
  core/src/scheduler/TaskCreator.h
  core/src/scheduler/job/BuildIndexJob.h
  core/src/scheduler/job/SearchJob.h
  core/src/scheduler/task/BuildIndexTask.h
  core/src/scheduler/task/SearchTask.h
  core/unittest/db/test_ss_job.cpp
Owners: @JinHai-CN, @scsven

(db/snapshot) Fix sqlite start fail (#3038)
  core/CMakeLists.txt
  core/src/db/meta/MetaFactory.cpp
  core/src/index/thirdparty/faiss/IndexBinaryIVF.cpp
  core/src/index/thirdparty/faiss/InvertedLists.cpp
  core/src/index/thirdparty/faiss/gpu/GpuCloner.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizer.cpp
  core/src/scheduler/task/SearchTask.cpp
Owners: @scsven, @yhmo, @shengjun1985

(snapshot/db): fix GC bug and some enhancement (#3035)
  core/src/codecs/Codec.cpp
  core/src/codecs/Codec.h
  core/src/db/DBImpl.cpp
  core/src/db/meta/MetaResourceAttrs.cpp
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/db/meta/backend/SqliteEngine.cpp
  core/src/db/snapshot/EventExecutor.h
  core/src/db/snapshot/HandlerFactory.h
  core/src/db/snapshot/InActiveResourcesGCEvent.h
  core/src/db/snapshot/MetaEvent.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/ResourceGCEvent.h
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Store.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/test_ss_event.cpp
  core/unittest/db/utils.cpp
  core/unittest/db/utils.h
Owners: @scsven, @yhmo

refine scheduler job task (#3044)
  core/src/db/CMakeLists.txt
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/engine/ExecutionEngine.h
  core/src/scheduler/JobMgr.cpp
  core/src/scheduler/TaskCreator.cpp
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/scheduler/job/BuildIndexJob.h
  core/src/scheduler/job/DeleteJob.cpp
  core/src/scheduler/job/DeleteJob.h
  core/src/scheduler/job/Job.cpp
  core/src/scheduler/job/Job.h
  core/src/scheduler/job/SearchJob.cpp
  core/src/scheduler/job/SearchJob.h
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/scheduler/task/BuildIndexTask.h
  core/src/scheduler/task/SearchTask.cpp
  core/src/scheduler/task/SearchTask.h
  core/src/scheduler/task/Task.cpp
  core/src/scheduler/task/Task.h
  core/src/scheduler/task/TestTask.cpp
  core/src/scheduler/task/TestTask.h
  core/src/segment/SegmentWriter.cpp
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
  core/unittest/scheduler/CMakeLists.txt
  core/unittest/scheduler/test_job.cpp
  core/unittest/scheduler/test_resource.cpp
  core/unittest/scheduler/test_resource_mgr.cpp
  core/unittest/scheduler/test_selector.cpp
  core/unittest/scheduler/test_task.cpp
  core/unittest/scheduler/test_tasktable.cpp
Owners: @scsven

cmd case insensitive (#3042)
  core/src/server/delivery/request/CmdReq.cpp
  core/src/server/delivery/request/CmdReq.h
Owners: @scsven

remove wrong file (#3048)
  sdk/include/MilvusApi.h.0726
Owners: @scsven

Add search implementation in ExecutionEngine (#3039)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndex.h
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndexFlat-inl.h
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndexFlat.h
  core/src/query/GeneralQuery.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven, @shengjun1985

fix bugs in inserting vectors test case (#3045)
  core/src/db/DBImpl.cpp
  core/src/segment/SegmentReader.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

Remove repeated built src files in unittest/CMakeLists (#3047)
  core/src/CMakeLists.txt
  core/src/db/CMakeLists.txt
  core/src/utils/CMakeLists.txt
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
Owners: @scsven

save local work
  core/src/index/thirdparty/faiss/IndexHNSW.cpp
  core/src/index/thirdparty/faiss/impl/HNSW.cpp
  core/src/index/thirdparty/faiss/impl/HNSW.h
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-faiss.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-milvus.cpp
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/visited_list_pool.h
Owners: @shengjun1985

Update InactiveResourceGCEvent (#3051)
  core/src/db/snapshot/InActiveResourcesGCEvent.h
  core/src/db/snapshot/MetaEvent.h
  core/src/db/snapshot/ResourceGCEvent.h
Owners: @scsven

(snapshot/db): add ChangeSegmentFileOperation and related test (#3050)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Context.cpp
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.h
Owners: @scsven

update (#3055)
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
Owners: @JinHai-CN

Add index fields in QueryPtr (#3049)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/query/BinaryQuery.cpp
  core/src/query/GeneralQuery.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/SearchReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.h
Owners: @scsven

refine code (#3054)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/segment/SegmentReader.h
Owners: @scsven

add valid row implementation (#3053)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/server/delivery/ReqHandler.cpp
  core/src/server/delivery/ReqHandler.h
  core/src/server/delivery/request/GetEntityByIDReq.cpp
  core/src/server/delivery/request/GetEntityByIDReq.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

build index (#3056)
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/StructuredIndexFormat.h
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/engine/EngineFactory.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemSegment.cpp
  core/src/db/meta/MetaTypes.h
  core/src/scheduler/Definition.h
  core/src/segment/Segment.h
  core/src/segment/SegmentReader.cpp
  core/src/server/delivery/ReqHandler.cpp
  core/src/server/delivery/ReqHandler.h
  core/src/server/delivery/request/BaseReq.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/CreateCollectionReq.h
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/delivery/request/GetEntityByIDReq.cpp
  core/src/server/delivery/request/SearchReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/db/test_db.cpp
  core/unittest/db/utils.cpp
  core/unittest/db/utils.h
Owners: @scsven, @yhmo

(db/snapshot): add CompoundSegmentsOperation and related test (#3057)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.h
Owners: @scsven

fix collection ci (#3061)
  core/src/config/ConfigMgr.cpp
  core/src/config/ConfigMgr.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/segment/SegmentReader.cpp
  core/src/server/delivery/ReqHandler.cpp
  core/src/server/delivery/ReqHandler.h
  core/src/server/delivery/request/BaseReq.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/CreateCollectionReq.h
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

build index (#3058)
  core/CMakeLists.txt
  core/src/codecs/DeletedDocsFormat.h
  core/src/codecs/IdBloomFilterFormat.h
  core/src/codecs/StructuredIndexFormat.h
  core/src/codecs/VectorCompressFormat.h
  core/src/codecs/VectorIndexFormat.h
  core/src/db/DBImpl.cpp
  core/src/db/engine/EngineFactory.cpp
  core/src/db/engine/EngineFactory.h
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/scheduler/job/BuildIndexJob.h
  core/src/scheduler/job/Job.cpp
  core/src/scheduler/job/Job.h
  core/src/scheduler/job/SearchJob.cpp
  core/src/scheduler/job/SearchJob.h
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/scheduler/task/BuildIndexTask.h
  core/src/scheduler/task/SearchTask.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/unittest/db/test_db.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

fix build index bug (#3066)
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/meta/MetaTypes.h
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/delivery/request/SearchReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/utils/Error.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_segment.cpp
Owners: @scsven, @yhmo

ThirdParty libs won't be re-downloaded after make clean (#3059)
  core/CMakeLists.txt
  core/cmake/ThirdPartyPackages.cmake
  core/src/CMakeLists.txt
  core/src/config/CMakeLists.txt
  core/src/db/CMakeLists.txt
  core/src/log/CMakeLists.txt
  core/src/metrics/CMakeLists.txt
  core/src/query/CMakeLists.txt
  core/src/tracing/CMakeLists.txt
  core/src/utils/CMakeLists.txt
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
Owners: @scsven

[skip ci] update segment_size to segment_row_count (#3068)
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_logic.py
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_wal.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

get collection stats (#3069)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/db/Types.h
  core/src/db/merge/MergeSimpleStrategy.cpp
  core/src/db/merge/MergeStrategy.h
  core/src/db/meta/MetaTypes.h
  core/src/scheduler/Definition.h
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/DeleteEntityByIDReq.cpp
  core/src/server/delivery/request/GetCollectionStatsReq.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven, @yhmo

[skip ci]quick fix (#3071)
  core/CMakeLists.txt
Owners: @scsven
