Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @jeffoverflow, @cydrain, @yhmo, @shengjun1985

Create branch 0.11.0
  ci/jenkins/Jenkinsfile
  core/CMakeLists.txt
  tests/milvus_python_test/test_ping.py
Owners: @jeffoverflow, @cydrain, @scsven

Fix no debug and info log generated after server started (#3442)
  CHANGELOG.md
  core/src/log/LogMgr.cpp
Owners: @JinHai-CN, @scsven

add test case: list id after delete more entities & add compact with invalid threshold (#3444)
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/test_compact.py
Owners: @cydrain

clear task from tasktable (#3440)
  CHANGELOG.md
  core/src/scheduler/resource/Resource.cpp
Owners: @JinHai-CN, @scsven

ListIDInSegment get wrong result when delete more than one ids (#3447)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

Fix rhnsw flat ut error (#3451)
  CHANGELOG.md
  core/src/index/unittest/test_rhnsw_flat.cpp
Owners: @JinHai-CN, @shengjun1985

fix the data type of crc32c (#3456)
  core/src/storage/ExtraFileInfo.cpp
  core/src/storage/ExtraFileInfo.h
  core/src/storage/ExtraFileInfoTest.cpp
Owners: @scsven

[skip ci] update shards install cmd (#3471)
  .jenkins/modules/DevTest/MishardsDevTest.groovy
Owners: @JinHai-CN

wal implement (#3464)
  CHANGELOG.md
  core/src/db/Constants.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/Types.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/insert/MemSegment.cpp
  core/src/db/insert/MemSegment.h
  core/src/db/insert/VectorSource.cpp
  core/src/db/insert/VectorSource.h
  core/src/db/merge/MergeManager.h
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/merge/MergeManagerImpl.h
  core/src/db/wal/WalFile.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/src/db/wal/WalOperationCodec.cpp
  core/src/log/LogMgr.cpp
  core/src/scheduler/job/BuildIndexJob.h
  core/src/scheduler/resource/Resource.cpp
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/src/segment/SegmentWriter.cpp
  core/src/server/DBWrapper.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/web_impl/controller/WebController.hpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_wal.cpp
  core/unittest/db/utils.cpp
  shards/requirements.txt
Owners: @JinHai-CN, @scsven, @XuPeng-SH

fix index check (#3478)
  core/src/server/ValidationUtil.cpp
  tests/milvus_python_test/test_index.py
Owners: @scsven, @cydrain

merge pr3467 (#3481)
  core/conf/milvus.template
  core/src/codecs/VectorIndexFormat.cpp
  core/src/db/Constants.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/delivery/request/DescribeIndexReq.cpp
  sdk/examples/simple/src/ClientTest.cpp
  tests/milvus_python_test/collection/test_create_collection.py
Owners: @scsven, @shengjun1985, @cydrain

refine segment reader/writer (#3483)
  core/src/codecs/BlockFormat.cpp
  core/src/codecs/BlockFormat.h
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/codecs/DeletedDocsFormat.h
  core/src/codecs/IdBloomFilterFormat.cpp
  core/src/codecs/IdBloomFilterFormat.h
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/StructuredIndexFormat.h
  core/src/codecs/VectorCompressFormat.cpp
  core/src/codecs/VectorCompressFormat.h
  core/src/codecs/VectorIndexFormat.cpp
  core/src/codecs/VectorIndexFormat.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
Owners: @scsven, @shengjun1985

Separate rhnsw quantization 011 (#3487)
  core/src/codecs/VectorCompressFormat.cpp
  core/src/db/Utils.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWSQ.cpp
  core/src/index/unittest/test_rhnsw_pq.cpp
  core/src/index/unittest/test_rhnsw_sq8.cpp
Owners: @scsven, @shengjun1985

fix issue #3286 (#3488)
  core/src/config/ServerConfig.cpp
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/insert/MemSegment.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/scheduler/TaskTable.cpp
  core/src/server/delivery/request/LoadCollectionReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/utils/CommonUtil.cpp
Owners: @scsven

typo (#3496)
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CompactReq.cpp
Owners: @scsven

layer merge strategy (#3493)
  core/src/db/DBImpl.cpp
  core/src/db/merge/MergeLayerStrategy.cpp
  core/src/db/merge/MergeLayerStrategy.h
  core/src/db/merge/MergeManager.h
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/merge/MergeManagerImpl.h
  core/src/db/merge/MergeSimpleStrategy.cpp
  core/src/db/merge/MergeStrategy.h
  core/unittest/db/test_db.cpp
Owners: @scsven

Restrict the content of partition_tag (#3473)
  CHANGELOG.md
  core/src/server/ValidationUtil.cpp
  tests/milvus_python_test/test_partition.py
Owners: @JinHai-CN, @scsven, @cydrain

[skip ci]fix cpplint (#3506)
  core/src/db/merge/MergeLayerStrategy.cpp
Owners: @scsven

allow modify build_index_threshold (#3498)
  core/src/config/ConfigMgr.cpp
Owners: @scsven

[skip ci] add case with invalid threshold and update mainclass (#3512)
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
Owners: @cydrain

[skip ci] update restart policy to Never (#3513)
  .jenkins/modules/DevTest/SingleNodeDevTest.groovy
Owners: @JinHai-CN

[skip ci] test new java sdk interface (#3516)
  tests/milvus-java-test/src/main/java/com/TestCollection.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount_v2.java
  tests/milvus-java-test/src/main/java/com/TestCollection_v2.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

[skip ci] test new java sdk (#3518)
  tests/milvus-java-test/src/main/java/com/TestCollection.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo_v2.java
  tests/milvus-java-test/src/main/java/com/TestDeleteEntities_v2.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities_v2.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

add cases (#3517)
  .jenkins/modules/DevTest/SingleNodeDevTest.groovy
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_drop_collection.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN, @cydrain

Normalize http method in web sever (#3504)
  CHANGELOG.md
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/db/test_db.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

Optimize snapshot GC executor (#3480)
  CHANGELOG.md
  core/src/db/Constants.h
  core/src/db/DBImpl.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/EventExecutor.h
  core/src/db/snapshot/InActiveResourcesGCEvent.h
  core/src/db/snapshot/MetaEvent.h
  core/src/db/snapshot/OperationExecutor.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/ResourceGCEvent.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Snapshots.h
  core/src/db/snapshot/Store.h
  core/src/server/DBWrapper.cpp
  core/src/server/Server.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_ss_event.cpp
  core/unittest/db/utils.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

#3472 fix the crash caused by Task::label() is null (#3523)
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/scheduler/resource/Resource.cpp
  core/src/scheduler/task/FinishedTask.cpp
  core/src/scheduler/task/FinishedTask.h
Owners: @scsven

SearchTask::nq() should not return 0 (#3522)
  CHANGELOG.md
  core/src/scheduler/task/SearchTask.cpp
  core/src/scheduler/task/SearchTask.h
  core/src/server/delivery/request/SearchReq.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  tests/milvus_python_test/entity/test_search.py
Owners: @JinHai-CN, @scsven, @cydrain

fix only fetal log file is created error on 0.11.0 (#3526)
  core/src/log/LogMgr.cpp
Owners: @scsven

scheduler/selector needs to judge the index type (#3537)
  CHANGELOG.md
  core/src/query/GeneralQuery.h
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/scheduler/task/SearchTask.h
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

Opt delete logic (#3540)
  core/src/db/insert/MemCollection.cpp
Owners: @scsven

[skip ci] add case for index with builder (#3538)
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo_v2.java
  tests/milvus-java-test/src/main/java/com/TestIndex_v2.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

merge Pr3529 to 0.11 (#3543)
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemSegment.cpp
  core/src/db/insert/MemSegment.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/src/db/wal/WalProxy.cpp
  core/src/server/Server.cpp
  core/src/server/delivery/request/InsertReq.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_wal.cpp
  core/unittest/db/utils.cpp
  core/unittest/db/utils.h
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/test_compact.py
Owners: @scsven, @cydrain

Fix field_name duplicate problem (#3548)
  core/src/scheduler/task/SearchTask.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

fix layer merge bug (#3542) (#3547)
  core/src/db/merge/MergeLayerStrategy.cpp
Owners: @scsven

fix size meta to unsigned int (#3482) (#3549)
  CHANGELOG.md
  core/src/db/meta/MetaSession.h
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/db/meta/backend/SqliteEngine.cpp
Owners: @JinHai-CN, @yhmo

Fix Server crashed during stability test (#3563)
  CHANGELOG.md
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
Owners: @JinHai-CN, @scsven

Fix SearchTask::nq() (#3559)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/query/BinaryQuery.cpp
  core/src/query/GeneralQuery.h
  core/src/scheduler/task/SearchTask.cpp
Owners: @scsven

[skip ci] update testcase (#3570)
  tests/milvus-java-test/src/main/java/com/TestCollectionCount_v2.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo_v2.java
Owners: @cydrain

Add test case: insert with disable auto flush and get entity with multi thread (#3569)
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
Owners: @cydrain

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/ci/                     @jeffoverflow @cydrain
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/         @shengjun1985
/tests/                  @cydrain
