Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

[skip ci] remove ip_collection (#3122)
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/entity/test_search_by_id.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

[skip ci]update grpc commit and md5 (#3123)
  core/cmake/ThirdPartyPackages.cmake
  core/thirdparty/versions.txt
Owners: @scsven

Fix bug (#3121)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/segment/SegmentReader.cpp
  core/src/server/delivery/request/SearchReq.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven, @shengjun1985

update grpc commit (#3125)
  core/cmake/ThirdPartyPackages.cmake
  core/thirdparty/versions.txt
Owners: @scsven

cache (#3124)
  core/src/cache/CpuCacheMgr.cpp
  core/src/cache/CpuCacheMgr.h
  core/src/cache/GpuCacheMgr.cpp
  core/src/cache/GpuCacheMgr.h
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/insert/MemCollection.cpp
  core/src/segment/DeletedDocs.cpp
  core/src/segment/DeletedDocs.h
  core/src/segment/IdBloomFilter.cpp
  core/src/segment/IdBloomFilter.h
  core/src/segment/SegmentReader.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

[skip ci] fix gen_query (#3127)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

Dsl case (#3128)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

modify proto (#3126)
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.cpp
  core/src/db/merge/MergeTask.cpp
  core/src/grpc/gen-milvus/milvus.grpc.pb.cc
  core/src/grpc/gen-milvus/milvus.grpc.pb.h
  core/src/grpc/gen-milvus/milvus.pb.cc
  core/src/grpc/gen-milvus/milvus.pb.h
  core/src/grpc/milvus.proto
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  core/unittest/db/test_db.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

fix index bug caused by json parse (#3129)
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  tests/milvus_python_test/collection/test_collection_count.py
Owners: @scsven, @JinHai-CN

(scalar) Debug delete request (#3107)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/insert/MemCollection.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/segment/SegmentWriter.cpp
  core/unittest/db/test_db.cpp
  tests/milvus_python_test/entity/test_delete.py
Owners: @scsven, @JinHai-CN

[skip ci] add dsl search cases (#3140)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

fix auto-generated id field bug (#3137)
  core/src/db/DBImpl.cpp
  core/src/db/Types.cpp
  core/src/grpc/milvus.proto
  core/unittest/db/test_db.cpp
Owners: @scsven

[skip ci] add auto_id (#3142)
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

[skip ci]add a pytest arg named tag (#3144)
  tests/milvus_python_test/conftest.py
Owners: @JinHai-CN

[skip ci]change test case level (#3143)
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

[skip ci]change test case level (#3147)
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_insert.py
Owners: @JinHai-CN

[skip ci]change search test case level (#3148)
  tests/milvus_python_test/entity/test_search.py
Owners: @JinHai-CN

Fix dsl test cases bug (#3130)
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/query/GeneralQuery.h
  core/src/segment/Segment.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/unittest/db/test_db.cpp
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @scsven, @JinHai-CN

[skip ci]change test level in entity dir (#3149)
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_search.py
Owners: @JinHai-CN

[skip ci]change test index level (#3150)
  tests/milvus_python_test/test_index.py
Owners: @JinHai-CN

[skip ci]disable test_config and some cases in test_ping (#3151)
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_ping.py
Owners: @JinHai-CN

Faiss hnsw upgrade (#3134)
  CHANGELOG.md
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/IndexType.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseIndex.cpp
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSW.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWFlat.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWFlat.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWPQ.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWSQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWSQ.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/IndexParameter.h
  core/src/index/thirdparty/faiss/Index2Layer.h
  core/src/index/thirdparty/faiss/IndexFlat.h
  core/src/index/thirdparty/faiss/IndexPQ.h
  core/src/index/thirdparty/faiss/IndexRHNSW.cpp
  core/src/index/thirdparty/faiss/IndexRHNSW.h
  core/src/index/thirdparty/faiss/IndexScalarQuantizer.h
  core/src/index/thirdparty/faiss/build.sh
  core/src/index/thirdparty/faiss/impl/ProductQuantizer.h
  core/src/index/thirdparty/faiss/impl/RHNSW.cpp
  core/src/index/thirdparty/faiss/impl/RHNSW.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizer.h
  core/src/index/thirdparty/faiss/impl/index_read.cpp
  core/src/index/thirdparty/faiss/impl/index_write.cpp
  core/src/index/thirdparty/hnswlib/hnswalg_nm.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/test_rhnsw_flat.cpp
  core/src/index/unittest/test_rhnsw_pq.cpp
  core/src/index/unittest/test_rhnsw_sq8.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/web_impl/Constants.cpp
  core/src/server/web_impl/Constants.h
Owners: @JinHai-CN, @shengjun1985, @scsven

add unittest case FetchTest (#3153)
  core/src/db/insert/MemCollection.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

fix delete eneity bug (#3161)
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/db/DBImpl.cpp
  core/src/db/Types.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemSegment.cpp
  core/src/db/insert/MemSegment.h
  core/src/segment/DeletedDocs.cpp
  core/src/segment/DeletedDocs.h
  core/src/segment/IdBloomFilter.cpp
  core/src/segment/IdBloomFilter.h
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_segment.cpp
Owners: @scsven

Move gtest download and build process to thirdparty/gtest (#3145)
  core/CMakeLists.txt
  core/cmake/ThirdPartyPackages.cmake
  core/src/CMakeLists.txt
  core/src/cache/CMakeLists.txt
  core/src/codecs/CMakeLists.txt
  core/src/config/CMakeLists.txt
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/src/metrics/CMakeLists.txt
  core/src/storage/CMakeLists.txt
  core/thirdparty/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt.in
Owners: @scsven, @shengjun1985

Fix metric_type bug in search (#3155)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/query/GeneralQuery.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/utils/Json.h
Owners: @scsven

[skip ci] Update dsl search test cases (#3156)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

Remove useless index (#3157)
  CHANGELOG.md
  core/src/db/SnapshotUtils.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/IndexType.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQNR.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQNR.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/Cloner.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_NM.h
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_SQ8NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_SQ8NM.h
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVFSQNR_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVFSQNR_NM.h
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVFSQNR_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVFSQNR_NM.h
  core/src/index/thirdparty/hnswlib/bruteforce.h
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/space_ip.h
  core/src/index/thirdparty/hnswlib/space_l2.h
  core/src/index/thirdparty/hnswlib/visited_list_pool.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/Helper.h
  core/src/index/unittest/test_hnsw.cpp
  core/src/index/unittest/test_hnsw_sq8nm.cpp
  core/src/index/unittest/test_ivfsq_cpu_nm.cpp
  core/src/index/unittest/test_ivfsq_gpu_nm.cpp
  core/src/segment/SegmentReader.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/web_impl/Constants.cpp
  core/src/server/web_impl/Constants.h
  sdk/examples/utils/Utils.cpp
  sdk/include/MilvusApi.h
Owners: @JinHai-CN, @scsven, @shengjun1985

fix delete entity test case (#3162)
  core/src/db/IDGenerator.cpp
  core/src/db/IDGenerator.h
  core/src/db/Types.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemManager.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/wal/WalBuffer.cpp
  core/src/db/wal/WalDefinations.h
  core/src/db/wal/WalManager.cpp
  core/src/segment/Segment.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

(db/snapshot): fix DeleteEntity bug (#3165)
  core/src/segment/Segment.cpp
Owners: @scsven

fix bug casued by merge and drop at the same time (#3160)
  core/src/db/DBImpl.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Store.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
Owners: @scsven

fix metric type (#3158)
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
  core/src/segment/SegmentReader.cpp
  core/unittest/db/test_db.cpp
Owners: @shengjun1985, @scsven

Fix delete crash when delete multi time (#3163)
  core/src/CMakeLists.txt
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/Store.h
  core/unittest/db/test_db.cpp
Owners: @scsven

fix build index crash (#3167)
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/segment/Segment.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

Use ccache with Make (#3164)
  ci/scripts/build.sh
  core/CMakeLists.txt
  core/src/index/CMakeLists.txt
  core/src/index/cmake/BuildUtilsCore.cmake
  core/src/index/cmake/DefineOptionsCore.cmake
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
Owners: @JinHai-CN, @scsven, @shengjun1985

fix merge hang issue (#3171)
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/Utils.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemManager.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/insert/MemSegment.cpp
  core/src/db/insert/MemSegment.h
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/merge/MergeSimpleStrategy.cpp
  core/src/db/merge/MergeTask.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/log/Log.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/delivery/request/InsertReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_segment.cpp
Owners: @scsven

Fix test_search.py::TestSearchDSL bugs (#3170)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/segment/SegmentReader.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/utils/Json.h
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @scsven, @JinHai-CN

fix bug caused by bloomfilter file not release (#3173)
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/segment/SegmentReader.cpp
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/thirdparty/dablooms/dablooms.cpp
  tests/milvus_python_test/entity/test_search.py
Owners: @scsven, @JinHai-CN

[skip ci]changelog (#3177)
  CHANGELOG.md
Owners: @JinHai-CN

fix metric type (#3179)
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
Owners: @shengjun1985
