Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

[skip ci] Update COMMUNITY.md (#1835)
  COMMUNITY.md
Owners: @JinHai-CN

Update community (#1836)
  COMMUNITY.md
Owners: @JinHai-CN

fix sq8h deletion (#1830)
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFSQHybrid.cu
  core/src/index/unittest/test_ivf.cpp
  core/src/server/delivery/request/DeleteByIDRequest.cpp
Owners: @shengjun1985, @scsven

Fix compile error (#1844)
  sdk/grpc/ClientProxy.cpp
Owners: @scsven

add annoy params validate check (#1829)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/utils/ValidationUtil.cpp
Owners: @JinHai-CN, @shengjun1985, @scsven

1845 no UT log (#1846)
  core/CMakeLists.txt
  core/src/index/CMakeLists.txt
Owners: @scsven, @shengjun1985

Reorganize readme (update cn & en; delete jp) (#1850)
  README.md
  README_CN.md
  README_JP.md
Owners: @JinHai-CN

Merge from 0.7.1 to master (#1840)
  CHANGELOG.md
  ci/jenkins/step/build.groovy
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/main.cpp
  shards/all_in_one/all_in_one.yml
  shards/all_in_one/ro_server.yml
  shards/all_in_one/wr_server.yml
  shards/all_in_one_with_mysql/all_in_one.yml
  shards/all_in_one_with_mysql/ro_server.yml
  shards/all_in_one_with_mysql/wr_server.yml
  shards/mishards/service_handler.py
  shards/requirements.txt
Owners: @JinHai-CN, @scsven, @yhmo, @XuPeng-SH

#1827 Combine request target vectors exceed max nq (#1847)
  core/src/server/delivery/request/SearchCombineRequest.cpp
  core/src/server/delivery/request/SearchRequest.h
  core/src/utils/ValidationUtil.cpp
Owners: @scsven

#1849 Support NSG Deletion (#1839)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.h
  core/src/index/unittest/test_nsg/test_nsg.cpp
  core/src/server/delivery/request/DeleteByIDRequest.cpp
Owners: @JinHai-CN, @shengjun1985, @scsven

Caiyd 1627 move rw index (#1833)
  CHANGELOG.md
  core/src/codecs/Codec.h
  core/src/codecs/VectorIndexFormat.h
  core/src/codecs/default/DefaultCodec.cpp
  core/src/codecs/default/DefaultCodec.h
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/codecs/default/DefaultVectorIndexFormat.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/archive/VecIndex.cpp
  core/src/index/archive/VecIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/src/segment/Types.h
  core/src/storage/disk/DiskIOReader.h
  core/src/storage/disk/DiskIOWriter.h
  core/src/storage/s3/S3IOReader.h
  core/src/storage/s3/S3IOWriter.h
  core/unittest/metrics/CMakeLists.txt
  core/unittest/metrics/test_metrics.cpp
Owners: @JinHai-CN, @scsven, @shengjun1985

[skip ci] Update README (#1861)
  README.md
  README_CN.md
Owners: @JinHai-CN

[skip ci] Update COMMUNITY.md (#1862)
  COMMUNITY.md
Owners: @JinHai-CN

refactor knowhere inner unittest for annoy and hnsw, which a… (#1855)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/index/unittest/test_annoy.cpp
  core/src/index/unittest/test_hnsw.cpp
  core/src/utils/ValidationUtil.cpp
Owners: @JinHai-CN, @shengjun1985, @scsven

Caiyd 1858 disable s3 build (#1860)
  CHANGELOG.md
  core/cmake/DefineOptions.cmake
  core/src/CMakeLists.txt
  core/src/config/Config.cpp
  core/src/db/Utils.cpp
  core/src/server/Server.cpp
  core/unittest/CMakeLists.txt
Owners: @JinHai-CN, @scsven

refine dbimpl (#1869)
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/unittest/db/test_delete.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

refine meta code (#1871)
  core/conf/demo/server_config.yaml
  core/src/db/insert/MemTableFile.cpp
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
Owners: @scsven, @yhmo

build index wait interval (#1872)
  core/src/db/DBImpl.cpp
Owners: @scsven

Fix compile error
  sdk/grpc/GrpcClient.cpp
Owners: @scsven

#1873 fix index file serialize to incorrect path (#1874)
  CHANGELOG.md
  core/src/codecs/VectorIndexFormat.h
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/codecs/default/DefaultVectorIndexFormat.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/src/segment/VectorIndex.h
Owners: @JinHai-CN, @scsven, @shengjun1985

add annoy case (#1868)
  tests/milvus_python_test/test_delete_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

[skip ci] Fix incorrect information in http readme (fix #1812) (#1878)
  CHANGELOG.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @scsven

code revert (#1877)
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
Owners: @shengjun1985

Caiyd 1881 bad alloc (#1892)
  CHANGELOG.md
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/storage/IOReader.h
  core/src/storage/IOWriter.h
  core/src/storage/disk/DiskIOReader.cpp
  core/src/storage/disk/DiskIOReader.h
  core/src/storage/disk/DiskIOWriter.cpp
  core/src/storage/disk/DiskIOWriter.h
  core/src/storage/s3/S3IOReader.cpp
  core/src/storage/s3/S3IOReader.h
  core/src/storage/s3/S3IOWriter.cpp
  core/src/storage/s3/S3IOWriter.h
  core/unittest/CMakeLists.txt
  core/unittest/storage/CMakeLists.txt
  core/unittest/storage/test_disk.cpp
Owners: @JinHai-CN, @scsven

Refactor log on search and insert request (#1887)
  CHANGELOG.md
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemTable.cpp
  core/src/db/insert/MemTableFile.cpp
  core/src/db/insert/VectorSource.cpp
  core/src/db/wal/WalManager.cpp
  core/src/scheduler/SchedInst.h
  core/src/scheduler/job/SearchJob.cpp
  core/src/scheduler/optimizer/FaissFlatPass.cpp
  core/src/scheduler/optimizer/FaissIVFFlatPass.cpp
  core/src/scheduler/optimizer/FaissIVFPQPass.cpp
  core/src/scheduler/optimizer/FaissIVFSQ8HPass.cpp
  core/src/scheduler/optimizer/FaissIVFSQ8Pass.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/Server.cpp
  core/src/server/delivery/request/InsertRequest.cpp
  core/src/server/delivery/request/SearchRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/Constants.h
  core/src/server/web_impl/Types.h
  core/src/utils/Log.cpp
  core/src/utils/Log.h
  core/src/utils/LogUtil.cpp
  core/unittest/CMakeLists.txt
Owners: @JinHai-CN, @scsven

Caiyd 1885 optimize knowhere ut (#1889)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissIO.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/Helper.h
  core/src/index/unittest/test_binaryidmap.cpp
  core/src/index/unittest/test_binaryivf.cpp
  core/src/index/unittest/test_nsg.cpp
  core/src/index/unittest/test_nsg/CMakeLists.txt
  core/src/index/unittest/utils.cpp
  core/src/index/unittest/utils.h
Owners: @JinHai-CN, @shengjun1985

fix potential hang bug (#1884)
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/unittest/scheduler/test_task.cpp
Owners: @scsven

#1276 SQLite throw exception when create 50000+ partitions in a table (#1879)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/server/delivery/request/CreatePartitionRequest.cpp
Owners: @JinHai-CN, @scsven

Fix multi client search crash in tracing module fix #1789 fix #1832 (#1899)
  CHANGELOG.md
  core/cmake/ThirdPartyPackages.cmake
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
Owners: @JinHai-CN, @scsven

#1897 add heap_swap_top (#1898)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/IndexBinaryIVF.cpp
  core/src/index/thirdparty/faiss/IndexIVFFlat.cpp
  core/src/index/thirdparty/faiss/IndexIVFPQ.cpp
  core/src/index/thirdparty/faiss/IndexIVFPQR.cpp
  core/src/index/thirdparty/faiss/IndexIVFSpectralHash.cpp
  core/src/index/thirdparty/faiss/IndexPQ.cpp
  core/src/index/thirdparty/faiss/impl/ProductQuantizer.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizer.cpp
  core/src/index/thirdparty/faiss/utils/BinaryDistance.cpp
  core/src/index/thirdparty/faiss/utils/Heap.cpp
  core/src/index/thirdparty/faiss/utils/Heap.h
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/index/thirdparty/faiss/utils/hamming.cpp
Owners: @JinHai-CN, @shengjun1985

check task table limit (#1902)
  core/src/db/DBImpl.cpp
  core/src/scheduler/Definition.h
  core/src/scheduler/TaskTable.h
Owners: @scsven

[skip ci] Add auto-merge action (#1908)
  .github/workflows/automerge.yml
Owners: @JinHai-CN

Change to 0.8.0 and rename from preload_table to preload_collection (#1904)
  CHANGELOG.md
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
  core/CMakeLists.txt
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/server/DBWrapper.cpp
  core/src/server/DBWrapper.h
  core/src/server/web_impl/README.md
  core/unittest/server/test_config.cpp
  core/unittest/server/test_web.cpp
  core/unittest/server/utils.cpp
  sdk/grpc/ClientProxy.cpp
  tests/milvus_benchmark/conf/server_config.yaml
  tests/milvus_benchmark/conf/server_config.yaml.cpu
  tests/milvus_benchmark/conf/server_config.yaml.multi
  tests/milvus_benchmark/conf/server_config.yaml.single
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_ping.py
Owners: @JinHai-CN, @scsven

#1921 use TimeRecorder instead of chrono (#1922)
  CHANGELOG.md
  core/src/segment/SegmentWriter.cpp
  core/src/segment/Vectors.cpp
Owners: @JinHai-CN, @scsven

fix: upgrade org.apache.commons:commons-lang3 from 3.9 to 3.10 (#1934)
  tests/milvus-java-test/pom.xml
Owners: @JinHai-CN

Merge 080 (#1940)
  CHANGELOG.md
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
  core/src/codecs/default/DefaultVectorsFormat.cpp
  core/src/codecs/default/DefaultVectorsFormat.h
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/scheduler/optimizer/FaissFlatPass.cpp
  core/src/segment/Vectors.cpp
  core/src/segment/Vectors.h
  core/src/server/delivery/request/CreatePartitionRequest.cpp
  core/src/server/web_impl/README.md
  core/src/utils/Error.h
  sdk/grpc/ClientProxy.cpp
  shards/README.md
  shards/README_CN.md
  shards/all_in_one/all_in_one.yml
  shards/all_in_one/ro_server.yml
  shards/all_in_one/wr_server.yml
  shards/all_in_one_with_mysql/all_in_one.yml
  shards/all_in_one_with_mysql/ro_server.yml
  shards/all_in_one_with_mysql/wr_server.yml
  shards/mishards/exception_codes.py
  shards/mishards/exception_handlers.py
  shards/mishards/exceptions.py
  shards/mishards/grpc_utils/grpc_args_parser.py
  shards/mishards/grpc_utils/grpc_args_wrapper.py
  shards/mishards/router/__init__.py
  shards/mishards/router/plugins/file_based_hash_ring_router.py
  shards/mishards/service_handler.py
  shards/mishards/settings.py
  shards/mishards/test_server.py
  shards/requirements.txt
Owners: @JinHai-CN, @scsven, @yhmo, @shengjun1985, @XuPeng-SH

#1705 Limit the insert data batch size (#1936)
  CHANGELOG.md
  core/src/server/delivery/request/InsertRequest.cpp
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
  core/unittest/server/test_rpc.cpp
  core/unittest/server/test_util.cpp
Owners: @JinHai-CN, @scsven

Implement a retry option for helm deploy failed stages in Jenkins Pipeline (#1907)
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

Mishards k8s fix (#1958)
  shards/Makefile
  shards/discovery/plugins/kubernetes_provider.py
  shards/kubernetes_demo/milvus_stateful_servers.yaml
  shards/kubernetes_demo/mishards_auxiliary.yaml
  shards/kubernetes_demo/mishards_configmap.yaml
  shards/kubernetes_demo/mishards_data_pvc.yaml
  shards/kubernetes_demo/mishards_proxy.yaml
  shards/kubernetes_demo/mishards_rbac.yaml
  shards/kubernetes_demo/mishards_stateful_servers.yaml
  shards/kubernetes_demo/mishards_write_servers.yaml
  shards/kubernetes_demo/start.sh
  shards/mishards/topology.py
Owners: @XuPeng-SH

add mishards test stage (#1960)
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/cleanupShardsDev.groovy
  ci/jenkins/step/shardsDevNightlyTest.groovy
Owners: @JinHai-CN

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985
