Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @jielinxu, @yamasite, @fishpenguin, @del-zhenwu

fix: upgrade commons-cli:commons-cli from 1.3 to 1.4 (#1341)
  tests/milvus-java-test/pom.xml
Owners: @del-zhenwu

Exclude third-party code from codebeat (#1379)
  .codebeatignore
  CHANGELOG.md
  DESIGN.md
Owners: @JinHai-CN

Exclude code from Codacy (#1381)
  .codacy.yaml
  .codebeatignore
  CHANGELOG.md
  README.md
  design.md
Owners: @JinHai-CN

fix: upgrade org.testng:testng from 6.10 to 6.14.3 (#1340)
  tests/milvus-java-test/pom.xml
Owners: @del-zhenwu

Add Git as a requirement for compilation (#1378)
  CHANGELOG.md
  INSTALL.md
Owners: @JinHai-CN

Allow system conf modifiable and some take effect directly #1263 (#1287)
  CHANGELOG.md
  core/.gitignore
  core/src/CMakeLists.txt
  core/src/cache/GpuCacheMgr.cpp
  core/src/cache/GpuCacheMgr.h
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/scheduler/optimizer/BuildIndexPass.cpp
  core/src/scheduler/optimizer/BuildIndexPass.h
  core/src/scheduler/optimizer/FaissFlatPass.cpp
  core/src/scheduler/optimizer/FaissFlatPass.h
  core/src/scheduler/optimizer/FaissIVFFlatPass.cpp
  core/src/scheduler/optimizer/FaissIVFPQPass.cpp
  core/src/scheduler/optimizer/FaissIVFPQPass.h
  core/src/scheduler/optimizer/FaissIVFSQ8HPass.cpp
  core/src/scheduler/optimizer/FaissIVFSQ8HPass.h
  core/src/scheduler/optimizer/FaissIVFSQ8Pass.cpp
  core/src/scheduler/optimizer/FaissIVFSQ8Pass.h
  core/src/scheduler/optimizer/handler/GpuBuildResHandler.cpp
  core/src/scheduler/optimizer/handler/GpuBuildResHandler.h
  core/src/scheduler/optimizer/handler/GpuResourcesHandler.cpp
  core/src/scheduler/optimizer/handler/GpuResourcesHandler.h
  core/src/scheduler/optimizer/handler/GpuSearchResHandler.cpp
  core/src/scheduler/optimizer/handler/GpuSearchResHandler.h
  core/src/server/Config.cpp
  core/src/server/Config.h
  core/src/server/DBWrapper.cpp
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/dto/PartitionDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
  core/unittest/CMakeLists.txt
  core/unittest/server/test_config.cpp
  core/unittest/server/test_util.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

In INSTALL.md, compilation in docker images should be confined to the Linux platform (#1389)
  CHANGELOG.md
  INSTALL.md
Owners: @JinHai-CN

#1234 do service check when Milvus startup (#1404)
  CHANGELOG.md
  core/src/server/Server.cpp
  core/src/server/Server.h
  core/src/storage/s3/S3ClientWrapper.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix case (#1443)
  tests/milvus_python_test/test_table_info.py
Owners: @del-zhenwu

Fix compilation error
  ci/scripts/build.sh
Owners: @ZhifengZhang-CN

Increase memory limit in Jenkins CI (#1453)
  ci/jenkins/pod/milvus-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-ubuntu18.04-build-env-pod.yaml
  ci/scripts/build.sh
Owners: @ZhifengZhang-CN

Caiyd update config (#1447)
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/db/Options.h
  core/src/server/Config.cpp
  core/src/server/Config.h
Owners: @JinHai-CN, @XuPeng-SH

Add DCO content to CONTRIBUTING.md (#1460)
  CHANGELOG.md
  CONTRIBUTING.md
Owners: @JinHai-CN

Server crashed when searching vectors using GPU(#1429) (#1458)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/helpers/Cloner.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update CONTRIBUTING.md (#1465)
  CONTRIBUTING.md
Owners: @JinHai-CN

Fix #839 and improve the code quality (#1470)
  .codacy.yaml
  ci/scripts/build.sh
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/meta/MySQLConnectionPool.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
Owners: @JinHai-CN, @ZhifengZhang-CN, @XuPeng-SH

Update NOTICE.md (#1469)
  NOTICE.md
Owners: @JinHai-CN

Add crud APIs and segments APIs into http server (#1462)
  CHANGELOG.md
  core/src/server/Config.cpp
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
  tests/milvus_python_test/test_table_info.py
Owners: @JinHai-CN, @XuPeng-SH, @del-zhenwu

Add pod tolerations to Jenkins slave pods (#1473)
  ci/jenkins/pod/docker-pod.yaml
  ci/jenkins/pod/milvus-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/testEnvironment.yaml
Owners: @ZhifengZhang-CN

Improve delete (#1474)
  CHANGELOG.md
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
  core/src/codecs/default/DefaultVectorsFormat.cpp
  core/src/db/insert/MemManager.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/insert/MemTable.cpp
  core/src/db/insert/MemTable.h
  core/src/db/insert/MemTableFile.cpp
  core/src/segment/SegmentWriter.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update DESIGN.md (#1478)
  DESIGN.md
Owners: @JinHai-CN

Fix Markdown format (#1483)
  CHANGELOG.md
Owners: @JinHai-CN

Fix Markdown format (#1485)
  CODE_OF_CONDUCT.md
  COMMUNITY.md
  CONTRIBUTING.md
  INSTALL.md
  README.md
  README_CN.md
  README_JP.md
  RELEASE.md
  SECURITY.md
  SUPPORT.md
Owners: @JinHai-CN

#1426 Support to configure whether to enabled autoflush (#1468)
  CHANGELOG.md
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/Options.h
  core/src/db/wal/WalBuffer.cpp
  core/src/db/wal/WalDefinations.h
  core/src/db/wal/WalManager.cpp
  core/src/server/Config.cpp
  core/src/server/Config.h
  core/unittest/db/test_wal.cpp
  core/unittest/db/utils.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix cases: test_search_id/test_wal (#1486)
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_search_by_id.py
  tests/milvus_python_test/test_table_info.py
  tests/milvus_python_test/test_wal.py
Owners: @del-zhenwu

#1480 add return code for AVX512 selection (#1482)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/FaissHook.cpp
  core/src/index/thirdparty/faiss/FaissHook.h
  core/src/wrapper/KnowhereResource.cpp
Owners: @JinHai-CN, @XuPeng-SH

Fix#1484 (#1490)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/unittest/db/test_delete.cpp
Owners: @JinHai-CN, @XuPeng-SH

Test mysql-meta (#1489)
  ci/jenkins/step/deploySingle2Dev.groovy
Owners: @ZhifengZhang-CN

#1463 update config version to 0.2 (#1466)
  CHANGELOG.md
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/server/Config.cpp
  core/unittest/server/test_config.cpp
  core/unittest/server/utils.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1463 enable config version check
  core/src/server/Config.cpp
  core/unittest/server/test_config.cpp
Owners: @JinHai-CN, @XuPeng-SH

Fix #1491 and #1504 (#1506)
  CHANGELOG.md
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
  core/src/codecs/default/DefaultVectorsFormat.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/unittest/db/test_delete.cpp
  core/unittest/db/utils.h
Owners: @JinHai-CN, @XuPeng-SH

#1475 add debug timing for map uids (#1513)
  core/src/db/engine/ExecutionEngineImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

Fix duplicate vector ID issue (#1508)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/IDGenerator.cpp
  core/src/db/IDGenerator.h
  core/src/db/insert/VectorSource.cpp
  core/src/db/insert/VectorSource.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_db_mysql.cpp
  core/unittest/db/test_misc.cpp
Owners: @JinHai-CN, @XuPeng-SH

Add cfg fun (#1501)
  CHANGELOG.md
  core/src/server/Config.cpp
  core/src/server/Config.h
  core/unittest/server/test_config.cpp
Owners: @JinHai-CN, @XuPeng-SH

Fix vectors results bug(#1476) & change vector id type to string(#1511) (#1514)
  CHANGELOG.md
  core/src/server/web_impl/Constants.h
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update compact (#1522)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemTable.cpp
  core/src/segment/SegmentReader.cpp
  core/unittest/db/test_delete.cpp
Owners: @JinHai-CN, @XuPeng-SH

Add setter API for config `preload_table` (#1526)
  CHANGELOG.md
  core/src/CMakeLists.txt
  core/src/config/handler/GpuBuildResHandler.cpp
  core/src/config/handler/GpuBuildResHandler.h
  core/src/config/handler/GpuResourcesHandler.cpp
  core/src/config/handler/GpuResourcesHandler.h
  core/src/config/handler/GpuSearchResHandler.cpp
  core/src/config/handler/GpuSearchResHandler.h
  core/src/scheduler/optimizer/BuildIndexPass.h
  core/src/scheduler/optimizer/FaissFlatPass.h
  core/src/scheduler/optimizer/FaissIVFFlatPass.h
  core/src/scheduler/optimizer/FaissIVFPQPass.h
  core/src/scheduler/optimizer/FaissIVFSQ8HPass.h
  core/src/scheduler/optimizer/FaissIVFSQ8Pass.h
  core/src/server/Config.cpp
  core/src/server/Config.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/CMakeLists.txt
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1531 remove S3 related config (#1534)
  CHANGELOG.md
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
Owners: @JinHai-CN, @XuPeng-SH

Fix#1530 (#1533)
  CHANGELOG.md
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/segment/SegmentWriter.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1537 fix clang format
  core/src/codecs/default/DefaultVectorsFormat.cpp
Owners: @JinHai-CN, @XuPeng-SH

CODEOWNERS:

# Each line is a component followed by one or more owners. 

* @JinHai-CN
/core   @JinHai-CN @XuPeng-SH
/ci     @ZhifengZhang-CN
/docker @ZhifengZhang-CN
/docs   @jielinxu @yamasite
/sdk    @fishpenguin
/shards @XuPeng-SH
/tests  @del-zhenwu
