Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

Upgrade http thirdparty oatpp to v1.0.0 (fix #2153) (#2157)
  CHANGELOG.md
  core/cmake/ThirdPartyPackages.cmake
  core/src/server/web_impl/component/AppComponent.hpp
  core/src/server/web_impl/dto/PartitionDto.hpp
  core/src/server/web_impl/dto/StatusDto.hpp
  core/src/server/web_impl/dto/TableDto.hpp
  core/thirdparty/versions.txt
Owners: @JinHai-CN, @scsven

Fix #2175 (#2177)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

add config simd_type (#2179)
  CHANGELOG.md
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/index/archive/KnowhereResource.cpp
  core/src/index/thirdparty/faiss/FaissHook.cpp
  core/src/index/thirdparty/faiss/FaissHook.h
  core/src/server/init/CpuChecker.cpp
  core/unittest/server/test_config.cpp
Owners: @JinHai-CN, @scsven, @shengjun1985

Using elkan K-Means to improve IVF (#2180)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/utils/distances.cpp
Owners: @JinHai-CN, @shengjun1985

#1946 fix load index file CPU2GPU fail during searching (#2182)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.h
Owners: @JinHai-CN, @shengjun1985

remove disconnect test case (#2183)
  ci/jenkins/step/build.groovy
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_collection.py
  tests/milvus_python_test/test_collection_count.py
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_get_vectors_by_ids.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_ping.py
  tests/milvus_python_test/test_search_by_ids.py
  tests/milvus_python_test/test_search_vectors.py
Owners: @JinHai-CN

Check Storage permission (#2174)
  CHANGELOG.md
  core/src/server/Server.cpp
  core/src/server/init/StorageChecker.cpp
  core/src/server/init/StorageChecker.h
  core/src/utils/LogUtil.cpp
  core/unittest/server/test_check.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

Remove connect (#2193)
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_mix.py
  tests/milvus_python_test/test_ping.py
Owners: @JinHai-CN

Feisiyicl 2190 memory usage (#2191)
  CHANGELOG.md
  core/src/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.cpp
  core/src/index/thirdparty/faiss/InvertedLists.cpp
  core/src/server/delivery/hybrid_request/HybridSearchRequest.cpp
  core/src/server/delivery/hybrid_request/InsertEntityRequest.cpp
  core/src/server/delivery/request/InsertRequest.cpp
  core/src/server/delivery/request/SearchByIDRequest.cpp
  core/src/server/delivery/request/SearchRequest.cpp
  core/src/utils/CommonUtil.cpp
  core/src/utils/CommonUtil.h
Owners: @JinHai-CN, @scsven, @shengjun1985

Log with request id (#2192)
  core/src/server/context/Context.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

add head file to fix two build warnings (#2195)
  core/src/index/thirdparty/hnswlib/hnswlib.h
Owners: @shengjun1985

Fix Fail to access WAL storage path (#2196) (#2198)
  CHANGELOG.md
  core/src/server/init/StorageChecker.cpp
Owners: @JinHai-CN, @scsven

Error out when index SQ8H run in CPU mode (#2204)
  CHANGELOG.md
  core/CMakeLists.txt
  core/build.sh
  core/cmake/DefineOptions.cmake
  core/src/CMakeLists.txt
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
Owners: @JinHai-CN, @scsven

Log file rotating (#2207)
  CHANGELOG.md
  core/conf/server_config.template
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/server/Server.cpp
  core/src/utils/LogUtil.cpp
  core/src/utils/LogUtil.h
  core/unittest/server/test_util.cpp
Owners: @JinHai-CN, @scsven

[skip ci](shards): handle connection empty cases
  shards/mishards/exception_handlers.py
  shards/mishards/router/__init__.py
Owners: @XuPeng-SH

[skip ci](shards): print more server info for debug
  shards/mishards/server.py
Owners: @XuPeng-SH

fix SingleIndexTest.IVFSQHybrid unittest (#2215)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/InvertedLists.cpp
  core/src/index/unittest/test_customized_index.cpp
Owners: @JinHai-CN, @shengjun1985

check the return value of fscanf (#2218)
  core/src/metrics/SystemInfo.cpp
Owners: @scsven

save local work 4 find openblas, not finished
  core/rerun.sh
  core/src/CMakeLists.txt
  core/src/index/CMakeLists.txt
  core/src/index/cmake/DefineOptionsCore.cmake
  core/src/index/cmake/FindOpenBLAS.cmake
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
Owners: @scsven, @shengjun1985

fix: tests/milvus_python_test/requirements.txt to reduce vulnerabilities (#2224)
  tests/milvus_python_test/requirements.txt
Owners: @JinHai-CN

Http update endpoints (#2187)
  CHANGELOG.md
  core/src/server/web_impl/Constants.cpp
  core/src/server/web_impl/Constants.h
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/dto/CollectionDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

write error (#2184)
  CHANGELOG.md
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/DBWrapper.cpp
  core/src/server/context/ConnectionContext.h
  core/src/server/context/Context.cpp
  core/src/server/context/Context.h
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/request/CompactRequest.cpp
  core/src/server/delivery/request/CompactRequest.h
  core/src/server/delivery/request/CreateIndexRequest.cpp
  core/src/server/delivery/request/SearchByIDRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/utils/Error.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_db_mysql.cpp
  core/unittest/db/test_delete.cpp
  core/unittest/db/test_search_by_id.cpp
  sdk/grpc/ClientProxy.cpp
  tests/milvus_python_test/test_compact.py
Owners: @JinHai-CN, @scsven

optimize similarity template (#2227)
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerCodec.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerCodec_avx.h
Owners: @shengjun1985

[skip ci] remove 'openblas-devel' (#2208)
  core/centos7_build_deps.sh
Owners: @scsven

fix: tests/milvus_python_test/requirements_cluster.txt to reduce vulnerabilities (#2221)
  tests/milvus_python_test/requirements_cluster.txt
Owners: @JinHai-CN

fix: shards/requirements.txt to reduce vulnerabilities (#2222)
  shards/requirements.txt
Owners: @XuPeng-SH

fix: tests/milvus_python_test/requirements_no_pymilvus.txt to reduce vulnerabilities (#2223)
  tests/milvus_python_test/requirements_no_pymilvus.txt
Owners: @JinHai-CN

rm libopenblsa-dev (#2235)
  core/ubuntu_build_deps.sh
Owners: @scsven

Add attributes to mysql and wal (#2229)
  core/src/db/DBImpl.cpp
  core/src/db/meta/MetaTypes.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/db/wal/WalBuffer.cpp
  core/src/db/wal/WalBuffer.h
  core/src/db/wal/WalDefinations.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/unittest/db/test_hybrid_db.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_meta_mysql.cpp
  core/unittest/db/test_wal.cpp
  core/unittest/server/test_rpc.cpp
  core/unittest/server/test_web.cpp
Owners: @scsven, @yhmo

Catch exception and print in stderr (#2238)
  CHANGELOG.md
  core/src/utils/LogUtil.cpp
Owners: @JinHai-CN, @scsven

update java tests
  tests/milvus-java-test/MilvusSDkJavaTest.iml
  tests/milvus-java-test/pom.xml
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestAddVectors.java
  tests/milvus-java-test/src/main/java/com/TestCollection.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestConnect.java
  tests/milvus-java-test/src/main/java/com/TestDeleteVectors.java
  tests/milvus-java-test/src/main/java/com/TestFlush.java
  tests/milvus-java-test/src/main/java/com/TestGetVectorByID.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestMix.java
  tests/milvus-java-test/src/main/java/com/TestPS.java
  tests/milvus-java-test/src/main/java/com/TestPartition.java
  tests/milvus-java-test/src/main/java/com/TestPing.java
  tests/milvus-java-test/src/main/java/com/TestSearchByIds.java
  tests/milvus-java-test/src/main/java/com/TestSearchVectors.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @JinHai-CN

add_dependencies in cmake (#2239)
  core/src/CMakeLists.txt
Owners: @scsven

Wait for helm uninstall chart (#2251)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

update java tests (#2246)
  tests/milvus-java-test/MilvusSDkJavaTest.iml
  tests/milvus-java-test/pom.xml
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestAddVectors.java
  tests/milvus-java-test/src/main/java/com/TestCollection.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestConnect.java
  tests/milvus-java-test/src/main/java/com/TestDeleteVectors.java
  tests/milvus-java-test/src/main/java/com/TestFlush.java
  tests/milvus-java-test/src/main/java/com/TestGetVectorByID.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestMix.java
  tests/milvus-java-test/src/main/java/com/TestPS.java
  tests/milvus-java-test/src/main/java/com/TestPartition.java
  tests/milvus-java-test/src/main/java/com/TestPing.java
  tests/milvus-java-test/src/main/java/com/TestSearchByIds.java
  tests/milvus-java-test/src/main/java/com/TestSearchVectors.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @JinHai-CN

filter id:-1
  tests/milvus-java-test/MilvusSDkJavaTest.iml
  tests/milvus-java-test/src/main/java/com/TestSearchByIds.java
Owners: @JinHai-CN

fix: upgrade org.apache.commons:commons-lang3 from 3.9 to 3.10 (#2254)
  tests/milvus-java-test/pom.xml
Owners: @JinHai-CN

fix: upgrade com.alibaba:fastjson from 1.2.47 to 1.2.68 (#2253)
  tests/milvus-java-test/pom.xml
Owners: @JinHai-CN

file cleanup timeout config (#2250)
  CHANGELOG.md
  core/conf/server_config.template
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/db/DBImpl.cpp
  core/src/db/Options.h
  core/src/server/DBWrapper.cpp
  core/src/server/delivery/request/SearchCombineRequest.cpp
  sdk/examples/qps/src/ClientTest.cpp
Owners: @JinHai-CN, @scsven

Remove useless test files
  tests/milvus-java-test/MilvusSDkJavaTest.iml
  tests/milvus-java-test/src/main/java/com/Partition.java
  tests/milvus-java-test/src/main/java/com/TestTable.java
  tests/milvus-java-test/src/main/java/com/TestTableCount.java
Owners: @JinHai-CN

Java sdk test cases filter id:-1 (#2255)
  tests/milvus-java-test/MilvusSDkJavaTest.iml
  tests/milvus-java-test/src/main/java/com/Partition.java
  tests/milvus-java-test/src/main/java/com/TestSearchByIds.java
  tests/milvus-java-test/src/main/java/com/TestTable.java
  tests/milvus-java-test/src/main/java/com/TestTableCount.java
Owners: @JinHai-CN
