Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

#2890 Fix wrong index size (#2942)
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVFSQNR_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.cpp
Owners: @shengjun1985

save local log
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
Owners: @scsven, @shengjun1985

Minor editorial updates. (#2946)
  README.md
  README_CN.md
Owners: @JinHai-CN

fix cuda version requirement (#2909)
  INSTALL.md
Owners: @JinHai-CN

snapshot scheduler (#2961)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/Types.h
  core/src/scheduler/TaskCreator.cpp
  core/src/scheduler/job/SSBuildIndexJob.cpp
  core/src/scheduler/job/SSBuildIndexJob.h
  core/src/scheduler/job/SSSearchJob.cpp
  core/src/scheduler/job/SSSearchJob.h
  core/src/scheduler/task/SSBuildIndexTask.cpp
  core/src/scheduler/task/SSBuildIndexTask.h
  core/src/scheduler/task/SSSearchTask.cpp
  core/src/scheduler/task/SSSearchTask.h
  core/src/scheduler/task/SSTestTask.cpp
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_ss_job.cpp
  core/unittest/ssdb/test_ss_task.cpp
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

(db/snapshot): Update DropAllIndexOperation (#2947)
  core/src/db/SSDBImpl.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Context.cpp
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/unittest/ssdb/test_snapshot.cpp
Owners: @scsven

fix a bug of annoy search parameter exisitence check (#2958)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
Owners: @JinHai-CN, @shengjun1985

(db/snapshot) Add root path for snapshot store (#2945)
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/Store.h
  core/src/utils/StringHelpFunctions.cpp
  core/src/utils/StringHelpFunctions.h
  core/unittest/server/test_util.cpp
  core/unittest/ssdb/utils.cpp
Owners: @scsven

Fix the result merging of IVF_PQ IP (#2955)
  CHANGELOG.md
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @scsven

(db/snapshot) Inactivate gc event (#2960)
  core/src/config/Utils.cpp
  core/src/db/SSDBImpl.cpp
  core/src/db/meta/MetaAdapter.h
  core/src/db/meta/MetaSession.h
  core/src/db/meta/backend/MetaContext.h
  core/src/db/meta/backend/MetaHelper.cpp
  core/src/db/meta/backend/MockMetaEngine.cpp
  core/src/db/snapshot/InActiveResourcesGCEvent.h
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_ss_event.cpp
  core/unittest/ssdb/test_ss_meta.cpp
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven, @yhmo

Add options to build.sh for cuda arch Issue#2940 (#2950)
  CHANGELOG.md
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/nightlyBuild.groovy
  ci/scripts/build.sh
  core/build.sh
  core/src/index/cmake/DefineOptionsCore.cmake
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
Owners: @JinHai-CN, @scsven, @shengjun1985

add logs 4 debug memory increase when drop index and create index repeatly
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/segment/Types.h
  core/src/segment/Vectors.h
Owners: @scsven, @shengjun1985

Fix master unittest (#2980)
  core/src/db/meta/MetaTypes.h
  core/src/index/knowhere/knowhere/index/IndexType.cpp
  core/unittest/db/test_rpc.cpp
  tests/milvus_python_test/entity/test_search.py
Owners: @yhmo, @shengjun1985, @scsven, @JinHai-CN

add Macro MILVUS_USE_SNAPSHOT (#2972)
  core/CMakeLists.txt
  core/src/db/DB.h
  core/src/db/DBFactory.cpp
  core/src/db/DBImpl.h
  core/src/db/SSDBImpl.h
Owners: @scsven

build snapshot index (#2979)
  core/src/codecs/snapshot/SSVectorIndexFormat.cpp
  core/src/db/DB.h
  core/src/db/DBFactory.cpp
  core/src/db/DBFactory.h
  core/src/db/DBImpl.h
  core/src/db/SSDB.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/db/SnapshotVisitor.cpp
  core/src/db/SnapshotVisitor.h
  core/src/db/attr/InstanceStructuredIndex.cpp
  core/src/db/engine/SSExecutionEngineImpl.cpp
  core/src/db/engine/SSExecutionEngineImpl.h
  core/src/segment/SSSegmentReader.cpp
  core/src/segment/SSSegmentWriter.cpp
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/src/server/DBWrapper.cpp
  core/src/server/DBWrapper.h
  core/unittest/CMakeLists.txt
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_ss_job.cpp
  core/unittest/ssdb/test_ss_task.cpp
  core/unittest/ssdb/utils.cpp
Owners: @scsven

grpc partition related APIs use snapshot (#2982)
  core/CMakeLists.txt
  core/src/db/DBFactory.cpp
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SSDB.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/request/BaseRequest.h
  core/src/server/delivery/request/CreatePartitionRequest.cpp
  core/src/server/delivery/request/CreatePartitionRequest.h
  core/src/server/delivery/request/DropPartitionRequest.cpp
  core/src/server/delivery/request/ShowPartitionsRequest.cpp
  core/src/server/delivery/request/ShowPartitionsRequest.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

Rearrange CMakeLists of lib query and lib search (#2983)
  core/build.sh
  core/src/CMakeLists.txt
  core/src/index/build.sh
  core/src/index/knowhere/CMakeLists.txt
  core/src/query/CMakeLists.txt
  core/src/search/CMakeLists.txt
Owners: @scsven, @shengjun1985

Rearrange CMakeLists.txt of lib tracing (#2986)
  core/src/CMakeLists.txt
  core/src/tracing/CMakeLists.txt
Owners: @scsven

udpate config usage (#2985)
  core/src/db/SSDBImpl.cpp
  core/src/db/engine/SSExecutionEngineImpl.cpp
  core/src/db/engine/SSExecutionEngineImpl.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/insert/MemTable.cpp
  core/src/db/insert/MemTable.h
  core/src/db/insert/MemTableFile.cpp
  core/src/db/insert/MemTableFile.h
  core/src/db/insert/SSMemCollection.cpp
  core/src/db/insert/SSMemCollection.h
  core/src/db/insert/SSMemManagerImpl.cpp
  core/src/db/insert/SSMemManagerImpl.h
  core/src/db/insert/SSMemSegment.cpp
  core/src/db/insert/SSMemSegment.h
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/scheduler/job/BuildIndexJob.h
  core/src/server/delivery/request/ReLoadSegmentsRequest.cpp
  core/src/server/delivery/request/ReLoadSegmentsRequest.h
Owners: @scsven

Collection and Search call SSDBImpl (#2988)
  core/src/db/meta/MetaTypes.h
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/hybrid_request/CreateHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/CreateHybridIndexRequest.cpp
  core/src/server/delivery/hybrid_request/CreateHybridIndexRequest.h
  core/src/server/delivery/hybrid_request/DescribeHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/HybridSearchRequest.cpp
  core/src/server/delivery/hybrid_request/HybridSearchRequest.h
  core/src/server/delivery/request/CompactRequest.cpp
  core/src/server/delivery/request/CountCollectionRequest.cpp
  core/src/server/delivery/request/CreateCollectionRequest.cpp
  core/src/server/delivery/request/CreateCollectionRequest.h
  core/src/server/delivery/request/CreateIndexRequest.cpp
  core/src/server/delivery/request/DeleteByIDRequest.cpp
  core/src/server/delivery/request/DeleteByIDRequest.h
  core/src/server/delivery/request/DescribeCollectionRequest.cpp
  core/src/server/delivery/request/DescribeCollectionRequest.h
  core/src/server/delivery/request/DescribeIndexRequest.cpp
  core/src/server/delivery/request/DropCollectionRequest.cpp
  core/src/server/delivery/request/DropIndexRequest.cpp
  core/src/server/delivery/request/FlushRequest.cpp
  core/src/server/delivery/request/HasCollectionRequest.cpp
  core/src/server/delivery/request/PreloadCollectionRequest.cpp
  core/src/server/delivery/request/ShowCollectionInfoRequest.cpp
  core/src/server/delivery/request/ShowCollectionsRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/ssdb/CMakeLists.txt
Owners: @yhmo, @scsven

insert entity request (#2987)
  core/src/db/SSDB.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/engine/SSExecutionEngineImpl.cpp
  core/src/db/insert/SSMemSegment.cpp
  core/src/db/meta/MetaTypes.h
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/Store.h
  core/src/segment/Segment.cpp
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/hybrid_request/InsertEntityRequest.cpp
  core/src/server/delivery/hybrid_request/InsertEntityRequest.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/ssdb/test_db.cpp
Owners: @scsven, @yhmo

(db/snapshot): fix GC behavior (#2978)
  core/src/db/SSDBImpl.cpp
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

Use unordered_map in CollectionMappings (#2989)
  core/src/db/snapshot/Context.h
Owners: @scsven

Using CollectionMappings in DescribeCollection (#2990)
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/hybrid_request/DescribeHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/HybridSearchRequest.cpp
  core/src/server/delivery/request/CompactRequest.cpp
  core/src/server/delivery/request/CountCollectionRequest.cpp
  core/src/server/delivery/request/CreateIndexRequest.cpp
  core/src/server/delivery/request/CreatePartitionRequest.cpp
  core/src/server/delivery/request/DeleteByIDRequest.cpp
  core/src/server/delivery/request/DescribeIndexRequest.cpp
  core/src/server/delivery/request/DropCollectionRequest.cpp
  core/src/server/delivery/request/DropIndexRequest.cpp
  core/src/server/delivery/request/DropPartitionRequest.cpp
  core/src/server/delivery/request/FlushRequest.cpp
  core/src/server/delivery/request/GetVectorsByIDRequest.cpp
  core/src/server/delivery/request/GetVectorsByIDRequest.h
  core/src/server/delivery/request/PreloadCollectionRequest.cpp
  core/src/server/delivery/request/ShowCollectionInfoRequest.cpp
  core/src/server/delivery/request/ShowPartitionsRequest.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

get collection info (#2991)
  core/src/db/SSDB.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/server/delivery/request/ShowCollectionInfoRequest.cpp
Owners: @scsven

optimize config code (#2996)
  .github/PULL_REQUEST_TEMPLATE.md
  core/src/config/ServerConfig.h
Owners: @JinHai-CN, @scsven

Fix HasPartition (#2997)
  core/src/db/SSDB.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/server/delivery/request/HasPartitionRequest.cpp
Owners: @scsven

Fix CreateCollection extra_param bugs (#2995)
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/hybrid_request/CreateHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/DescribeHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/InsertEntityRequest.cpp
  core/src/server/delivery/hybrid_request/InsertEntityRequest.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.h
Owners: @scsven

refine code (#3002)
  core/src/db/DBImpl.cpp
  core/src/db/SSDBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/meta/MetaTypes.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/grpc/gen-milvus/milvus.grpc.pb.cc
  core/src/grpc/gen-milvus/milvus.grpc.pb.h
  core/src/grpc/gen-milvus/milvus.pb.cc
  core/src/grpc/gen-milvus/milvus.pb.h
  core/src/grpc/milvus.proto
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateIndexRequest.cpp
  core/src/server/delivery/request/DescribeIndexRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
Owners: @scsven, @yhmo

Improve IVF search performance when NQ and nProbe are both large (#3001)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/index/thirdparty/faiss/utils/distances.h
  core/src/index/thirdparty/faiss/utils/utils.cpp
  core/src/index/thirdparty/faiss/utils/utils.h
Owners: @JinHai-CN, @shengjun1985

Fix insert vectors bug (#3003)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  sdk/examples/simple/src/ClientTest.cpp
Owners: @scsven

add GetEntityById realization (#3004)
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/hybrid_request/GetEntityByIDRequest.cpp
  core/src/server/delivery/hybrid_request/GetEntityByIDRequest.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

[skip ci] update pull request template (#3008)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JinHai-CN

[skip ci] Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JinHai-CN

Rearrange CMlists dir db (#3005)
  core/CMakeLists.txt
  core/src/CMakeLists.txt
  core/src/db/CMakeLists.txt
  core/src/tracing/CMakeLists.txt
Owners: @scsven

Rearrange CMLists for dir Metrics (#3010)
  core/src/CMakeLists.txt
  core/src/metrics/CMakeLists.txt
Owners: @scsven

fix unittest test_ssdb failed (#3013)
  core/unittest/CMakeLists.txt
Owners: @scsven

hnsw-pq local test
  core/src/index/thirdparty/hnswlib/Makefile
  core/src/index/thirdparty/hnswlib/hnsw_faiss_pq_test
  core/src/index/thirdparty/hnswlib/hnsw_faiss_pq_test.cpp
  core/src/index/thirdparty/hnswlib/hnsw_faiss_sq8_test.cpp
  core/src/index/thirdparty/hnswlib/hnsw_nm_test
  core/src/index/thirdparty/hnswlib/hnsw_small.cpp
  core/src/index/thirdparty/hnswlib/hnsw_sq8_small.cpp
  core/src/index/thirdparty/hnswlib/hnsw_sq8_test.cpp
  core/src/index/thirdparty/hnswlib/hnsw_test.cpp
  core/src/index/thirdparty/hnswlib/hnswalg_nm.h
  core/src/index/thirdparty/hnswlib/hnswalg_nm_faiss_pq.h
  core/src/index/thirdparty/hnswlib/hnswlib_nm_pq.h
  core/src/index/thirdparty/hnswlib/space_ip.h
  core/src/index/thirdparty/hnswlib/space_l2.h
  core/src/index/thirdparty/hnswlib/test_out/hnsw_nm_test
  core/src/index/thirdparty/hnswlib/test_out/out1.txt
  core/src/index/thirdparty/hnswlib/test_out/out2.txt
  core/src/index/thirdparty/hnswlib/test_out/out3.txt
Owners: @shengjun1985

log module (#3017)
  core/src/CMakeLists.txt
  core/src/infra/CMakeLists.txt
  core/src/log/CMakeLists.txt
  core/src/log/Log.cpp
  core/src/log/Log.h
  core/src/log/LogMgr.cpp
  core/src/log/LogMgr.h
  core/src/server/Server.cpp
  core/src/server/Server.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/utils/Log.h
  core/unittest/CMakeLists.txt
  core/unittest/ssdb/CMakeLists.txt
Owners: @scsven

Rearrange CMKLists.txt for dirs Utils (#3018)
  core/src/CMakeLists.txt
  core/src/db/CMakeLists.txt
  core/src/query/CMakeLists.txt
  core/src/search/CMakeLists.txt
  core/src/tracing/CMakeLists.txt
  core/src/utils/CMakeLists.txt
Owners: @scsven

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985
