Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @jielinxu, @yamasite, @fishpenguin, @del-zhenwu

CODEOWNERS:

# Each line is a component followed by one or more owners. 

* @JinHai-CN
/core   @JinHai-CN @XuPeng-SH
/ci     @ZhifengZhang-CN
/docker @ZhifengZhang-CN
/docs   @jielinxu @yamasite
/sdk    @fishpenguin
/shards @XuPeng-SH
/tests  @del-zhenwu

#1571 Meta engine type become IDMAP after drop index for BINARY table
  core/src/db/meta/MySQLMetaImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

change table to collection
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_collection.py
  tests/milvus_python_test/test_collection_count.py
  tests/milvus_python_test/test_collection_info.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_delete_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_get_vector_by_id.py
  tests/milvus_python_test/test_get_vector_ids.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_mix.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_search_by_id.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/test_table.py
  tests/milvus_python_test/test_table_count.py
  tests/milvus_python_test/test_wal.py
  tests/milvus_python_test/utils.py
Owners: @del-zhenwu

update README.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

#1547 rename storage/file to storage/disk
  core/src/CMakeLists.txt
  core/src/storage/IStorage.h
  core/src/storage/disk/DiskIOReader.cpp
  core/src/storage/disk/DiskIOReader.h
  core/src/storage/disk/DiskIOWriter.cpp
  core/src/storage/disk/DiskIOWriter.h
  core/src/storage/s3/S3ClientWrapper.h
  core/src/wrapper/VecIndex.cpp
  core/unittest/CMakeLists.txt
  core/unittest/storage/test_s3_client.cpp
  core/unittest/wrapper/CMakeLists.txt
Owners: @JinHai-CN, @XuPeng-SH

typo
  CHANGELOG.md
Owners: @JinHai-CN

fix
  CHANGELOG.md
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @XuPeng-SH

typo
  CHANGELOG.md
Owners: @JinHai-CN

#1537 add interface open()/close() for IOReader/IOWriter
  core/src/storage/IOReader.h
  core/src/storage/IOWriter.h
  core/src/storage/disk/DiskIOReader.cpp
  core/src/storage/disk/DiskIOReader.h
  core/src/storage/disk/DiskIOWriter.cpp
  core/src/storage/disk/DiskIOWriter.h
  core/src/storage/s3/S3IOReader.cpp
  core/src/storage/s3/S3IOReader.h
  core/src/storage/s3/S3IOWriter.cpp
  core/src/storage/s3/S3IOWriter.h
  core/src/wrapper/VecIndex.cpp
  core/unittest/storage/test_s3_client.cpp
Owners: @JinHai-CN, @XuPeng-SH

update
  CHANGELOG.md
  core/src/scheduler/task/BuildIndexTask.cpp
  core/unittest/db/test_delete.cpp
Owners: @JinHai-CN, @XuPeng-SH

update readmemd adding
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

update.
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix test cases
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_delete_vectors.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_get_vector_by_id.py
  tests/milvus_python_test/test_index.py
Owners: @del-zhenwu

#1583 Default index_params should be "{}" for IDMAP table
  core/src/db/meta/MetaTypes.h
Owners: @JinHai-CN, @XuPeng-SH

typo
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/nsg/NSG.cpp
  core/src/wrapper/ConfAdapter.cpp
Owners: @JinHai-CN, @XuPeng-SH

typo
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix config test
  tests/milvus_python_test/test_config.py
Owners: @del-zhenwu

fix config test
  tests/milvus_python_test/test_config.py
Owners: @del-zhenwu

update
  CHANGELOG.md
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1580 Old segment folder not removed after merge / compact if create_index is called before adding data
  CHANGELOG.md
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

add index param
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

typo
  core/src/db/meta/MySQLMetaImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

update README
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

update
  core/src/index/knowhere/knowhere/index/vector_index/nsg/NSG.cpp
Owners: @JinHai-CN, @XuPeng-SH

update.
  core/src/index/unittest/test_nsg/test_nsg.cpp
Owners: @JinHai-CN, @XuPeng-SH

update README.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

update
  CHANGELOG.md
Owners: @JinHai-CN

Update README.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

Update CHANGELOG.md
  CHANGELOG.md
Owners: @JinHai-CN

Update CHANGELOG.md
  CHANGELOG.md
Owners: @JinHai-CN

update
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
Owners: @JinHai-CN, @XuPeng-SH

typo
  core/src/utils/ValidationUtil.cpp
  sdk/include/MilvusApi.h
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin

fix link error in http doc
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

[skip ci] update changlog
  CHANGELOG.md
Owners: @JinHai-CN

fix show tables results typo
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

change index type link address
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

fix link error in http doc (fix #1601)
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

add back nsg
  tests/milvus_python_test/utils.py
Owners: @del-zhenwu

add options methods for system
  core/src/server/web_impl/controller/WebController.hpp
Owners: @JinHai-CN, @XuPeng-SH

update
  CHANGELOG.md
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @XuPeng-SH
