Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

default nlist 2048 (#2498)
  core/src/db/Types.h
  core/src/db/meta/MetaTypes.h
  core/src/utils/ValidationUtil.cpp
Owners: @scsven, @yhmo

fix performance (#2499)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/FaissHook.cpp
  core/src/index/thirdparty/faiss/FaissHook.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizer.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizer.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerCodec.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerCodec_avx.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerCodec_avx512.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC_avx.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC_avx.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC_avx512.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC_avx512.h
Owners: @JinHai-CN, @shengjun1985

return hnsw name (#2501)
  core/src/db/Utils.cpp
Owners: @scsven

Add http (#2505)
  ci/jenkins/step/singleDevNightlyTest.groovy
  tests/milvus_python_test/stability/test_restart.py
  tests/milvus_python_test/test_index.py
Owners: @JinHai-CN

Add exception throw on mysql meta error (#2490)
  CHANGELOG.md
  core/src/db/meta/MySQLConnectionPool.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/unittest/db/test_meta.cpp
Owners: @JinHai-CN, @yhmo, @scsven

[skip ci] disable restart case. (#2515)
  tests/milvus_python_test/stability/test_restart.py
Owners: @JinHai-CN

Update helm version to 0.10.0 (#2527)
  ci/jenkins/Jenkinsfile
Owners: @JinHai-CN

Improve ut coverage (#2516) (#2517)
  CHANGELOG.md
  ci/jenkins/Jenkinsfile
  core/src/server/delivery/hybrid_request/HybridSearchRequest.cpp
  core/src/server/delivery/request/ReLoadSegmentsRequest.cpp
  core/src/server/init/InstanceLockCheck.cpp
  core/src/server/web_impl/dto/VectorDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/storage/disk/DiskOperation.cpp
  core/src/utils/LogUtil.cpp
  core/unittest/db/test_db.cpp
  core/unittest/server/test_check.cpp
  core/unittest/server/test_rpc.cpp
  core/unittest/server/test_util.cpp
  core/unittest/server/test_web.cpp
  core/unittest/storage/test_disk.cpp
Owners: @JinHai-CN, @scsven

Improve ut coverage (#2516) (#2522)
  core/src/codecs/default/DefaultAttrsFormat.cpp
  core/src/codecs/default/DefaultIdBloomFilterFormat.cpp
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/segment/Attr.cpp
  core/src/segment/Attr.h
  core/src/segment/SegmentWriter.cpp
  core/src/server/delivery/hybrid_request/CreateHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/DescribeHybridCollectionRequest.cpp
  core/src/server/delivery/hybrid_request/HybridSearchRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/utils/LogUtil.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_hybrid_db.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_meta_mysql.cpp
  core/unittest/server/test_rpc.cpp
Owners: @scsven, @yhmo

(db/snapshot): Fix bugs and more unit test (#2538)
  core/src/db/snapshot/BaseHolders.h
  core/src/db/snapshot/BaseHolders.inl
  core/src/db/snapshot/BaseResource.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Context.cpp
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ReferenceProxy.cpp
  core/src/db/snapshot/ReferenceProxy.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/ResourceOperations.h
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/SnapshotHolder.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Snapshots.h
  core/src/db/snapshot/Store.h
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

Update yum epel mirror (#2547)
  docker/deploy/cpu/centos7/Dockerfile
  docker/deploy/gpu/centos7/Dockerfile
Owners: @JinHai-CN

Fix test_hybrid_db and test_rpc error (#2552)
  CHANGELOG.md
  core/unittest/db/test_hybrid_db.cpp
  core/unittest/server/test_rpc.cpp
Owners: @JinHai-CN, @scsven

Upgrade config (#2511)
  CHANGELOG.md
  ci/jenkins/Jenkinsfile
  core/conf/demo/server_config.yaml
  core/conf/server_config.template
  core/src/cache/CpuCacheMgr.cpp
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/config/Utils.cpp
  core/src/config/Utils.h
  core/src/config/handler/GpuResourceConfigHandler.cpp
  core/src/db/meta/MetaFactory.cpp
  core/src/db/wal/WalDefinations.h
  core/src/metrics/prometheus/PrometheusMetrics.cpp
  core/src/scheduler/SchedInst.h
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
  core/src/server/DBWrapper.cpp
  core/src/server/Server.cpp
  core/src/server/delivery/request/ReLoadSegmentsRequest.cpp
  core/src/server/grpc_impl/GrpcServer.cpp
  core/src/server/init/StorageChecker.cpp
  core/src/server/web_impl/WebServer.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/utils/LogUtil.cpp
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
  core/unittest/db/utils.cpp
  core/unittest/server/test_check.cpp
  core/unittest/server/test_config.cpp
  core/unittest/server/test_rpc.cpp
  core/unittest/server/test_util.cpp
  core/unittest/server/test_web.cpp
  core/unittest/server/utils.cpp
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN, @scsven, @yhmo

[skip ci]update comments in config file (#2542)
  core/conf/server_config.template
Owners: @scsven

Mishards 010 upgrade & Add config unit in demo config (#2550)
  CHANGELOG.md
  core/conf/demo/server_config.yaml
  shards/all_in_one/all_in_one.yml
  shards/all_in_one/ro_server.yml
  shards/all_in_one/wr_server.yml
  shards/all_in_one_with_mysql/all_in_one.yml
  shards/all_in_one_with_mysql/ro_server.yml
  shards/all_in_one_with_mysql/wr_server.yml
  shards/mishards/connections.py
  shards/requirements.txt
Owners: @JinHai-CN, @scsven, @XuPeng-SH

count up query statistics for debug ease (#2528)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/scheduler/job/SearchJob.cpp
  core/src/scheduler/job/SearchJob.h
  core/src/scheduler/task/SearchTask.cpp
  core/unittest/db/test_engine.cpp
  core/unittest/db/test_hybrid_db.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

[skip ci] remove timeout in partition-test case (#2563)
  tests/milvus_go_test/client_test.go
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_ping.py
Owners: @JinHai-CN

change ver (#2559)
  core/CMakeLists.txt
Owners: @scsven

remove secondary path (#2560)
  CHANGELOG.md
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/db/Options.h
  core/src/db/Utils.cpp
  core/src/server/DBWrapper.cpp
  core/src/server/Server.cpp
  core/src/server/delivery/request/ReLoadSegmentsRequest.cpp
  core/src/server/init/StorageChecker.cpp
  core/unittest/db/test_misc.cpp
Owners: @JinHai-CN, @scsven

(fix #2487) Remove timeout when creating collection in dev test (#2541)
  CHANGELOG.md
  tests/milvus_python_test/conftest.py
Owners: @JinHai-CN

fix cache.cache_size range check error (#2565)
  CHANGELOG.md
  core/src/config/Config.cpp
  core/unittest/server/test_config.cpp
Owners: @JinHai-CN, @scsven

[skip ci] disable cron on 0.10.0 (#2566)
  ci/jenkins/Jenkinsfile
Owners: @JinHai-CN

[skip ci] add ci param (#2571)
  ci/jenkins/Jenkinsfile
Owners: @JinHai-CN

(db/snapshot): fix bugs and enhance unit test (#2562)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

save local work
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.h
  core/src/index/thirdparty/hnswlib/Makefile
  core/src/index/thirdparty/hnswlib/hnsw_test
  core/src/index/thirdparty/hnswlib/hnsw_test.cpp
  core/src/index/thirdparty/hnswlib/hnswalg2.h
  core/src/index/thirdparty/hnswlib/hnswalg3.h
  core/src/index/thirdparty/hnswlib/hnswlib.h
  core/src/index/thirdparty/hnswlib/out1.txt
  core/src/index/thirdparty/hnswlib/out2.txt
  core/src/index/thirdparty/hnswlib/out3.txt
  core/src/index/thirdparty/hnswlib/out4.txt
  core/src/index/thirdparty/hnswlib/out5.txt
  core/src/index/thirdparty/hnswlib/out6.txt
  core/src/index/thirdparty/hnswlib/out7.txt
  core/src/index/thirdparty/hnswlib/out8.txt
  core/src/index/thirdparty/hnswlib/out9.txt
  core/src/index/thirdparty/hnswlib/space_l2.h
  core/src/index/thirdparty/hnswlib/visited_list_pool.h
  sdk/examples/simple/src/ClientTest.cpp
Owners: @shengjun1985, @scsven

finish hnsw offset
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
Owners: @shengjun1985

fix random crash of INSERT_DUPLICATE_ID case (#2557)
  core/unittest/db/test_db.cpp
  core/unittest/db/utils.cpp
  core/unittest/db/utils.h
  sdk/README.md
Owners: @scsven

CreateHybridIndex.cpp compile error (#2583)
  CHANGELOG.md
  core/src/server/delivery/hybrid_request/CreateHybridIndexRequest.cpp
Owners: @JinHai-CN, @scsven

optimize unittest build (#2589)
  CHANGELOG.md
  core/src/main.cpp
  core/src/utils/SignalHandler.cpp
  core/src/utils/SignalHandler.h
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
  core/unittest/db/test_rpc.cpp
  core/unittest/db/test_web.cpp
  core/unittest/db/utils.cpp
  core/unittest/metrics/CMakeLists.txt
  core/unittest/metrics/test_metrics.cpp
  core/unittest/metrics/utils.cpp
  core/unittest/metrics/utils.h
  core/unittest/scheduler/CMakeLists.txt
  core/unittest/server/CMakeLists.txt
  core/unittest/server/test_cache.cpp
  core/unittest/server/test_check.cpp
  core/unittest/server/test_util.cpp
  core/unittest/server/utils.cpp
  core/unittest/storage/CMakeLists.txt
Owners: @JinHai-CN, @scsven

remove label from hnsw
  core/src/index/thirdparty/hnswlib/hnswalg3.h
Owners: @shengjun1985

Remove docker-entrypoint.sh in Dockerfile (#2586)
  docker/deploy/cpu/centos7/Dockerfile
  docker/deploy/cpu/ubuntu16.04/Dockerfile
  docker/deploy/cpu/ubuntu18.04/Dockerfile
  docker/deploy/docker-entrypoint.sh
  docker/deploy/gpu/centos7/Dockerfile
  docker/deploy/gpu/ubuntu16.04/Dockerfile
  docker/deploy/gpu/ubuntu18.04/Dockerfile
Owners: @JinHai-CN

fix #2578 (#2591)
  core/src/server/delivery/request/SearchCombineRequest.cpp
Owners: @scsven

(db/snapshot): update ut (#2588)
  core/src/db/snapshot/CompoundOperations.h
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

Update auto merge criterian (#2596)
  .mergify/config.yml
Owners: @JinHai-CN

Archive dev test logs in Jenkins CI (#2579)
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

Fix #2595 (#2597)
  ci/jenkins/Jenkinsfile
Owners: @JinHai-CN

Add release.yml in Github Action (#2595)
  .github/workflows/release.yml
  ci/docker/centos-7-cuda-core.dockerfile
  ci/jenkins/step/build.groovy
  docker-compose.yml
Owners: @JinHai-CN

Auto merge (#2603)
  .mergify/config.yml
Owners: @JinHai-CN

Support IVF_PQ on GPU with using metric_type IP (#2593)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/server/delivery/request/CreateIndexRequest.cpp
  core/unittest/db/test_rpc.cpp
Owners: @JinHai-CN, @shengjun1985, @scsven

fix Milvus docker image report illegal instruction (#2598)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/utils/instruction_set.h
Owners: @JinHai-CN, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985
