Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @jielinxu, @yamasite, @fishpenguin, @del-zhenwu

CODEOWNERS:

# Each line is a component followed by one or more owners. 

* @JinHai-CN
/core   @JinHai-CN @XuPeng-SH
/ci     @ZhifengZhang-CN
/docker @ZhifengZhang-CN
/docs   @jielinxu @yamasite
/sdk    @fishpenguin
/shards @XuPeng-SH
/tests  @del-zhenwu

update
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1609 Refine Compact function
  CHANGELOG.md
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1609 Refine Compact function
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1609 Refine Compact function
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

update
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @XuPeng-SH

update
  core/src/scheduler/job/BuildIndexJob.cpp
Owners: @JinHai-CN, @XuPeng-SH

update
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

update
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1598 Server down during mixed operations
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/insert/MemTable.cpp
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_meta_mysql.cpp
Owners: @JinHai-CN, @XuPeng-SH

Test
  core/src/db/insert/MemTable.cpp
  sdk/examples/simple/src/ClientTest.cpp
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin

Update time print log
  core/src/db/insert/MemTable.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update code
  sdk/examples/simple/src/ClientTest.cpp
Owners: @fishpenguin

Fix format
  core/src/db/insert/MemTable.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update Changelog
  CHANGELOG.md
Owners: @JinHai-CN

Update CHANGELOG
  CHANGELOG.md
Owners: @JinHai-CN

Update README.md
  README.md
Owners: @JinHai-CN

Update README_CN.md
  README_CN.md
Owners: @JinHai-CN

Update README_JP.md
  README_JP.md
Owners: @JinHai-CN

Update INSTALL.md
  INSTALL.md
Owners: @JinHai-CN

Update test case format
  tests/milvus_python_test/utils.py
Owners: @del-zhenwu

#1547 update changelog
  CHANGELOG.md
Owners: @JinHai-CN

#1547 update changelog
  CHANGELOG.md
Owners: @JinHai-CN

Update ci pip install
  ci/jenkins/step/singleDevTest.groovy
  tests/milvus_python_test/requirements.txt
Owners: @ZhifengZhang-CN, @del-zhenwu

update changelog
  CHANGELOG.md
Owners: @JinHai-CN

Update README.md
  README.md
Owners: @JinHai-CN

Update README_CN.md
  README_CN.md
Owners: @JinHai-CN

Update README_JP.md
  README_JP.md
Owners: @JinHai-CN

Update README.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

#1547 update changelog
  CHANGELOG.md
Owners: @JinHai-CN

#1548 move store/Directory.cpp to storage
  core/src/CMakeLists.txt
  core/src/codecs/IdBloomFilterFormat.h
  core/src/codecs/VectorsFormat.h
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
  core/src/codecs/default/DefaultDeletedDocsFormat.h
  core/src/codecs/default/DefaultIdBloomFilterFormat.cpp
  core/src/codecs/default/DefaultIdBloomFilterFormat.h
  core/src/codecs/default/DefaultVectorsFormat.cpp
  core/src/codecs/default/DefaultVectorsFormat.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/src/storage/Operation.h
  core/src/storage/disk/DiskOperation.cpp
  core/src/storage/disk/DiskOperation.h
  core/unittest/CMakeLists.txt
Owners: @JinHai-CN, @XuPeng-SH

#1548 add FSHandler
  core/src/codecs/IdBloomFilterFormat.h
  core/src/codecs/VectorsFormat.h
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
  core/src/codecs/default/DefaultDeletedDocsFormat.h
  core/src/codecs/default/DefaultIdBloomFilterFormat.cpp
  core/src/codecs/default/DefaultIdBloomFilterFormat.h
  core/src/codecs/default/DefaultVectorsFormat.cpp
  core/src/codecs/default/DefaultVectorsFormat.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/src/storage/FSHandler.h
  core/src/storage/IOReader.h
  core/src/storage/IOWriter.h
Owners: @JinHai-CN, @XuPeng-SH

#1548 move store/Directory to storage and add FSHandler
  CHANGELOG.md
Owners: @JinHai-CN

retry CI
  CHANGELOG.md
Owners: @JinHai-CN

retry CI
  CHANGELOG.md
Owners: @JinHai-CN

update header file
  core/src/codecs/default/DefaultIdBloomFilterFormat.h
Owners: @JinHai-CN, @XuPeng-SH

update
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/unittest/db/utils.cpp
Owners: @JinHai-CN, @XuPeng-SH

update
  CHANGELOG.md
Owners: @JinHai-CN

update
  CHANGELOG.md
Owners: @JinHai-CN

fix crashes
  core/src/index/knowhere/knowhere/adapter/SptagAdapter.cpp
  core/src/index/knowhere/knowhere/common/BinarySet.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexSPTAG.cpp
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/scheduler/job/BuildIndexJob.h
Owners: @JinHai-CN, @XuPeng-SH

fix demo bug in HTTP doc (fix #1634) (#1640)
  CHANGELOG.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH
