Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

Remove unused settings (#2095)
  shards/mishards/service_handler.py
Owners: @XuPeng-SH

Remove unused utilities (#2104)
  shards/mishards/service_handler.py
Owners: @XuPeng-SH

Use emplace_back instead of push_back (#2103)
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
Owners: @shengjun1985

Remove import TopKQueryResult (#2100)
  shards/mishards/service_handler.py
Owners: @XuPeng-SH

Delete useless boolean (#2107)
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
Owners: @shengjun1985

Remove unused ConnectionMgr (#2102)
  shards/mishards/test_server.py
Owners: @XuPeng-SH

Update ConfAdapter.cpp (#2106)
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
Owners: @shengjun1985

put error when call Flush (#2097)
  core/src/db/insert/MemManagerImpl.cpp
Owners: @scsven

Rename MemMenagerFactory.cpp/h to MemManagerFactory.cpp/h (#2093)
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemManagerFactory.cpp
  core/src/db/insert/MemManagerFactory.h
Owners: @scsven

Values of type 'const size_t' may not fit into the receiver type 'int' (#2109)
  core/src/index/thirdparty/annoy/src/annoylib.h
Owners: @shengjun1985

Update GItHub Action Workflow (#2112)
  .github/workflows/core.yml
Owners: @JinHai-CN

fix jenkins (#2110)
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

Update case (#2113)
  tests/milvus_python_test/test_partition.py
Owners: @JinHai-CN

[skip ci](shards): fix issue to show exception messages in error log (#2115)
  shards/mishards/exceptions.py
Owners: @XuPeng-SH

#1997 index file missed after compact (#2108)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/server/delivery/request/SearchByIDRequest.cpp
  core/unittest/db/test_search_by_id.cpp
  sdk/examples/simple/src/ClientTest.cpp
Owners: @JinHai-CN, @scsven

[skip ci](shards): fix issue #2116
  shards/discovery/plugins/static_provider.py
Owners: @XuPeng-SH

add cpu instruction sets check (#2055)
  CHANGELOG.md
  core/src/CMakeLists.txt
  core/src/main.cpp
  core/src/server/Server.cpp
  core/src/server/init/CpuChecker.cpp
  core/src/server/init/CpuChecker.h
  core/src/utils/CommonUtil.h
  core/unittest/CMakeLists.txt
Owners: @JinHai-CN, @scsven

[skip ci] remove useless log (#2119)
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.cpp
Owners: @shengjun1985

train func add catch excetpion (#2096)
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
Owners: @shengjun1985

rename the variable name collection_schema (#2126)
  core/unittest/db/test_meta_mysql.cpp
Owners: @scsven

Add instance lock (#2060)
  CHANGELOG.md
  core/conf/log_config.template
  core/src/CMakeLists.txt
  core/src/main.cpp
  core/src/server/Server.cpp
  core/src/server/init/InstanceLockCheck.cpp
  core/src/server/init/InstanceLockCheck.h
  core/unittest/server/CMakeLists.txt
Owners: @JinHai-CN, @scsven

Caiyd 1946 cpu2gpu getres (#2124)
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/common/Log.cpp
  core/src/index/knowhere/knowhere/common/Log.h
  core/src/index/knowhere/knowhere/common/Timer.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.h
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.cpp
  core/src/index/unittest/CMakeLists.txt
  sdk/examples/simple/src/ClientTest.cpp
Owners: @shengjun1985, @scsven

When helm deploy failed, print the milvus container logs (#2130)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

delete unused file
  core/src/server/web_impl/utils/Util.h
Owners: @scsven

aaa
  SUPPORT.md
  codecov.yaml
Owners: @JinHai-CN

Fix compiling error
  SUPPORT.md
  codecov.yaml
  core/src/server/web_impl/utils/Util.cpp
  core/src/server/web_impl/utils/Util.h
Owners: @JinHai-CN, @scsven

Fix lint error
  core/src/server/web_impl/utils/Util.h
Owners: @scsven

replace int with size_t (#2140)
  core/src/index/thirdparty/hnswlib/bruteforce.h
Owners: @shengjun1985

Caiyd 2039 avx sse (#2136)
  CHANGELOG.md
  core/src/index/CMakeLists.txt
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/index/thirdparty/faiss/FaissHook.cpp
  core/src/index/thirdparty/faiss/Makefile
  core/src/index/thirdparty/faiss/impl/ScalarQuantizer.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerCodec.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerCodec_avx.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC_avx.cpp
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC_avx.h
  core/src/index/thirdparty/faiss/impl/ScalarQuantizerDC_avx512.cpp
  core/src/index/thirdparty/faiss/makefile.inc.in
  core/src/index/thirdparty/faiss/utils/distances.h
  core/src/index/thirdparty/faiss/utils/distances_avx.h
  core/src/index/thirdparty/faiss/utils/distances_simd.cpp
  core/src/index/thirdparty/faiss/utils/distances_simd_avx.cpp
Owners: @JinHai-CN, @shengjun1985

Wait for helm uninstall chart (#2142)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

Add log for error status (#2148)
  core/src/db/DBImpl.cpp
Owners: @scsven

remove uint64_t j from parameters (#2147)
  core/src/db/engine/ExecutionEngineImpl.cpp
Owners: @scsven

merge server_cpu_config.template and server_gpu_config.template (#2150)
  CHANGELOG.md
  core/CMakeLists.txt
  core/conf/server_config.template
  core/conf/server_gpu_config.template
Owners: @JinHai-CN, @scsven

Gpu check (#2129)
  CHANGELOG.md
  core/src/server/Server.cpp
  core/src/server/init/CpuChecker.cpp
  core/src/server/init/GpuChecker.cpp
  core/src/server/init/GpuChecker.h
  core/unittest/server/CMakeLists.txt
  core/unittest/server/test_check.cpp
Owners: @JinHai-CN, @scsven

fix server start failed if wal directory exist (#2144)
  CHANGELOG.md
  core/src/server/Server.cpp
Owners: @JinHai-CN, @scsven

build openblas by source (#2154)
  CHANGELOG.md
  core/src/CMakeLists.txt
  core/src/index/cmake/DefineOptionsCore.cmake
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/src/index/thirdparty/versions.txt
Owners: @JinHai-CN, @scsven, @shengjun1985

Add config to switch off web server (#2137)
  CHANGELOG.md
  core/cmake/ThirdPartyPackages.cmake
  core/conf/demo/server_config.yaml
  core/conf/server_config.template
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/server/web_impl/WebServer.cpp
  core/src/server/web_impl/component/AppComponent.hpp
  core/src/utils/LogUtil.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

skip ubuntu-ci in regression (#2159)
  ci/jenkins/Jenkinsfile
Owners: @JinHai-CN

Merge config file (#2168)
  CHANGELOG.md
  core/conf/server_config.template
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/server/Server.cpp
  core/src/utils/LogUtil.cpp
  core/src/utils/LogUtil.h
  core/unittest/server/test_util.cpp
Owners: @JinHai-CN, @scsven

Fix failed to open file (#2138)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/IndexFailedChecker.cpp
  core/src/db/IndexFailedChecker.h
  core/src/db/OngoingFileChecker.cpp
  core/src/db/OngoingFileChecker.h
  core/src/db/Types.h
  core/src/db/insert/MemTable.cpp
  core/src/db/meta/FilesHolder.cpp
  core/src/db/meta/FilesHolder.h
  core/src/db/meta/Meta.h
  core/src/db/meta/MetaTypes.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/metrics/SystemInfo.cpp
  core/src/metrics/prometheus/PrometheusMetrics.cpp
  core/src/server/delivery/request/HasPartitionRequest.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_meta_mysql.cpp
  core/unittest/db/test_misc.cpp
  core/unittest/db/test_search_by_id.cpp
Owners: @JinHai-CN, @scsven, @yhmo
