Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @jeffoverflow, @cydrain, @yhmo, @shengjun1985

[skip ci]remove cherry-pick section in PULL REQUEST TEMPLATE (#3571)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JinHai-CN

Fix #3515: error should be raised if tag name as params of `has_partition` is set invalid (#3545)
  core/src/db/CMakeLists.txt
  core/src/db/DBImpl.cpp
  core/src/server/ValidationUtil.cpp
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/stability/test_mysql.py
  tests/milvus_python_test/stability/test_restart.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_wal.py
Owners: @scsven, @cydrain

free moved tasks and executed tasks (#3578)
  core/src/scheduler/resource/Resource.cpp
Owners: @scsven

Transcript (#3561) (#3582)
  core/src/config/ConfigMgr.cpp
  core/src/config/ServerConfig.h
  core/src/db/Constants.h
  core/src/db/transcript/ScriptCodec.cpp
  core/src/db/transcript/ScriptCodec.h
  core/src/db/transcript/ScriptFile.cpp
  core/src/db/transcript/ScriptFile.h
  core/src/db/transcript/ScriptRecorder.cpp
  core/src/db/transcript/ScriptRecorder.h
  core/src/db/transcript/ScriptReplay.cpp
  core/src/db/transcript/TranscriptProxy.cpp
  core/src/db/transcript/TranscriptProxy.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/src/server/DBWrapper.cpp
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/utils/CommonUtil.cpp
  core/src/utils/CommonUtil.h
  core/unittest/db/CMakeLists.txt
  core/unittest/db/test_transcript.cpp
Owners: @scsven

remove set config case (#3587)
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/test_flush.py
Owners: @cydrain

Fix ut DeleteEntitiesTest where delete entity failed (#3589)
  CHANGELOG.md
  core/src/db/insert/MemCollection.cpp
  core/src/server/Server.cpp
Owners: @JinHai-CN, @scsven

[skip ci] Add some binary search case and update index builder (#3591)
  tests/milvus-java-test/src/main/java/com/Constants.java
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestCollection.java
  tests/milvus-java-test/src/main/java/com/TestConnect.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestIndex_v2.java
  tests/milvus-java-test/src/main/java/com/TestSearchEntities.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

rewrite codecs implementation (#3541)
  core/src/codecs/BlockFormat.cpp
  core/src/codecs/CMakeLists.txt
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/codecs/ExtraFileInfo.cpp
  core/src/codecs/ExtraFileInfo.h
  core/src/codecs/ExtraFileInfoTest.cpp
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/VectorCompressFormat.cpp
  core/src/codecs/VectorIndexFormat.cpp
  core/src/scheduler/TaskTable.cpp
  core/src/server/delivery/request/CmdReq.cpp
  core/src/storage/CMakeLists.txt
  core/src/storage/ExtraFileInfo.cpp
  core/src/storage/ExtraFileInfo.h
  core/src/storage/IOReader.h
  core/src/storage/IOWriter.h
  core/src/storage/disk/DiskIOReader.cpp
  core/src/storage/disk/DiskIOReader.h
  core/src/storage/disk/DiskIOWriter.cpp
  core/src/storage/disk/DiskIOWriter.h
  core/src/utils/Status.cpp
  core/src/utils/Status.h
Owners: @scsven

Update ConfigMgr::Set behavior (#3546)
  core/src/config/CMakeLists.txt
  core/src/config/ConfigInit.cpp
  core/src/config/ConfigMgr.cpp
  core/src/config/ConfigMgr.h
  core/src/config/ConfigMgrTest.cpp
  core/src/config/ConfigType.cpp
  core/src/config/ConfigType.h
  core/src/config/ConfigTypeTest1.cpp
  core/src/config/ConfigTypeTest2.cpp
  core/src/config/ServerConfig.h
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/DBProxy.cpp
  core/src/db/DBProxy.h
  core/src/main.cpp
  core/src/server/CMakeLists.txt
  core/src/server/Server.cpp
  core/src/server/Server.h
  core/src/server/delivery/request/CmdReq.cpp
  core/src/server/delivery/request/CmdReq.h
  core/src/server/init/CMakeLists.txt
  core/src/server/init/Timezone.cpp
  core/src/server/init/TimezoneTest.cpp
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_ping.py
Owners: @scsven, @cydrain

refine code for insert mem (#3593)
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
Owners: @scsven

update output message if collection is not existed fix #3427 (#3598)
  CHANGELOG.md
  core/src/db/snapshot/Snapshots.cpp
Owners: @JinHai-CN, @scsven

Fix getEntity when no query_params and payload is provided in webserver (#3600)
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/server/test_web.cpp
Owners: @scsven

fix cache not clear bug in ut (#3595)
  core/src/codecs/ExtraFileInfo.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

Update Milvus Dev Test environment (#3604)
  ci/jenkins/pod/testEnvironment.yaml
  docker/test_env/Dockerfile
  docker/test_env/docker-entrypoint.sh
  docker/test_env/requirements.txt
Owners: @jeffoverflow, @cydrain, @JinHai-CN

[skip ci] add case for dsl search vectors (#3613)
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestIndex_v2.java
  tests/milvus-java-test/src/main/java/com/TestSearchEntities.java
Owners: @cydrain

fix aws build error (#3607)
  core/src/db/CMakeLists.txt
  core/src/storage/CMakeLists.txt
  core/thirdparty/aws/CMakeLists.txt
Owners: @scsven

[skip ci] add test for compactAsync callback (#3618)
  tests/milvus-java-test/src/main/java/com/TestCompact.java
Owners: @cydrain

[skip ci] use List<List<Byte>> for binary searchParam (#3622)
  tests/milvus-java-test/src/main/java/com/Constants.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount_v2.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo_v2.java
  tests/milvus-java-test/src/main/java/com/TestCollection_v2.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestDeleteEntities_v2.java
  tests/milvus-java-test/src/main/java/com/TestFlush.java
  tests/milvus-java-test/src/main/java/com/TestGetEntityByID.java
  tests/milvus-java-test/src/main/java/com/TestIndex_v2.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities_v2.java
  tests/milvus-java-test/src/main/java/com/TestSearchEntities.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

add to check query dim (#3620)
  core/src/query/GeneralQuery.h
  core/src/server/delivery/request/SearchReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

(db/snapshot): fix InActiveResourcesGCEvent bug (#3611)
  core/src/db/snapshot/InActiveResourcesGCEvent.h
Owners: @scsven

Fix crash where getting octets information (#3625)
  CHANGELOG.md
  core/src/metrics/SystemInfo.cpp
Owners: @JinHai-CN, @scsven

fix building index check (#3628)
  core/src/config/ConfigInit.cpp
  core/src/db/DBImpl.cpp
Owners: @scsven

rewrite dabloom (#3629)
  core/src/codecs/IdBloomFilterFormat.cpp
  core/src/codecs/IdBloomFilterFormat.h
  core/src/db/insert/MemCollection.cpp
  core/src/segment/IdBloomFilter.cpp
  core/src/segment/IdBloomFilter.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/thirdparty/dablooms/dablooms.cpp
  core/thirdparty/dablooms/dablooms.h
  core/unittest/db/test_segment.cpp
Owners: @scsven

add build option -rdynamic in CMakeList.txt (#3632)
  CHANGELOG.md
  core/CMakeLists.txt
Owners: @JinHai-CN, @scsven

[skip ci] update callback test and binary search test (#3657)
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities.java
  tests/milvus-java-test/src/main/java/com/TestSearchEntities.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

Proto of C++ sdk is different from milvus server (#3654)
  CHANGELOG.md
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/grpc-gen/gen-milvus/milvus.grpc.pb.cc
  sdk/grpc-gen/gen-milvus/milvus.grpc.pb.h
  sdk/grpc-gen/gen-milvus/milvus.pb.cc
  sdk/grpc-gen/gen-milvus/milvus.pb.h
  sdk/grpc/ClientProxy.cpp
  sdk/grpc/ClientProxy.h
  sdk/grpc/GrpcClient.cpp
  sdk/grpc/GrpcClient.h
  sdk/include/MilvusApi.h
  sdk/interface/ConnectionImpl.cpp
  sdk/interface/ConnectionImpl.h
Owners: @JinHai-CN, @scsven

Clear cache after merge (#3645)
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/index/unittest/test_rhnsw_sq8.cpp
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
Owners: @scsven, @shengjun1985

set wal lsn to meta (#3638)
  core/src/db/insert/MemSegment.cpp
  core/src/db/insert/MemSegment.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/src/db/wal/WalProxy.cpp
  core/src/db/wal/WalProxy.h
  core/unittest/db/test_wal.cpp
Owners: @scsven

fix nprobe error (#3658)
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.cpp
  tests/milvus_python_test/entity/test_search.py
Owners: @shengjun1985, @cydrain

fix get entity by deleted id (#3661)
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
Owners: @cydrain

[skip ci] update case for get entity by with invalid ids (#3665)
  tests/milvus-java-test/src/main/java/com/TestDeleteEntities.java
  tests/milvus-java-test/src/main/java/com/TestDeleteEntities_v2.java
  tests/milvus-java-test/src/main/java/com/TestGetEntityByID.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

Fix loadcollection memory usage is one times larger than expect (#3664)
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.h
Owners: @shengjun1985

add memory limit check (#3669)
  CHANGELOG.md
  core/src/config/ConfigInit.cpp
Owners: @JinHai-CN, @scsven

avoid dabloom warning (#3674)
  core/src/segment/IdBloomFilter.cpp
  core/src/segment/IdBloomFilter.h
  core/thirdparty/dablooms/dablooms.cpp
  core/unittest/db/test_segment.cpp
Owners: @scsven

[skip ci] update milvus_python_test/README.md (#3687)
  tests/milvus_python_test/README.md
Owners: @cydrain

fix #3672 0.11.0 docker image is 200M larger due to the un-expected installation of openblas (#3686)
  CHANGELOG.md
  docker/deploy/cpu/centos7/Dockerfile
  docker/deploy/cpu/ubuntu18.04/Dockerfile
  docker/deploy/gpu/centos7/Dockerfile
  docker/deploy/gpu/ubuntu18.04/Dockerfile
Owners: @JinHai-CN

(db/snapshot): update LSN logic (#3682)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Operations.cpp
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

fix3626 (#3699)
  CHANGELOG.md
  core/src/scheduler/job/SearchJob.h
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @scsven

add log (#3680)
  core/src/db/wal/WalFile.cpp
Owners: @scsven

fix snapshot not release bug (#3708)
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/SnapshotHolder.cpp
Owners: @scsven

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/ci/                     @jeffoverflow @cydrain
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/         @shengjun1985
/tests/                  @cydrain
