Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @jeffoverflow, @cydrain, @yhmo, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/ci/                     @jeffoverflow @cydrain
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/         @shengjun1985
/tests/                  @cydrain

Allow more choices for the parameter ‘m’ of CPU IVF_PQ #3254 (#3508)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/Cloner.cpp
  core/src/index/unittest/CMakeLists.txt
  core/src/server/ValidationUtil.cpp
Owners: @scsven, @shengjun1985

when the topk of gpu search >2048 ,turning into the cpu search (#3640)
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/scheduler/SchedInst.h
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.h
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.h
  core/src/scheduler/selector/FaissIVFPass.cpp
  core/src/scheduler/selector/FaissIVFPass.h
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/scheduler/task/SearchTask.h
  core/src/scheduler/tasklabel/SpecResLabel.h
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/unittest/scheduler/test_action.cpp
  core/unittest/scheduler/test_selector.cpp
  sdk/examples/qps/src/ClientTest.cpp
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @shengjun1985, @scsven, @cydrain

remove the flush step in drop collection request processing (#3840)
  core/src/server/delivery/request/DropCollectionReq.cpp
Owners: @scsven

avoid insert hangs (#3841)
  core/src/db/insert/MemCollection.cpp
Owners: @scsven

Fix the multi-gpus building index enable problem (#3845)
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/scheduler/task/BuildIndexTask.h
Owners: @scsven

validate structured index type (#3848)
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/delivery/request/SearchReq.cpp
Owners: @scsven

add more wal log (#3850)
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalOperationCodec.cpp
Owners: @scsven

remove persistence (#3801)
  .jenkins/modules/DevTest/SingleNodeDevTest.groovy
Owners: @JinHai-CN

add test insert binary (#3853)
  tests/milvus_python_test/entity/test_insert.py
Owners: @cydrain

catch-load-config-exception (#3857)
  core/src/config/ConfigMgr.cpp
  core/src/config/ConfigMgr.h
  core/src/main.cpp
Owners: @scsven

reduce insert memory copy (#3842)
  core/src/db/DBImpl.cpp
  core/src/db/Utils.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/wal/WalProxy.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/ReqHandler.cpp
  core/src/server/delivery/ReqHandler.h
  core/src/server/delivery/request/InsertReq.cpp
  core/src/server/delivery/request/InsertReq.h
  core/src/server/delivery/request/Types.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

reduce uid copy during search (#3867)
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
Owners: @scsven

(db/snapshot): fix bug in metadata snapshot that handling CollectionCommit and PartitionCommit mappings (#3864)
  core/src/db/snapshot/ResourceOperations.cpp
Owners: @scsven

fix gpu check bug (#3866)
  core/src/server/init/GpuChecker.cpp
Owners: @scsven

validate binary index type (#3869)
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/delivery/request/SearchReq.cpp
Owners: @scsven

let bitset nullptr it no deletion and no filter (#3872)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.h
  core/src/segment/SegmentReader.cpp
Owners: @scsven, @shengjun1985

fix pq distances cal bug (#3876)
  core/src/index/thirdparty/faiss/gpu/impl/PQCodeDistances-inl.cuh
Owners: @shengjun1985

add hnsw pq/sq case (#3863)
  .jenkins/modules/DevTest/SingleNodeDevTest.groovy
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN, @cydrain

fix index HNSW_PQ/SQ in test_get_collection_stats_after_index_created has no index type (#3883)
  tests/milvus_python_test/collection/test_collection_stats.py
Owners: @cydrain

If the number of tasks to be executed great equal than 1, stop loading (#3881)
  core/src/scheduler/TaskTable.cpp
Owners: @scsven

reduce uid copy (#3875)
  core/src/db/SnapshotHandlers.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
Owners: @scsven

c++ sdk segmentation fault (#3856)
  CHANGELOG.md
  sdk/grpc/ClientProxy.cpp
Owners: @JinHai-CN, @scsven

code Refactoring (#3885)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

add logs 4 issue 3846
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/segment/SegmentReader.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/utils/Utils.cpp
Owners: @scsven

fix gpu check bug (#3888)
  core/src/server/init/GpuChecker.cpp
Owners: @scsven

enable hnsw_pq/sq case (#3891)
  tests/milvus_python_test/utils.py
Owners: @cydrain

knowhere unittest add to check CPU instruction set (#3892)
  core/src/index/unittest/utils.h
Owners: @shengjun1985

Fix C++ sdk for search extra params (#3890)
  sdk/examples/binary_vector/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/utils/Utils.cpp
  sdk/grpc/ClientProxy.cpp
  sdk/grpc/ClientProxy.h
  sdk/include/MilvusApi.h
  sdk/interface/ConnectionImpl.cpp
  sdk/interface/ConnectionImpl.h
Owners: @scsven

rewrite ListIdInSegment (#3887)
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/segment/Utils.cpp
  core/src/segment/Utils.h
  core/unittest/db/test_segment.cpp
Owners: @scsven

return build index error message to client (#3895)
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SegmentTaskTracker.cpp
  core/src/db/SegmentTaskTracker.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/scheduler/job/BuildIndexJob.h
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/ValidationUtil.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

add wal sync config (#3899)
  core/src/config/ConfigInit.cpp
  core/src/config/ServerConfig.h
  core/src/db/wal/WalFile.cpp
  core/src/db/wal/WalFile.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
Owners: @scsven

Let bitset all functions inline (#3904)
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.h
Owners: @shengjun1985

Hnsw case (#3907)
  tests/milvus_python_test/utils.py
Owners: @cydrain

[skip ci] Http case (#3908)
  tests/milvus_http_test/.dockerignore
  tests/milvus_http_test/.gitignore
  tests/milvus_http_test/Dockerfile
  tests/milvus_http_test/README.md
  tests/milvus_http_test/client.py
  tests/milvus_http_test/conftest.py
  tests/milvus_http_test/constants.py
  tests/milvus_http_test/docker-entrypoint.sh
  tests/milvus_http_test/pytest.ini
  tests/milvus_http_test/requirements.txt
  tests/milvus_http_test/requirements_cluster.txt
  tests/milvus_http_test/requirements_no_pymilvus.txt
  tests/milvus_http_test/run.sh
  tests/milvus_http_test/test_ping.py
  tests/milvus_http_test/utils.py
Owners: @cydrain

milvus paper test 3.2
  core/src/index/thirdparty/faiss/tutorial/cpp/cache_test.cpp
  core/src/index/thirdparty/faiss/utils/distances.cpp
Owners: @shengjun1985

refine query code (#3913)
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotVisitor.cpp
  core/src/db/SnapshotVisitor.h
Owners: @scsven

fix pq distance calculation outofrange according to faiss suggests (#3925)
  core/src/index/thirdparty/faiss/gpu/impl/PQCodeDistances-inl.cuh
Owners: @shengjun1985

fix build index log error (#3928)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/delivery/request/CreateIndexReq.cpp
Owners: @scsven

Fix build bug (#3939)
  core/src/index/thirdparty/faiss/gpu/impl/PQCodeDistances-inl.cuh
Owners: @shengjun1985

update cache test
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
  core/src/index/thirdparty/faiss/tutorial/cpp/cache_test.cpp
Owners: @shengjun1985
