Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @jielinxu, @yamasite, @fishpenguin, @del-zhenwu

CODEOWNERS:

# Each line is a component followed by one or more owners. 

* @JinHai-CN
/core   @JinHai-CN @XuPeng-SH
/ci     @ZhifengZhang-CN
/docker @ZhifengZhang-CN
/docs   @jielinxu @yamasite
/sdk    @fishpenguin
/shards @XuPeng-SH
/tests  @del-zhenwu

#1537 update changelog
  CHANGELOG.md
Owners: @JinHai-CN

add read_vectors_internal() and read_uids_internal()
  core/src/codecs/default/DefaultVectorsFormat.cpp
  core/src/codecs/default/DefaultVectorsFormat.h
Owners: @JinHai-CN, @XuPeng-SH

set size after load (#1539)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngineImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix 1507 (#1509)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/server/Config.cpp
  core/unittest/server/test_config.cpp
Owners: @JinHai-CN, @XuPeng-SH

Make cache_insert_data take effect in-service(# 1521) (#1540)
  CHANGELOG.md
  core/src/config/handler/CacheConfigHandler.cpp
  core/src/config/handler/CacheConfigHandler.h
  core/src/config/handler/ConfigHandler.h
  core/src/config/handler/GpuBuildConfigHandler.cpp
  core/src/config/handler/GpuBuildConfigHandler.h
  core/src/config/handler/GpuConfigHandler.cpp
  core/src/config/handler/GpuConfigHandler.h
  core/src/config/handler/GpuSearchConfigHandler.cpp
  core/src/config/handler/GpuSearchConfigHandler.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/insert/MemTable.cpp
  core/src/db/insert/MemTable.h
  core/src/db/insert/MemTableFile.cpp
  core/src/db/insert/MemTableFile.h
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/scheduler/job/BuildIndexJob.h
  core/src/scheduler/optimizer/BuildIndexPass.h
  core/src/scheduler/optimizer/FaissFlatPass.h
  core/src/scheduler/optimizer/FaissIVFFlatPass.h
  core/src/scheduler/optimizer/FaissIVFPQPass.h
  core/src/scheduler/optimizer/FaissIVFSQ8HPass.h
  core/src/server/Config.cpp
  core/src/server/Config.h
  core/unittest/server/test_config.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix: shards/requirements.txt to reduce vulnerabilities
  shards/requirements.txt
Owners: @XuPeng-SH

#1524 update config preload_table description (#1543)
  CHANGELOG.md
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
Owners: @JinHai-CN, @XuPeng-SH

update config test
  tests/milvus_python_test/test_config.py
Owners: @del-zhenwu

update config test
  tests/milvus_python_test/test_config.py
Owners: @del-zhenwu

#1546 add changelog
  CHANGELOG.md
Owners: @JinHai-CN

#1532 Search with ivf_flat failed with open-dataset: sift-256-hamming
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

for meta migration
  core/src/db/meta/SqliteMetaImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1529 fix server crash when cache_insert_data enabled (#1541)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/Cloner.cpp
Owners: @JinHai-CN, @XuPeng-SH

Update resources name in HTTP module (#1545)
  CHANGELOG.md
  core/src/config/handler/ConfigHandler.h
  core/src/server/Config.cpp
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/dto/TableDto.hpp
  core/src/server/web_impl/dto/VectorDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/src/utils/StringHelpFunctions.cpp
  core/src/utils/StringHelpFunctions.h
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

fix typo
  CHANGELOG.md
Owners: @JinHai-CN

fix typo
  CHANGELOG.md
Owners: @JinHai-CN

fix sqlite bug
  core/src/db/meta/SqliteMetaImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

remove search by id interface from c++sdk
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.h
  sdk/examples/utils/Utils.cpp
  sdk/examples/utils/Utils.h
  sdk/grpc/ClientProxy.cpp
  sdk/grpc/ClientProxy.h
  sdk/grpc/GrpcClient.cpp
  sdk/grpc/GrpcClient.h
  sdk/include/MilvusApi.h
  sdk/interface/ConnectionImpl.cpp
  sdk/interface/ConnectionImpl.h
Owners: @fishpenguin

#1556 Index file not create after table and index create
  CHANGELOG.md
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
Owners: @JinHai-CN, @XuPeng-SH

refine c++sdk
  sdk/grpc/ClientProxy.cpp
  sdk/grpc/ClientProxy.h
  sdk/include/MilvusApi.h
  sdk/interface/ConnectionImpl.cpp
  sdk/interface/ConnectionImpl.h
Owners: @fishpenguin

typo
  CHANGELOG.md
Owners: @JinHai-CN

Update CHANGELOG.md
  CHANGELOG.md
Owners: @JinHai-CN

update max_support_dim
  CHANGELOG.md
  core/src/wrapper/ConfAdapter.cpp
Owners: @JinHai-CN, @XuPeng-SH

rename c++sdk
  sdk/examples/binary_vector/src/ClientTest.cpp
  sdk/examples/partition/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.h
  sdk/examples/utils/Utils.cpp
  sdk/examples/utils/Utils.h
  sdk/grpc/ClientProxy.cpp
  sdk/grpc/ClientProxy.h
  sdk/include/MilvusApi.h
  sdk/interface/ConnectionImpl.cpp
  sdk/interface/ConnectionImpl.h
Owners: @fishpenguin

fix config wal valid_recovery_error_ignore bug
  CHANGELOG.md
  core/src/server/Config.cpp
  core/src/server/Config.h
Owners: @JinHai-CN, @XuPeng-SH

update.
  core/unittest/wrapper/test_wrapper.cpp
Owners: @JinHai-CN, @XuPeng-SH

remove port check declaration
  core/src/server/Config.h
Owners: @JinHai-CN, @XuPeng-SH

use bool conversation
  core/src/server/Config.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1567 update yaml config description
  CHANGELOG.md
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
Owners: @JinHai-CN, @XuPeng-SH

#1567 update yaml config description
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
Owners: @JinHai-CN, @XuPeng-SH

handler json error when create index
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @JinHai-CN, @XuPeng-SH

change create index url
  core/src/server/web_impl/controller/WebController.hpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

lower variable in systemop
  core/src/server/web_impl/controller/WebController.hpp
Owners: @JinHai-CN, @XuPeng-SH

Update README.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

update config test
  tests/milvus_python_test/test_config.py
Owners: @del-zhenwu

#1571 Meta engine type become IDMAP after drop index for BINARY table
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/server/delivery/request/CreateIndexRequest.cpp
  core/src/server/delivery/request/CreateTableRequest.cpp
  core/src/server/delivery/request/InsertRequest.cpp
  core/src/server/delivery/request/SearchRequest.cpp
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
Owners: @JinHai-CN, @XuPeng-SH

update
  core/src/config/handler/GpuBuildResHandler.cpp
  core/src/config/handler/GpuBuildResHandler.h
  core/src/config/handler/GpuResourcesHandler.cpp
  core/src/config/handler/GpuResourcesHandler.h
  core/src/config/handler/GpuSearchResHandler.cpp
  core/src/config/handler/GpuSearchResHandler.h
  core/src/db/insert/MemTable.cpp
  core/src/wrapper/VecIndex.h
  core/unittest/db/test_delete.cpp
  core/unittest/db/test_search_by_id.cpp
Owners: @JinHai-CN, @XuPeng-SH

update
  core/unittest/db/test_delete.cpp
  core/unittest/db/test_search_by_id.cpp
Owners: @JinHai-CN, @XuPeng-SH

update
  CHANGELOG.md
Owners: @JinHai-CN

update
  core/src/config/handler/GpuBuildResHandler.cpp
  core/src/config/handler/GpuBuildResHandler.h
  core/src/config/handler/GpuResourcesHandler.cpp
  core/src/config/handler/GpuResourcesHandler.h
  core/src/config/handler/GpuSearchResHandler.cpp
  core/src/config/handler/GpuSearchResHandler.h
Owners: @JinHai-CN, @XuPeng-SH
