Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @jeffoverflow, @cydrain, @yhmo, @shengjun1985

prepare change memmanager for wal (#3376)
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemManager.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/insert/MemSegment.cpp
  core/src/db/insert/MemSegment.h
  core/src/db/insert/VectorSource.cpp
  core/src/db/insert/VectorSource.h
  core/src/db/wal/WalManager.cpp
  core/unittest/db/test_wal.cpp
Owners: @scsven

[skip ci]update issue template (#3379)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @JinHai-CN

[skip ci] fix java sdk test case (#3375)
  tests/milvus-java-test/pom.xml
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestCollection.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestConnect.java
  tests/milvus-java-test/src/main/java/com/TestDeleteVectors.java
  tests/milvus-java-test/src/main/java/com/TestFlush.java
  tests/milvus-java-test/src/main/java/com/TestGetEntityByID.java
  tests/milvus-java-test/src/main/java/com/TestGetVectorByID.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities.java
  tests/milvus-java-test/src/main/java/com/TestMix.java
  tests/milvus-java-test/src/main/java/com/TestPS.java
  tests/milvus-java-test/src/main/java/com/TestPartition.java
  tests/milvus-java-test/src/main/java/com/TestPing.java
  tests/milvus-java-test/src/main/java/com/TestSearchVectors.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

optimize download & compile of sqlite (#3361)
  core/cmake/ThirdPartyPackages.cmake
  core/thirdparty/CMakeLists.txt
  core/thirdparty/sqlite/CMakeLists.txt
Owners: @scsven

[skip ci] rm log (#3378)
  core/src/db/SnapshotHandlers.cpp
Owners: @scsven

[skip ci] fix generate default entities (#3382)
  tests/milvus-java-test/src/main/java/com/TestCollectionCount.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo.java
  tests/milvus-java-test/src/main/java/com/TestGetEntityByID.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

fix wal test case issue (#3380)
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/src/db/wal/WalProxy.cpp
  core/unittest/db/test_wal.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

Skip flat search params (#3381)
  ci/jenkins/Jenkinsfile
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @jeffoverflow, @cydrain

[skip ci] update clang-tidy rules (#3386)
  .clang-tidy
  core/CMakeLists.txt
  core/build-support/lint_exclusions.txt
Owners: @JinHai-CN, @scsven

Optimize download & compile of Aws (#3384)
  core/cmake/ThirdPartyPackages.cmake
  core/thirdparty/CMakeLists.txt
  core/thirdparty/aws/CMakeLists.txt
Owners: @scsven

[skip ci] modify test flush and compact (#3390)
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestFlush.java
Owners: @cydrain

Optimize thirdparty download workflow (#3394)
  .jenkins/modules/Build/MilvusBuild.groovy
  ci/scripts/before-install.sh
  ci/scripts/build.sh
  ci/scripts/check_cache.sh
  ci/scripts/update_cache.sh
Owners: @JinHai-CN, @jeffoverflow, @cydrain

Enlarge event queue (#3393)
  core/src/db/snapshot/EventExecutor.h
Owners: @scsven

Add GetPageEntity unittest (#3397)
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/server/test_web.cpp
Owners: @scsven

Fix thirdparty not find ccache but still use it (#3398)
  core/thirdparty/CMakeLists.txt
  core/thirdparty/mysqlpp/CMakeLists.txt
  core/thirdparty/profilers/CMakeLists.txt
  core/thirdparty/sqlite/CMakeLists.txt
Owners: @scsven

optimize oatpp (#3377)
  core/CMakeLists.txt
  core/cmake/ThirdPartyPackages.cmake
  core/src/db/CMakeLists.txt
  core/thirdparty/CMakeLists.txt
  core/thirdparty/oatpp/CMakeLists.txt
  core/thirdparty/versions.txt
  core/unittest/CMakeLists.txt
Owners: @scsven

Split Ftype into Ftype and FEtype (#3341)
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotVisitor.h
  core/src/db/Types.h
  core/src/db/meta/MetaNames.h
  core/src/db/meta/MetaResourceAttrs.cpp
  core/src/db/meta/MetaResourceAttrs.h
  core/src/db/meta/MetaSession.h
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/db/meta/backend/SqliteEngine.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/ResourceTypes.h
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Store.h
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/delivery/request/SearchReq.cpp
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/db/test_ss_event.cpp
Owners: @scsven, @yhmo

Master codacy check (#3366)
  core/src/db/snapshot/Snapshot.cpp
  core/src/index/archive/KnowhereResource.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFSQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWFlat.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWSQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFPQ.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQ.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/Distance.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.h
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.h
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVF_NM.cpp
  core/src/index/unittest/test_nsg.cpp
  core/src/metrics/SystemInfo.cpp
  core/src/metrics/prometheus/PrometheusMetrics.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/delivery/ReqScheduler.cpp
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/delivery/request/GetEntityByIDReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/storage/disk/DiskOperation.cpp
Owners: @scsven, @shengjun1985

[skip ci] add constants.java (#3404)
  tests/milvus-java-test/src/main/java/com/Constants.java
Owners: @cydrain

fix dsl term with multi fields (#3403)
  tests/milvus_python_test/entity/test_search.py
Owners: @cydrain

[skip ci] comment unused insert case (#3405)
  tests/milvus_python_test/entity/test_insert.py
Owners: @cydrain

enable clang-tidy check (#3396)
  .clang-tidy
  ci/scripts/build.sh
  core/build-support/run_clang_tidy.py
  core/build.sh
  core/src/db/wal/WalOperationCodec.cpp
Owners: @JinHai-CN, @jeffoverflow, @cydrain, @scsven

fix the bugs of delete all and compact (#3395)
  core/src/db/DBImpl.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/storage/ExtraFileInfo.cpp
  core/src/storage/ExtraFileInfo.h
  core/unittest/db/test_snapshot.cpp
  tests/milvus_python_test/entity/test_insert.py
Owners: @scsven, @cydrain

Fix TestSearchDSL multi fields bug (#3411)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/unittest/server/test_web.cpp
Owners: @scsven

Optimize fiu and finish thirdparty optimization (#3412)
  core/CMakeLists.txt
  core/cmake/ThirdPartyPackages.cmake
  core/cmake/Utils.cmake
  core/src/CMakeLists.txt
  core/src/cache/CMakeLists.txt
  core/src/codecs/CMakeLists.txt
  core/src/index/knowhere/CMakeLists.txt
  core/src/log/CMakeLists.txt
  core/src/metrics/CMakeLists.txt
  core/src/segment/CMakeLists.txt
  core/src/utils/CMakeLists.txt
  core/thirdparty/CMakeLists.txt
  core/thirdparty/fiu/CMakeLists.txt
  core/unittest/server/CMakeLists.txt
  core/unittest/server/test_web.cpp
Owners: @scsven, @shengjun1985

[skip ci] Java sdk test: add testIndex.java (#3409)
  tests/milvus-java-test/src/main/java/com/TestDeleteEntities.java
  tests/milvus-java-test/src/main/java/com/TestDeleteVectors.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

[skip ci] Test get entity by id (#3417)
  tests/milvus-java-test/src/main/java/com/Constants.java
  tests/milvus-java-test/src/main/java/com/TestCollectionCount.java
  tests/milvus-java-test/src/main/java/com/TestCollectionInfo.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestFlush.java
  tests/milvus-java-test/src/main/java/com/TestGetEntityByID.java
Owners: @cydrain

update clang-tidy rules (#3416)
  .clang-tidy
  core/src/metrics/SystemInfo.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/utils/Status.cpp
  core/src/utils/Status.h
Owners: @JinHai-CN, @scsven

remove the _id fileld when get collection info (#3414)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  tests/milvus_python_test/collection/test_get_collection_info.py
Owners: @scsven, @cydrain

Milvus build stage parallel processing (#3423)
  .github/workflows/cpplint.yml
  .jenkins/modules/Build/MilvusBuild.groovy
  ci/scripts/build.sh
  docker-compose.yml
Owners: @JinHai-CN, @jeffoverflow, @cydrain

fix faiss cannot build gpu bug (#3424)
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
Owners: @shengjun1985

[skip ci] add TestSearchEntities.java (#3433)
  tests/milvus-java-test/src/main/java/com/Constants.java
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestSearchEntities.java
  tests/milvus-java-test/src/main/java/com/TestSearchVectors.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

#3265 fix memory leak (#3413)
  core/src/scheduler/CircleQueue.h
  core/src/scheduler/ResourceMgr.cpp
  core/src/scheduler/TaskTable.cpp
  core/src/scheduler/resource/Resource.cpp
  core/src/scheduler/resource/Resource.h
  core/src/storage/ExtraFileInfo.cpp
Owners: @scsven

Fix webserver set_config bug (#3425)
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/server/test_web.cpp
Owners: @scsven

Update mergify
  .mergify/config.yml
Owners: @JinHai-CN

Fix Server get stuck if create index with invalide metric types after entities inserted (#3428)
  CHANGELOG.md
  core/src/server/ValidationUtil.cpp
  tests/milvus_python_test/test_index.py
Owners: @JinHai-CN, @scsven, @cydrain

Add partition_tag in GetPageEntities (#3434)
  core/src/server/web_impl/dto/VectorDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
Owners: @scsven

Fix Server crashed during random test (#3436)
  core/src/segment/SegmentReader.cpp
Owners: @scsven

Optimize clang-tidy workflow for code static analysis (#3432)
  core/CMakeLists.txt
  core/build-support/ignore_checks.txt
  core/build-support/run_clang_tidy.py
  sdk/build-support/ignore_checks.txt
  sdk/build-support/run_clang_tidy.py
Owners: @scsven

[skip ci] add assert by collection stats (#3437)
  tests/milvus-java-test/src/main/java/com/MainClass.java
  tests/milvus-java-test/src/main/java/com/TestCompact.java
  tests/milvus-java-test/src/main/java/com/TestDeleteEntities.java
  tests/milvus-java-test/src/main/java/com/TestIndex.java
  tests/milvus-java-test/src/main/java/com/TestInsertEntities.java
  tests/milvus-java-test/src/main/java/com/Utils.java
Owners: @cydrain

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/ci/                     @jeffoverflow @cydrain
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/         @shengjun1985
/tests/                  @cydrain
