Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @jeffoverflow, @cydrain, @yhmo, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/ci/                     @jeffoverflow @cydrain
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/         @shengjun1985
/tests/                  @cydrain

Fix#3689 Client get stuck if drop collection during creating index (#3714)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/utils/distances.cpp
Owners: @JinHai-CN, @shengjun1985

(db/snapshot): Implement FlushableMappingField for better metadata snapshot (#3655)
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/meta/MetaResourceAttrs.h
  core/src/db/meta/MetaSession.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Store.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.h
Owners: @scsven, @yhmo

fix delete entity performance issue (#3667)
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotUtils.h
  core/src/db/SnapshotVisitor.cpp
  core/src/db/SnapshotVisitor.h
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemManager.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/insert/MemSegment.cpp
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/wal/WalManager.cpp
  core/src/segment/Segment.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/segment/Utils.cpp
  core/src/segment/Utils.h
  core/src/server/ValidationUtil.cpp
  core/unittest/db/test_segment.cpp
  tests/milvus_python_test/utils.py
Owners: @scsven, @cydrain

add some check to avoid server crash (#3715)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

scale nb in test case (#3564)
  .jenkins/modules/DevTest/SingleNodeDevTest.groovy
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_logic.py
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_drop_collection.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/stability/test_restart.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_mix.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_wal.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN, @cydrain

[skip ci] disable two compact cases (#3731)
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/test_compact.py
Owners: @cydrain

GET_PAGE_ENTITY sometimes failed in test_web (#3735)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/unittest/server/test_web.cpp
  sdk/examples/binary_vector/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.cpp
Owners: @JinHai-CN, @scsven

#3722 rename segment_row_count to segment_row_limit (#3724)
  core/src/db/Types.cpp
  core/src/db/wal/WalFile.cpp
  core/src/db/wal/WalManager.cpp
  core/src/segment/IdBloomFilter.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/unittest/db/utils.cpp
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/utils.py
Owners: @scsven, @cydrain

Apply more stale check rules for Operations (#3721)
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/utils/Error.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

Improve code of dabloom (#3694)
  core/thirdparty/dablooms/dablooms.cpp
  core/thirdparty/dablooms/dablooms.h
Owners: @scsven

Add case for segment and update case nprobe 0 and partition limit (#3751)
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/stability/test_restart.py
  tests/milvus_python_test/test_partition.py
Owners: @cydrain

(db/snapshot): fix GC PartitionCommit (#3750)
  core/src/db/snapshot/ResourceHelper.h
Owners: @scsven

Set a timeout for a whole job on Github action pipeline (#3746)
  .github/workflows/core.yml
Owners: @JinHai-CN

fix config usage (#3747)
  core/src/db/SnapshotVisitor.cpp
  core/src/db/Utils.cpp
  core/src/server/ValidationUtil.cpp
Owners: @scsven

New operation named MultiSegmentsOperation support multi-segments during flush (#3733)
  CHANGELOG.md
  core/src/db/meta/backend/MetaContext.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Context.h
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.h
Owners: @JinHai-CN, @yhmo, @scsven

fix trace level log files missing (#3769)
  core/src/log/LogMgr.cpp
Owners: @scsven

#3756 ignore deleted docs file if it doesnt exist (#3766)
  core/src/db/SnapshotUtils.cpp
Owners: @scsven

close lockfile when server stop (#3737)
  core/src/server/Server.cpp
  core/src/server/Server.h
  core/src/server/init/Directory.cpp
  core/src/server/init/Directory.h
Owners: @scsven

modify merge strategy (#3757)
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/SnapshotVisitor.cpp
  core/src/db/SnapshotVisitor.h
  core/src/db/merge/MergeLayerStrategy.cpp
  core/src/db/merge/MergeManagerImpl.cpp
Owners: @scsven

hold FaissIVFQuantizerPtr in IVFSQHybrid (#3770)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/Quantizer.h
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVF.cu
Owners: @scsven, @shengjun1985

segment_row_limit (#3755)
  tests/milvus_python_test/collection/test_collection_logic.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/utils.py
Owners: @cydrain

Fix webserver readme for 0.11.0 (#3765)
  CHANGELOG.md
  core/src/server/web_impl/README.md
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @JinHai-CN, @scsven

add adaptive merge strategy (#3780)
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/merge/MergeAdaptiveStrategy.cpp
  core/src/db/merge/MergeAdaptiveStrategy.h
  core/src/db/merge/MergeManager.h
  core/src/db/merge/MergeManagerImpl.cpp
  core/unittest/db/test_db.cpp
  tests/milvus_python_test/entity/test_insert.py
Owners: @scsven, @cydrain

avoid dead circle when merge failed (#3787)
  core/src/db/merge/MergeAdaptiveStrategy.cpp
  core/src/db/merge/MergeManagerImpl.cpp
Owners: @scsven

Fix the bug of file not close when check sum failed. (#3783)
  CHANGELOG.md
  core/src/codecs/ExtraFileInfo.cpp
Owners: @JinHai-CN, @scsven

avoid snapshot warning during deleting entity (#3798)
  core/src/db/insert/MemCollection.cpp
Owners: @scsven

Improve MergeTopkToResultSet performance (#3788)
  core/src/scheduler/task/SearchTask.cpp
  core/src/scheduler/task/SearchTask.h
  core/src/server/web_impl/README.md
Owners: @scsven

fix the limit of nprobe and nlist (#3797)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/thirdparty/faiss/utils/distances.cpp
  core/src/server/ValidationUtil.cpp
Owners: @scsven, @shengjun1985

Fix the crash caused by empty index param (#3803)
  core/src/server/delivery/request/CreateIndexReq.cpp
  sdk/examples/binary_vector/src/ClientTest.cpp
  sdk/examples/simple/src/ClientTest.cpp
  sdk/examples/utils/Utils.cpp
  sdk/examples/utils/Utils.h
Owners: @scsven

Fix web start fail for IP family (#3778)
  core/thirdparty/oatpp/CMakeLists.txt
  core/thirdparty/versions.txt
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

use multi-segments operation to flush (#3804)
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotHandlers.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemSegment.cpp
  core/src/db/insert/MemSegment.h
  core/src/segment/SegmentReader.cpp
Owners: @scsven

[skip ci] add index case (#3807)
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/stability/test_restart.py
  tests/milvus_python_test/test_index.py
Owners: @cydrain

add hidden config engine.max_partition_num (#3817)
  core/src/config/ConfigInit.cpp
  core/src/config/ServerConfig.h
  core/src/server/delivery/request/CreatePartitionReq.cpp
  core/src/server/delivery/request/CreatePartitionReq.h
Owners: @scsven

[skip ci] update milvus_python_test/README.md (#3826)
  tests/milvus_python_test/README.md
Owners: @cydrain

fix wal recovery issue (#3818)
  core/src/db/insert/MemCollection.cpp
  core/src/db/wal/WalManager.cpp
  core/src/segment/SegmentWriter.cpp
Owners: @scsven

optimize pytest (#3833)
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_logic.py
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_drop_collection.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/collection/test_has_collection.py
  tests/milvus_python_test/collection/test_list_collections.py
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/constants.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/stability/test_mysql.py
  tests/milvus_python_test/stability/test_restart.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_config.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_mix.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/utils.py
Owners: @cydrain

update oatpp md5 (#3832)
  core/thirdparty/oatpp/CMakeLists.txt
Owners: @scsven

Limit the number of insert requests processing concurrently (#3830)
  CHANGELOG.md
  core/conf/milvus.template
  core/src/config/ConfigInit.cpp
  core/src/config/ServerConfig.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  core/src/utils/CommonUtil.cpp
  core/src/utils/CommonUtil.h
Owners: @JinHai-CN, @scsven

Fix the error message should be updated if search on index IVF_SQ8_HYBRID with CPU (#3820)
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/delivery/request/SearchReq.cpp
Owners: @scsven

GPU search turn into CPU search when nprobe >gpu_max_k (#3586)
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
Owners: @scsven
