Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

Create index failed caused by server crashed (#2736)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexSPTAG.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.h
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.cpp
  core/src/index/thirdparty/hnswlib/hnswalg_nm.h
Owners: @JinHai-CN, @shengjun1985

(db/snapshot): Add DropAllIndexOperation and related UT (#2737)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Snapshot.h
  core/unittest/ssdb/test_snapshot.cpp
Owners: @scsven

search combine configable
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/config/handler/EngineConfigHandler.cpp
  core/src/config/handler/EngineConfigHandler.h
  core/src/server/delivery/request/SearchCombineRequest.cpp
  core/src/server/delivery/request/SearchCombineRequest.h
  core/src/server/delivery/strategy/SearchReqStrategy.cpp
  core/src/server/delivery/strategy/SearchReqStrategy.h
Owners: @scsven

typo
  core/src/server/delivery/request/SearchCombineRequest.h
Owners: @scsven

Increase GRPC concurrency (#2671)
  core/src/server/grpc_impl/GrpcServer.cpp
Owners: @scsven

Change Milvus Helm Version to v0.10.1 (#2678)
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

[skip ci] update nightly cron (#2680)
  ci/jenkins/step/singleDevNightlyTest.groovy
Owners: @JinHai-CN

Update nightly cron (#2681)
  ci/jenkins/step/singleDevNightlyTest.groovy
Owners: @JinHai-CN

* #2642 Create index failed caused by server crashed.
  CHANGELOG.md
Owners: @JinHai-CN

enable ivf_pq <ip> search cases on GPU (#2708)
  tests/milvus_python_test/entity/test_search.py
Owners: @JinHai-CN

* #2642 Create index failed caused by server crashed.
  CHANGELOG.md
  core/src/server/delivery/request/BaseRequest.cpp
  core/src/server/delivery/request/BaseRequest.h
Owners: @JinHai-CN, @scsven

Fix compiling error
  core/src/config/Config.cpp
Owners: @scsven

[skip ci] Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JinHai-CN

Let codec singleton (#2742)
  core/src/codecs/Codec.h
  core/src/codecs/VectorIndexFormat.h
  core/src/codecs/default/DefaultAttrsFormat.cpp
  core/src/codecs/default/DefaultAttrsFormat.h
  core/src/codecs/default/DefaultAttrsIndexFormat.cpp
  core/src/codecs/default/DefaultAttrsIndexFormat.h
  core/src/codecs/default/DefaultCodec.cpp
  core/src/codecs/default/DefaultCodec.h
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
  core/src/codecs/default/DefaultDeletedDocsFormat.h
  core/src/codecs/default/DefaultIdBloomFilterFormat.cpp
  core/src/codecs/default/DefaultIdBloomFilterFormat.h
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/codecs/default/DefaultVectorIndexFormat.h
  core/src/codecs/default/DefaultVectorsFormat.cpp
  core/src/codecs/default/DefaultVectorsFormat.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
Owners: @scsven

(db/snapshot): Bug fix in operations and unittest (#2744)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/ResourceOperations.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_snapshot.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

(db/snapshot): add more APIs for Snapshot (#2747)
  core/src/db/SSDBImpl.cpp
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_snapshot.cpp
Owners: @scsven

add background threads to SSDBImpl (#2751)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
Owners: @scsven

snapshot integrate GetEntityByID (#2753)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/Types.h
  core/src/db/meta/MetaTypes.h
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/grpc/gen-milvus/milvus.pb.cc
  core/src/grpc/gen-milvus/milvus.pb.h
  core/src/grpc/milvus.proto
  core/unittest/ssdb/test_snapshot.cpp
Owners: @scsven, @yhmo

fix: upgrade com.alibaba:fastjson from 1.2.70 to 1.2.71 (#2756)
  tests/milvus-java-test/pom.xml
Owners: @JinHai-CN

(db/snapshot): Implement operation rollback (#2760)
  core/src/db/snapshot/EventExecutor.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Store.h
Owners: @scsven

(db/snapshot) snapshot integrate (#2770)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/meta/MetaTypes.h
  core/src/db/snapshot/ResourceTypes.h
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/utils.h
Owners: @scsven, @yhmo

(db/snapshot): Add some helper visitors (#2777)
  core/src/db/SnapshotVisitor.cpp
  core/src/db/SnapshotVisitor.h
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

Update template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general-question.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JinHai-CN

snapshot integrate (#2782)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/snapshot/IterateHandler.h
  core/src/db/snapshot/Snapshot.h
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

rewrite mem manager 1 (#2762)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/insert/MemManagerFactory.cpp
  core/src/db/insert/MemManagerFactory.h
  core/src/db/insert/SSMemCollection.cpp
  core/src/db/insert/SSMemCollection.h
  core/src/db/insert/SSMemManager.h
  core/src/db/insert/SSMemManagerImpl.cpp
  core/src/db/insert/SSMemManagerImpl.h
  core/src/db/insert/SSMemSegment.cpp
  core/src/db/insert/SSMemSegment.h
  core/src/db/insert/SSVectorSource.cpp
  core/src/db/insert/SSVectorSource.h
  core/src/db/snapshot/Resources.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
Owners: @scsven

fix too many data copies (#2784)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFSQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
Owners: @JinHai-CN, @shengjun1985

fix a bug of getting wrong nprobe limitation in knowhere on GPU version (#2788)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
Owners: @JinHai-CN, @shengjun1985

Hnsw sq8 support (#2799)
  CHANGELOG.md
  core/src/codecs/Codec.h
  core/src/codecs/VectorCompressFormat.h
  core/src/codecs/default/DefaultCodec.cpp
  core/src/codecs/default/DefaultCodec.h
  core/src/codecs/default/DefaultVectorCompressFormat.cpp
  core/src/codecs/default/DefaultVectorCompressFormat.h
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/codecs/default/DefaultVectorIndexFormat.h
  core/src/db/Utils.cpp
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/common/BinarySet.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_SQ8NR.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_SQ8NR.h
  core/src/index/thirdparty/hnswlib/bruteforce.h
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/hnswalg_nm.h
  core/src/index/thirdparty/hnswlib/hnswlib.h
  core/src/index/thirdparty/hnswlib/hnswlib_nm.h
  core/src/index/thirdparty/hnswlib/space_ip.h
  core/src/index/thirdparty/hnswlib/space_l2.h
  core/src/index/thirdparty/hnswlib/visited_list_pool.h
  core/src/index/unittest/test_hnsw.cpp
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/server/web_impl/Constants.cpp
Owners: @JinHai-CN, @scsven, @shengjun1985

rewrite merge manager 1 (#2797)
  core/src/db/SSDBImpl.cpp
  core/src/db/merge/SSMergeManagerImpl.cpp
  core/src/db/merge/SSMergeManagerImpl.h
  core/src/db/merge/SSMergeSimpleStrategy.cpp
  core/src/db/merge/SSMergeSimpleStrategy.h
  core/src/db/merge/SSMergeStrategy.h
  core/src/db/merge/SSMergeTask.cpp
  core/src/db/merge/SSMergeTask.h
Owners: @scsven

(db/snapshot): Add some visitors (#2800)
  core/src/db/SnapshotVisitor.cpp
  core/src/db/SnapshotVisitor.h
  core/src/db/snapshot/IterateHandler.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

fix #2752 (#2789)
  CHANGELOG.md
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @JinHai-CN, @scsven

#2802 Add new index: IVFSQ8NR (#2805)
  CHANGELOG.md
  core/src/db/Utils.cpp
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFSQNR.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFSQNR.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexType.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQNR.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQNR.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/Helper.h
  core/src/index/unittest/test_ivf.cpp
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_mix.py
Owners: @JinHai-CN, @scsven, @shengjun1985

fix task_search (#2808)
  core/src/scheduler/task/SearchTask.cpp
  core/unittest/db/test_hybrid_db.cpp
  core/unittest/db/test_web.cpp
Owners: @scsven

add unittest 4 hnsw_sq8nr and fix some bug in passing (#2819)
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_SQ8NR.cpp
  core/src/index/thirdparty/hnswlib/hnswalg_nm.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/test_hnsw_sq8nr.cpp
Owners: @shengjun1985

snapshot integrate (#2814)
  core/src/CMakeLists.txt
  core/src/codecs/snapshot/SSAttrsFormat.cpp
  core/src/codecs/snapshot/SSAttrsFormat.h
  core/src/codecs/snapshot/SSAttrsIndexFormat.cpp
  core/src/codecs/snapshot/SSAttrsIndexFormat.h
  core/src/codecs/snapshot/SSCodec.cpp
  core/src/codecs/snapshot/SSCodec.h
  core/src/codecs/snapshot/SSDeletedDocsFormat.cpp
  core/src/codecs/snapshot/SSDeletedDocsFormat.h
  core/src/codecs/snapshot/SSIdBloomFilterFormat.cpp
  core/src/codecs/snapshot/SSIdBloomFilterFormat.h
  core/src/codecs/snapshot/SSVectorCompressFormat.cpp
  core/src/codecs/snapshot/SSVectorCompressFormat.h
  core/src/codecs/snapshot/SSVectorIndexFormat.cpp
  core/src/codecs/snapshot/SSVectorIndexFormat.h
  core/src/codecs/snapshot/SSVectorsFormat.cpp
  core/src/codecs/snapshot/SSVectorsFormat.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/SnapshotVisitor.h
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/meta/MetaTypes.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/segment/SSSegmentReader.cpp
  core/src/segment/SSSegmentReader.h
  core/src/segment/SSSegmentWriter.cpp
  core/src/segment/SSSegmentWriter.h
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
  core/unittest/scheduler/CMakeLists.txt
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven, @yhmo

Add SDK support for IVFSQ8NR (#2821)
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/web_impl/Constants.h
  sdk/examples/utils/Utils.cpp
  sdk/include/MilvusApi.h
Owners: @scsven

(db/snapshot): LSN logic change and design EventHandlerFactory (#2815)
  core/src/db/SSDBImpl.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/HandlerFactory.h
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/test_snapshot.cpp
Owners: @scsven

[skip ci] Update README
  README.md
Owners: @JinHai-CN

[skip ci] Update README_CN
  README_CN.md
Owners: @JinHai-CN

snapshot integrate (#2830)
  core/src/db/SSDBImpl.h
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_segment.cpp
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven
