Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

Update auto merge criterian (#2607)
  .mergify/config.yml
Owners: @JinHai-CN

Update version of Clang tools to v7.0 in ubuntu18.04 build environment (#2610)
  ci/docker/ubuntu-18.04-core.dockerfile
  core/cmake/FindClangTools.cmake
  docker/build_env/cpu/ubuntu18.04/Dockerfile
  docker/build_env/gpu/ubuntu18.04/Dockerfile
Owners: @JinHai-CN, @scsven

(db/snapshot): fix ut errors (#2605)
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceOperations.h
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

snapshot code opt (#2609)
  core/src/db/snapshot/BaseHolders.h
  core/src/db/snapshot/BaseHolders.inl
  core/src/db/snapshot/BaseResource.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/db/snapshot/ResourceHolders.h
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/ScopedResource.h
  core/src/db/snapshot/Store.h
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

Format build environment images Dockerfile (#2613)
  .github/workflows/core.yml
  ci/docker/centos-7-core.dockerfile
  ci/docker/centos-7-cuda-core.dockerfile
  ci/docker/ubuntu-18.04-core.dockerfile
  docker-compose.yml
  docker/build_env/cpu/centos7/Dockerfile
  docker/build_env/cpu/ubuntu16.04/Dockerfile
  docker/build_env/cpu/ubuntu18.04/Dockerfile
  docker/build_env/docker-entrypoint.sh
  docker/build_env/gpu/centos7/Dockerfile
  docker/build_env/gpu/ubuntu16.04/Dockerfile
  docker/build_env/gpu/ubuntu18.04/Dockerfile
Owners: @JinHai-CN

Update version of build environment images to v0.10.1 (#2616)
  ci/jenkins/pod/milvus-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-ubuntu18.04-build-env-pod.yaml
Owners: @JinHai-CN

move all APIs in utils into namespace milvus (#2614)
  CHANGELOG.md
  core/src/config/Config.cpp
  core/src/db/DBImpl.cpp
  core/src/db/Utils.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/snapshot/OperationExecutor.h
  core/src/db/wal/WalManager.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissGpuResourceMgr.h
  core/src/main.cpp
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/utils/BlockingQueue.h
  core/src/utils/BlockingQueue.inl
  core/src/utils/CommonUtil.cpp
  core/src/utils/CommonUtil.h
  core/src/utils/Error.h
  core/src/utils/Json.h
  core/src/utils/Log.cpp
  core/src/utils/Log.h
  core/src/utils/LogUtil.cpp
  core/src/utils/LogUtil.h
  core/src/utils/SignalHandler.cpp
  core/src/utils/SignalHandler.h
  core/src/utils/StringHelpFunctions.cpp
  core/src/utils/StringHelpFunctions.h
  core/src/utils/TimeRecorder.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/test_web.cpp
  core/unittest/server/test_config.cpp
  core/unittest/server/test_util.cpp
  core/unittest/server/utils.cpp
  core/unittest/storage/utils.cpp
Owners: @JinHai-CN, @scsven, @yhmo, @shengjun1985

Ignore no such image (#2622)
  ci/jenkins/step/publishImages.groovy
Owners: @JinHai-CN

Snapshot improve (#2608)
  .mergify/config.yml
  core/build.sh
  core/src/db/snapshot/BaseHolders.inl
  core/src/db/snapshot/BaseResource.h
  core/src/db/snapshot/OperationExecutor.cpp
  core/src/db/snapshot/OperationExecutor.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/ReferenceProxy.cpp
  core/src/db/snapshot/ReferenceProxy.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/Snapshots.cpp
  core/unittest/db/test_snapshot.cpp
Owners: @JinHai-CN, @scsven

rename offset_index 2 non_materialized_index
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexHNSW_NM.cpp
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexHNSW_NM.h
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexIVFSQ_NM.cpp
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexIVFSQ_NM.h
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexIVF_NM.cpp
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexIVF_NM.h
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexNSG_NM.cpp
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexNSG_NM.h
  core/src/index/knowhere/knowhere/index/non_materialized_index/OffsetBaseIndex.cpp
  core/src/index/knowhere/knowhere/index/non_materialized_index/OffsetBaseIndex.h
  core/src/index/knowhere/knowhere/index/non_materialized_index/impl/nsg_nm/NSGIO_NM.cpp
Owners: @shengjun1985

add deconstruction to free space
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexHNSW_NM.cpp
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexHNSW_NM.h
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexNSG_NM.cpp
  core/src/index/knowhere/knowhere/index/non_materialized_index/IndexNSG_NM.h
Owners: @shengjun1985

Ignore the helm dependency update (#2633)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

Fix HNSW and RNSG index files size (#2618)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
Owners: @JinHai-CN, @shengjun1985

Update PULL_REQUEST_TEMPLATE.md (#2639)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JinHai-CN

Cherry-pick to master
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/unittest/server/test_config.cpp
Owners: @scsven

snapshot gc (#2634)
  core/src/db/snapshot/BaseHolders.inl
  core/src/db/snapshot/BaseResource.h
  core/src/db/snapshot/EventExecutor.h
  core/src/db/snapshot/OperationExecutor.cpp
  core/src/db/snapshot/OperationExecutor.h
  core/src/db/snapshot/ReferenceProxy.cpp
  core/src/db/snapshot/ReferenceProxy.h
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Store.h
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

remove search parameter check of annoy
  core/src/utils/ValidationUtil.cpp
Owners: @scsven

update change log
  CHANGELOG.md
Owners: @JinHai-CN

fix test failed
  core/src/utils/ValidationUtil.cpp
Owners: @scsven

(db/snapshot): Add SoftDeleteOperation and related test (#2647)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/Snapshots.cpp
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

Suit the range of HNSW parameters (#2638)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/server/ValidationUtil.cpp
Owners: @JinHai-CN, @shengjun1985, @scsven

fix: upgrade com.alibaba:fastjson from 1.2.68 to 1.2.70 (#2656)
  tests/milvus-java-test/pom.xml
Owners: @JinHai-CN

fix too many copies (#2661)
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
Owners: @shengjun1985

snapshot gc (#2662)
  CHANGELOG.md
  core/src/db/snapshot/BaseResource.h
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/EventExecutor.h
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Store.h
Owners: @JinHai-CN, @scsven

Fix naming inconsistency (#2664)
  core/src/db/insert/MemManager.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
  core/src/db/insert/MemTableFile.cpp
  core/src/db/wal/WalBuffer.cpp
  core/src/db/wal/WalBuffer.h
Owners: @scsven

* remove annoy search parameter validation (#2667)
  CHANGELOG.md
  core/src/server/ValidationUtil.cpp
Owners: @JinHai-CN, @scsven

snapshot gc (#2668)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/db/snapshot/ResourceOperations.h
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
Owners: @scsven

print out system memory size when report invalid cpu cache size (#2679)
  CHANGELOG.md
  core/src/config/Config.cpp
Owners: @JinHai-CN, @scsven

merge #2659 from 0.10.1 (#2666)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemManager.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
Owners: @JinHai-CN, @scsven

add SSDBImpl and ssdb for ut (#2683)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
  core/unittest/db/utils.cpp
  core/unittest/db/utils.h
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_snapshot.cpp
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

[skip ci] Update roadmap link
  README.md
  README_CN.md
Owners: @JinHai-CN

[skip ci] Update README remove CN pages
  README.md
  docs/README.md
Owners: @JinHai-CN

(db/snapshots): Integration and Enhancement (#2673)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/SnapshotVisitor.cpp
  core/src/db/SnapshotVisitor.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/ScopedResource.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/SnapshotHolder.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Snapshots.h
  core/src/db/snapshot/Store.h
  core/src/server/DBWrapper.cpp
  core/src/server/delivery/request/ShowCollectionsRequest.cpp
  core/unittest/db/CMakeLists.txt
  core/unittest/db/test_db.cpp
  core/unittest/db/test_db_mysql.cpp
  core/unittest/db/test_rpc.cpp
  core/unittest/db/test_web.cpp
  core/unittest/db/utils.cpp
  core/unittest/scheduler/CMakeLists.txt
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_snapshot.cpp
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

fix a typo (#2712)
  core/unittest/ssdb/CMakeLists.txt
Owners: @scsven

snapshot integration (#2716)
  core/src/db/DB.h
  core/src/db/DBImpl.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/SimpleWaitNotify.h
  core/src/db/snapshot/ResourceTypes.h
Owners: @scsven

Web fix 2690 (#2691)
  CHANGELOG.md
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/db/test_web.cpp
  tests/milvus_python_test/entity/test_delete.py
Owners: @JinHai-CN, @scsven

verification hnsw sq8
  core/cmake/ThirdPartyPackages.cmake
  core/src/index/thirdparty/hnswlib/hnsw_sq8_test.cpp
  core/src/index/thirdparty/hnswlib/hnswalg_sq8.h
Owners: @scsven, @shengjun1985

verification hnsw sq8
  core/src/index/thirdparty/hnswlib/Makefile
  core/src/index/thirdparty/hnswlib/hnsw_test.cpp
  core/src/index/thirdparty/hnswlib/hnswlib.h
  core/src/index/thirdparty/hnswlib/space_ip.h
Owners: @shengjun1985

(db/snapshot): Code Integration (#2718)
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/EventExecutor.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/ResourceTypes.h
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_snapshot.cpp
Owners: @scsven

Add pipeline step to print/get the container logs (#2730)
  ci/jenkins/Jenkinsfile
Owners: @JinHai-CN

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985
