Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

update dsl search case (#3225)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

Optimize yaml-cpp download and build process (#3252)
  core/CMakeLists.txt
  core/cmake/ThirdPartyPackages.cmake
  core/src/config/CMakeLists.txt
  core/thirdparty/CMakeLists.txt
  core/thirdparty/grpc/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt
  core/thirdparty/versions.txt
  core/thirdparty/yaml-cpp/CMakeLists.txt
Owners: @scsven

remove wal logic (#3245)
  core/src/config/ConfigMgr.cpp
  core/src/config/ServerConfig.h
  core/src/db/DB.h
  core/src/db/DBFactory.h
  core/src/db/DBImpl.cpp
  core/src/db/DBProxy.cpp
  core/src/db/DBProxy.h
  core/src/db/Options.cpp
  core/src/db/Options.h
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/Utils.h
  core/src/db/insert/MemManagerFactory.h
  core/src/db/merge/MergeManagerFactory.h
  core/src/db/meta/MetaFactory.h
  core/src/db/meta/backend/MySqlEngine.h
  core/src/db/meta/backend/SqliteEngine.h
  core/src/server/DBWrapper.cpp
  core/src/server/DBWrapper.h
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/InsertReq.cpp
  core/unittest/db/CMakeLists.txt
  core/unittest/db/test_ss_job.cpp
  core/unittest/db/test_ss_task.cpp
  core/unittest/db/utils.cpp
Owners: @scsven, @yhmo

Add web server interface (#3257)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  sdk/examples/simple/src/ClientTest.cpp
Owners: @scsven

[skip ci] disable ubuntu && update case (#3244)
  ci/jenkins/step/singleDevTest.groovy
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/collection/test_list_collections.py
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

fix: upgrade org.apache.commons:commons-lang3 from 3.10 to 3.11 (#3118)
  tests/milvus-java-test/pom.xml
Owners: @JinHai-CN

rm multiple url for yaml-cpp (#3260)
  core/thirdparty/CMakeLists.txt
  core/thirdparty/grpc/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt
  core/thirdparty/yaml-cpp/CMakeLists.txt
Owners: @scsven

remove ZLIB from our build tree (#3264)
  core/cmake/ThirdPartyPackages.cmake
  core/src/db/CMakeLists.txt
Owners: @scsven

prepare for wal (#3259)
  core/src/db/CMakeLists.txt
  core/src/db/DBFactory.h
  core/src/db/DBImpl.h
  core/src/db/DBProxy.cpp
  core/src/db/Types.h
  core/src/db/transcript/ScriptCodec.cpp
  core/src/db/transcript/ScriptCodec.h
  core/src/db/transcript/ScriptReplay.cpp
  core/src/db/transcript/ScriptReplay.h
  core/src/db/transcript/Transcript.cpp
  core/src/db/transcript/Transcript.h
  core/src/db/wal/WriteAheadLog.cpp
  core/src/db/wal/WriteAheadLog.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_segment.cpp
  core/unittest/db/utils.cpp
  core/unittest/db/utils.h
Owners: @scsven

[skip ci]fix template doc (#3268)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
Owners: @JinHai-CN

fix gpu (#3270)
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIDMAP.cpp
Owners: @shengjun1985

fix conflict
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

Upgrade third-party oatpp up to v1.1.0 (#3272)
  CHANGELOG.md
  core/cmake/ThirdPartyPackages.cmake
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/dto/CollectionDto.hpp
  core/src/server/web_impl/dto/ConfigDto.hpp
  core/src/server/web_impl/dto/DevicesDto.hpp
  core/src/server/web_impl/dto/Dto.h
  core/src/server/web_impl/dto/IndexDto.hpp
  core/src/server/web_impl/dto/PartitionDto.hpp
  core/src/server/web_impl/dto/StatusDto.hpp
  core/src/server/web_impl/dto/VectorDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/thirdparty/versions.txt
Owners: @JinHai-CN, @scsven

[skip ci]fix typo (#3275)
  core/src/server/Server.cpp
Owners: @scsven

Optimize download&compilation of opentracing (#3276)
  core/cmake/ThirdPartyPackages.cmake
  core/src/CMakeLists.txt
  core/src/db/CMakeLists.txt
  core/src/tracing/CMakeLists.txt
  core/thirdparty/CMakeLists.txt
  core/thirdparty/opentracing/CMakeLists.txt
  core/unittest/CMakeLists.txt
Owners: @scsven

Update code checker rule
  .codacy.yaml
  .codebeatignore
Owners: @JinHai-CN

Master fix (#3279)
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemSegment.cpp
  core/src/db/snapshot/ResourceGCEvent.h
  core/src/db/snapshot/Snapshot.h
  core/src/db/wal/WalFileHandler.cpp
  core/src/index/knowhere/knowhere/common/Exception.cpp
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndexSort-inl.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/index/thirdparty/hnswlib/hnswlib.h
  core/src/log/Log.cpp
  core/src/segment/Segment.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/tracing/TraceContext.cpp
Owners: @scsven, @shengjun1985

Check stale segment file when flush delete ids (#3283)
  core/src/db/insert/MemCollection.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/unittest/db/test_db.cpp
Owners: @scsven

fix: upgrade com.alibaba:fastjson from 1.2.72 to 1.2.73 (#3292)
  tests/milvus-java-test/pom.xml
Owners: @JinHai-CN

Update mergify script
  .mergify/config.yml
Owners: @JinHai-CN

Update mergify script
  .mergify/config.yml
Owners: @JinHai-CN

fix storage clang tidy warnings (#3285)
  core/src/codecs/BlockFormat.cpp
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/codecs/IdBloomFilterFormat.cpp
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/VectorCompressFormat.cpp
  core/src/codecs/VectorIndexFormat.cpp
  core/src/storage/CMakeLists.txt
  core/src/storage/IOReader.h
  core/src/storage/IOWriter.h
  core/src/storage/disk/DiskIOReader.cpp
  core/src/storage/disk/DiskIOReader.h
  core/src/storage/disk/DiskIOWriter.cpp
  core/src/storage/disk/DiskIOWriter.h
  core/src/storage/disk/DiskOperation.cpp
  core/src/storage/s3/S3IOReader.cpp
  core/src/storage/s3/S3IOReader.h
  core/src/storage/s3/S3IOWriter.h
  core/src/utils/Error.h
  core/src/utils/Exception.h
  core/unittest/CMakeLists.txt
  core/unittest/storage/CMakeLists.txt
  core/unittest/storage/test_disk.cpp
  core/unittest/storage/utils.cpp
Owners: @scsven

conf build_index_threshold (#3284)
  core/src/config/ConfigMgr.cpp
  core/src/config/ServerConfig.h
  core/src/db/Constants.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
Owners: @scsven

prepare for wal (#3297)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/DBProxy.cpp
  core/src/db/DBProxy.h
  core/src/db/IDGenerator.h
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/transcript/TranscriptProxy.cpp
  core/src/db/transcript/TranscriptProxy.h
  core/src/db/wal/WalBuffer.cpp
  core/src/db/wal/WalBuffer.h
  core/src/db/wal/WalDefinations.h
  core/src/db/wal/WalFileHandler.cpp
  core/src/db/wal/WalFileHandler.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/src/db/wal/WalMetaHandler.cpp
  core/src/db/wal/WalOperation.cpp
  core/src/db/wal/WalOperation.h
  core/src/db/wal/WalOperationCodec.cpp
  core/src/db/wal/WalOperationCodec.h
  core/src/db/wal/WalProxy.cpp
  core/src/db/wal/WalProxy.h
  core/src/db/wal/WriteAheadLog.cpp
Owners: @scsven

Fix generate codecov file bug (#3255)
  ci/scripts/coverage.sh
Owners: @JinHai-CN
