Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @jeffoverflow, @cydrain, @yhmo, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/ci/                     @jeffoverflow @cydrain
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/         @shengjun1985
/tests/                  @cydrain

remove todo case (#3296)
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_create_collection.py
  tests/milvus_python_test/collection/test_get_collection_info.py
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/utils.py
Owners: @cydrain

[skip ci] Fixed broken links. (#3304)
  README.md
  README_CN.md
Owners: @JinHai-CN

Fix invalid ranges and delete logging (#3303)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @cydrain

Optimize thirdparty libunwind and gperftools download & compile processes (#3305)
  core/CMakeLists.txt
  core/cmake/ThirdPartyPackages.cmake
  core/src/CMakeLists.txt
  core/src/db/CMakeLists.txt
  core/thirdparty/CMakeLists.txt
  core/thirdparty/grpc/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt
  core/thirdparty/opentracing/CMakeLists.txt
  core/thirdparty/profilers/CMakeLists.txt
  core/thirdparty/yaml-cpp/CMakeLists.txt
Owners: @scsven

fix codacy warnings (#3308)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/insert/MemSegment.cpp
  core/src/db/meta/backend/MockEngine.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/index/knowhere/knowhere/common/Log.cpp
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/faiss_benchmark/faiss_benchmark_test.cpp
  core/src/index/unittest/faiss_benchmark/faiss_bitset_test.cpp
  core/src/index/unittest/faiss_ori/CMakeLists.txt
  core/src/index/unittest/faiss_ori/gpuresource_test.cpp
  core/src/index/unittest/metric_alg_benchmark/metric_benchmark_test.cpp
  core/src/index/unittest/test_wrapper.cpp
  core/src/metrics/SystemInfo.cpp
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
  core/src/server/delivery/request/CompactReq.cpp
  core/src/server/delivery/request/CountEntitiesReq.cpp
  core/src/server/delivery/request/CreatePartitionReq.cpp
  core/src/server/delivery/request/DeleteEntityByIDReq.cpp
  core/src/server/delivery/request/DescribeIndexReq.cpp
  core/src/server/delivery/request/DropCollectionReq.cpp
  core/src/server/delivery/request/DropIndexReq.cpp
  core/src/server/delivery/request/DropPartitionReq.cpp
  core/src/server/delivery/request/FlushReq.cpp
  core/src/server/delivery/request/GetCollectionStatsReq.cpp
  core/src/server/delivery/request/InsertReq.cpp
  core/src/server/delivery/request/ListPartitionsReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/utils/CommonUtil.cpp
  core/src/utils/StringHelpFunctions.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_snapshot.cpp
  sdk/examples/partition/src/ClientTest.cpp
  sdk/examples/qps/src/ClientTest.cpp
Owners: @scsven, @yhmo, @shengjun1985

enable binary search cases (#3312)
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @cydrain

refactor LogMgr init (#3313)
  core/src/log/LogMgr.cpp
  core/src/log/LogMgr.h
  core/src/main.cpp
  core/src/server/Server.cpp
  core/src/server/Server.h
Owners: @scsven

Fix clang-tidy bug (#3324)
  core/CMakeLists.txt
  core/src/index/cmake/DefineOptionsCore.cmake
Owners: @scsven, @shengjun1985

enable some cases (#3325)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/utils.py
Owners: @cydrain

#3295 Server crashed during creating index (#3307)
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateIndexReq.cpp
  tests/milvus_python_test/collection/test_load_collection.py
Owners: @scsven, @cydrain

[skip ci] fix binary sdk (#3332)
  sdk/examples/CMakeLists.txt
  sdk/examples/binary_vector/src/ClientTest.cpp
  sdk/examples/utils/Utils.cpp
  sdk/examples/utils/Utils.h
Owners: @scsven

add file header and tail implementation (#3316)
  core/src/codecs/BlockFormat.cpp
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/VectorCompressFormat.cpp
  core/src/codecs/VectorIndexFormat.cpp
  core/src/db/CMakeLists.txt
  core/src/storage/CMakeLists.txt
  core/src/storage/ExtraFileInfo.cpp
  core/src/storage/ExtraFileInfo.h
  core/src/storage/ExtraFileInfoTest.cpp
  core/src/storage/FSHandler.h
  core/src/storage/IOReader.h
  core/src/storage/IOWriter.h
  core/src/storage/disk/DiskIOReader.cpp
  core/src/storage/disk/DiskIOReader.h
  core/src/storage/disk/DiskIOWriter.cpp
  core/src/storage/disk/DiskIOWriter.h
  core/src/utils/Error.h
  core/thirdparty/CMakeLists.txt
  core/thirdparty/crc32c/CMakeLists.txt
  core/thirdparty/versions.txt
Owners: @scsven

fix include directories not find bug (#3323)
  core/thirdparty/profilers/CMakeLists.txt
Owners: @scsven

reduce grpc download file size from 380M to 130M (#3326)
  core/thirdparty/grpc/CMakeLists.txt
  core/thirdparty/versions.txt
Owners: @scsven

local hnsw-ngt test
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
  core/src/index/thirdparty/faiss/tutorial/cpp/check_graph.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/corr_test.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-milvus
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-ngt
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-ngt-test
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-ngt-test.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-ngt.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-ngt.output
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-test
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-test.cpp
  core/src/index/thirdparty/faiss/tutorial/cpp/test-hnsw-ngt.sh
  core/src/index/thirdparty/faiss/tutorial/cpp/test/16-50-50-1.edges
  core/src/index/thirdparty/faiss/tutorial/cpp/test/16-50-50-1.stats
  core/src/index/thirdparty/faiss/tutorial/cpp/test/16-50-50-1.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/test/24-75-75-1.stats
  core/src/index/thirdparty/faiss/tutorial/cpp/test/24-75-75-1.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/test/3-6-9-1.stats
  core/src/index/thirdparty/faiss/tutorial/cpp/test/3-6-9-1.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/test/32-100-100-1.stats
  core/src/index/thirdparty/faiss/tutorial/cpp/test/32-100-100-1.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/test/818/16-50-50-1.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/test/818/24-75-75-1.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/test/818/32-100-100-1.txt
  core/src/index/thirdparty/faiss/tutorial/cpp/test/error.txt
  core/src/index/thirdparty/hnswlib/include/hnswalg.h
Owners: @shengjun1985

update clang-tidy config (#3314)
  .clang-tidy
  ci/scripts/build.sh
  core/build-support/lint_exclusions.txt
  core/build.sh
Owners: @JinHai-CN, @jeffoverflow, @cydrain, @scsven

Add WebServer unittest (#3321)
  core/src/CMakeLists.txt
  core/src/grpc/milvus.proto
  core/src/server/web_impl/Constants.cpp
  core/src/server/web_impl/Constants.h
  core/src/server/web_impl/README.md
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/dto/VectorDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/CMakeLists.txt
  core/unittest/server/CMakeLists.txt
  core/unittest/server/test_web.cpp
Owners: @scsven

Master codacy v3 (#3322)
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVF_NM.cpp
  core/src/index/unittest/faiss_benchmark/faiss_benchmark_test.cpp
Owners: @shengjun1985

fix clang tidy warnings (#3340)
  .clang-tidy
  core/src/config/ConfigMgr.cpp
  core/src/config/ConfigType.cpp
  core/src/index/knowhere/knowhere/common/Exception.cpp
  core/src/index/knowhere/knowhere/common/Exception.h
  core/src/index/knowhere/knowhere/common/Timer.cpp
  core/src/index/knowhere/knowhere/common/Timer.h
  core/src/metrics/SystemInfo.cpp
  core/src/server/context/Context.cpp
  core/src/server/context/Context.h
  core/src/server/delivery/ReqQueue.cpp
  core/src/server/delivery/ReqQueue.h
  core/src/server/delivery/request/Types.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  core/src/server/init/InstanceLockCheck.cpp
  core/src/storage/ExtraFileInfo.cpp
  core/src/tracing/TraceContext.h
  core/src/utils/ConfigUtils.cpp
  core/src/utils/Exception.h
  core/src/utils/Status.cpp
  core/src/utils/TimeRecorder.cpp
  core/src/utils/TimeRecorder.h
Owners: @JinHai-CN, @scsven, @shengjun1985

Fix milvus crash when exiting (#3333)
  core/cmake/ThirdPartyPackages.cmake
  core/src/scheduler/SchedInst.cpp
  core/src/scheduler/selector/Optimizer.cpp
  core/src/scheduler/selector/Optimizer.h
  core/src/server/web_impl/WebServer.cpp
Owners: @scsven

Optimize download & compile of mysqlpp (#3337)
  core/cmake/ThirdPartyPackages.cmake
  core/src/CMakeLists.txt
  core/thirdparty/CMakeLists.txt
  core/thirdparty/crc32c/CMakeLists.txt
  core/thirdparty/mysqlpp/CMakeLists.txt
  core/thirdparty/profilers/CMakeLists.txt
Owners: @scsven

fix clang-tidy warnings (#3344)
  core/src/index/knowhere/knowhere/common/Timer.cpp
  core/src/index/knowhere/knowhere/index/Index.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWFlat.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWFlat.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWPQ.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexRHNSWSQ.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexSPTAG.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
  core/src/index/unittest/test_annoy.cpp
  core/src/index/unittest/test_binaryidmap.cpp
  core/src/index/unittest/test_binaryivf.cpp
  core/src/index/unittest/test_customized_index.cpp
  core/src/index/unittest/test_hnsw.cpp
  core/src/index/unittest/test_idmap.cpp
  core/src/index/unittest/test_ivf.cpp
  core/src/index/unittest/test_rhnsw_flat.cpp
  core/src/index/unittest/test_rhnsw_pq.cpp
  core/src/index/unittest/test_rhnsw_sq8.cpp
  core/src/main.cpp
  core/src/scheduler/Scheduler.cpp
  core/src/scheduler/Scheduler.h
  core/src/segment/SegmentWriter.cpp
  core/src/utils/ConfigUtils.cpp
  core/src/utils/SignalHandler.cpp
  core/src/utils/Status.cpp
  core/src/utils/Status.h
  core/src/utils/TimeRecorder.cpp
Owners: @shengjun1985, @scsven

refactor Server::Start() (#3343)
  core/src/server/Server.cpp
  core/src/server/Server.h
  core/src/server/init/Directory.cpp
  core/src/server/init/Directory.h
  core/src/server/init/InstanceLockCheck.cpp
  core/src/server/init/Timezone.cpp
  core/src/server/init/Timezone.h
Owners: @scsven

fix hamming (#3342)
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.h
  sdk/examples/binary_vector/src/ClientTest.cpp
Owners: @shengjun1985, @scsven

Download path can be configured (#3350)
  core/build.sh
  core/thirdparty/CMakeLists.txt
  core/thirdparty/crc32c/CMakeLists.txt
  core/thirdparty/grpc/CMakeLists.txt
  core/thirdparty/gtest/CMakeLists.txt
  core/thirdparty/mysqlpp/CMakeLists.txt
  core/thirdparty/opentracing/CMakeLists.txt
  core/thirdparty/profilers/CMakeLists.txt
  core/thirdparty/yaml-cpp/CMakeLists.txt
Owners: @scsven

fix search without insert data (#3339)
  tests/milvus_python_test/entity/test_search.py
Owners: @cydrain

Add a feature of getting milvus all configs (#3347)
  core/src/codecs/BlockFormat.cpp
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/VectorCompressFormat.cpp
  core/src/codecs/VectorIndexFormat.cpp
  core/src/config/ConfigMgr.cpp
  core/src/config/ConfigMgr.h
  core/src/server/delivery/request/CmdReq.cpp
  core/src/storage/ExtraFileInfo.cpp
  core/src/storage/ExtraFileInfo.h
  core/src/storage/ExtraFileInfoTest.cpp
Owners: @scsven

Refactor directory access check and add config system.lock.enable (#3354)
  core/src/config/ConfigMgr.cpp
  core/src/config/ConfigMgr.h
  core/src/config/ServerConfig.h
  core/src/server/Server.cpp
  core/src/server/Server.h
  core/src/server/init/Directory.cpp
  core/src/server/init/Directory.h
  core/src/server/init/StorageChecker.cpp
  core/src/server/init/StorageChecker.h
Owners: @scsven

#3265 clear finished task to release some resource (#3360)
  core/src/scheduler/TaskTable.cpp
  core/src/scheduler/TaskTable.h
  core/src/scheduler/task/FinishedTask.cpp
  core/src/scheduler/task/FinishedTask.h
Owners: @scsven

#3309 Error should be raised if search binary collection with metric_type: L2 (#3349)
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/SearchReq.cpp
  tests/milvus_python_test/test_index.py
Owners: @scsven, @cydrain

fix clang tidy warnings (#3362)
  .codacy.yaml
  core/src/codecs/StructuredIndexFormat.cpp
  core/src/codecs/VectorIndexFormat.cpp
  core/src/config/ConfigMgr.cpp
  core/src/db/IDGenerator.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/insert/MemManagerFactory.cpp
  core/src/db/insert/MemManagerFactory.h
  core/src/db/meta/backend/SqliteEngine.h
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/wal/WalFile.cpp
  core/src/db/wal/WalFile.h
  core/src/db/wal/WalManager.h
  core/src/db/wal/WalOperationCodec.cpp
  core/src/index/archive/KnowhereResource.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissIO.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.h
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSGHelper.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSGIO.cpp
  core/src/index/unittest/CMakeLists.txt
  core/src/segment/Segment.cpp
  core/src/storage/IOWriter.h
  core/src/storage/disk/DiskIOWriter.cpp
  core/src/storage/disk/DiskIOWriter.h
  core/src/storage/s3/S3IOWriter.cpp
  core/src/storage/s3/S3IOWriter.h
  core/unittest/db/utils.cpp
  core/unittest/storage/test_s3_client.cpp
Owners: @JinHai-CN, @scsven, @yhmo, @shengjun1985

Optimize download & compile of Prometheus (#3357)
  core/cmake/ThirdPartyPackages.cmake
  core/src/CMakeLists.txt
  core/src/db/CMakeLists.txt
  core/src/metrics/CMakeLists.txt
  core/thirdparty/CMakeLists.txt
  core/thirdparty/prometheus/CMakeLists.txt
Owners: @scsven

#3301 rename configure file (#3355)
  core/.gitignore
  core/CMakeLists.txt
  core/conf/demo/milvus.yaml
  core/conf/milvus.template
  core/scripts/start_server.sh
  core/src/server/DBWrapper.cpp
  core/start_server.sh
  core/unittest/storage/utils.h
  docker/deploy/cpu/centos7/Dockerfile
  docker/deploy/cpu/ubuntu16.04/Dockerfile
  docker/deploy/cpu/ubuntu18.04/Dockerfile
  docker/deploy/gpu/centos7/Dockerfile
  docker/deploy/gpu/ubuntu16.04/Dockerfile
  docker/deploy/gpu/ubuntu18.04/Dockerfile
  docker/docker-compose-monitor.yml
Owners: @scsven, @JinHai-CN

Add GetPageEntity interface (#3370)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
  sdk/examples/binary_vector/src/ClientTest.cpp
Owners: @scsven

fix clang tidy warnings (#3371)
  core/src/db/SnapshotUtils.cpp
  core/src/db/Utils.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemSegment.cpp
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/meta/backend/MySQLConnectionPool.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/Snapshots.cpp
  core/src/scheduler/TaskTable.cpp
  core/src/scheduler/action/PushTaskToNeighbour.cpp
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/scheduler/job/Job.cpp
  core/src/scheduler/resource/Resource.cpp
  core/src/scheduler/selector/BuildIndexPass.cpp
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
Owners: @scsven, @yhmo

fix param check (#3369)
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
Owners: @shengjun1985

refactor LogMgr (#3372)
  core/src/log/LogMgr.cpp
  core/src/log/LogMgr.h
Owners: @scsven

add wal unittest (#3367)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/DBProxy.cpp
  core/src/db/DBProxy.h
  core/src/db/transcript/TranscriptProxy.cpp
  core/src/db/transcript/TranscriptProxy.h
  core/src/db/wal/WalFile.cpp
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/src/db/wal/WalOperationCodec.cpp
  core/src/db/wal/WalProxy.cpp
  core/src/db/wal/WalProxy.h
  core/unittest/db/test_wal.cpp
  core/unittest/db/utils.cpp
  core/unittest/db/utils.h
Owners: @scsven

Find system headers with cmake and clang-tidy (#3364)
  .clang-tidy
  core/CMakeLists.txt
Owners: @JinHai-CN, @scsven

[skip ci]add google/crc32c into NOTICE.md (#3373)
  NOTICE.md
Owners: @JinHai-CN
