Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

[skip ci] Update CHANGELOG (#1909)
  .github/workflows/automerge.yml
Owners: @JinHai-CN

[skip ci] update change log
  CHANGELOG.md
Owners: @JinHai-CN

[skip ci] update change log
  CHANGELOG.md
Owners: @JinHai-CN

#1454 Improve code quality (#1948)
  CHANGELOG.md
  core/cmake/ThirdPartyPackages.cmake
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/config/Config.cpp
  core/src/config/ConfigNode.cpp
  core/src/db/meta/MySQLConnectionPool.cpp
  core/src/db/meta/MySQLConnectionPool.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
  sdk/cmake/ThirdPartyPackages.cmake
Owners: @JinHai-CN, @scsven, @yhmo, @shengjun1985

#1929 Skip mysql meta schema field width check (#1937)
  CHANGELOG.md
  core/src/db/meta/MySQLMetaImpl.cpp
Owners: @JinHai-CN, @yhmo

. (#1972)
  core/src/storage/s3/S3ClientWrapper.cpp
Owners: @scsven

not to printf the log when record type is None
  core/src/db/wal/WalDefinations.h
  core/src/db/wal/WalManager.cpp
Owners: @scsven

[skip ci] add mergify config (#1980)
  .mergify/config.yml
Owners: @JinHai-CN

Automerge (#1981)
  .mergify/config.yml
Owners: @JinHai-CN

remove pragma once from .cpp files (#1982)
  core/src/query/BinaryQuery.cpp
  core/src/segment/Attr.cpp
Owners: @scsven

[skip ci] update mergify (#1983)
  .mergify/config.yml
Owners: @JinHai-CN

update some variables in validation utils. (#1978)
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
Owners: @scsven

fix warning (#1988)
  core/src/metrics/Metrics.h
Owners: @scsven

code optimize (#1986)
  core/src/db/Constants.h
  core/src/db/DBImpl.cpp
  core/src/db/Options.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/meta/MetaTypes.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_db_mysql.cpp
  core/unittest/db/test_delete.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_meta_mysql.cpp
Owners: @scsven, @yhmo

fix hnsw code format (#1987)
  core/src/index/thirdparty/hnswlib/bruteforce.h
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/hnswlib.h
  core/src/index/thirdparty/hnswlib/space_ip.h
  core/src/index/thirdparty/hnswlib/space_l2.h
  core/src/index/thirdparty/hnswlib/visited_list_pool.h
Owners: @shengjun1985

replace metaOptions with meta_options (#1979)
  core/src/db/meta/MetaFactory.cpp
  core/src/db/meta/MetaFactory.h
Owners: @yhmo

use TimeRecorder instead of chrono (#1989)
  core/src/db/insert/MemTable.cpp
Owners: @scsven

move const char* to .cpp file (#1994)
  core/src/config/Config.cpp
  core/src/config/Config.h
Owners: @scsven

Automerge1 (#1984)
  .github/workflows/automerge.yml
  CHANGELOG.md
  core/build.sh
  core/src/main.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  sdk/build.sh
Owners: @JinHai-CN, @scsven

Modify data type in CommonUtil.cpp (#1996)
  core/src/utils/CommonUtil.cpp
Owners: @scsven

Set case level (#1968)
  ci/jenkins/Jenkinsfile
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/requirements.txt
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_collection.py
  tests/milvus_python_test/test_collection_count.py
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

keep bitset naming consistent (#2004)
  core/src/index/thirdparty/faiss/gpu/impl/L2Select.cu
  core/src/index/thirdparty/faiss/gpu/utils/BlockSelectKernel.cuh
Owners: @shengjun1985

[skip ci] Update README.md (#2010)
  README.md
Owners: @JinHai-CN

Update readme cn (#2011)
  README_CN.md
Owners: @JinHai-CN

remove unused var (#2006)
  core/src/utils/LogUtil.cpp
Owners: @scsven

create index notify (#2003)
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
Owners: @scsven

Caiyd 1965 unify metric cal (#2008)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/Distance.cpp
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/index/thirdparty/faiss/FaissHook.cpp
  core/src/index/thirdparty/hnswlib/space_ip.h
  core/src/index/thirdparty/hnswlib/space_l2.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/metric_alg_benchmark/CMakeLists.txt
  core/src/index/unittest/metric_alg_benchmark/metric_benchmark_test.cpp
Owners: @JinHai-CN, @shengjun1985

add safty check 4 annoy load index (#2009)
  core/src/index/thirdparty/annoy/src/annoylib.h
Owners: @shengjun1985

remove unused function "normalize_vector" (#2015)
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
Owners: @shengjun1985

[skip-ci] remove redundant code in test cases (#2019)
  tests/milvus_python_test/test_search_vectors.py
Owners: @JinHai-CN

Update timeout strategy in CI (#2000)
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/build.groovy
  ci/jenkins/step/coverage.groovy
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
  ci/jenkins/step/unittest.groovy
Owners: @JinHai-CN

Context-head-file (#2021)
  core/src/server/grpc_impl/GrpcRequestHandler.h
Owners: @scsven

rename table_info into collection_info (#2016)
  core/src/server/delivery/hybrid_request/CreateHybridCollectionRequest.cpp
Owners: @scsven

fix unused code and clarify params
  core/src/index/unittest/test_idmap.cpp
  core/src/index/unittest/test_nsg.cpp
Owners: @shengjun1985

use #include "segment/SegmentWriter.h" instead (#2020)
  core/src/db/insert/MemTableFile.h
Owners: @scsven

add safty check 4 annoy load index (#2022)
  core/src/index/thirdparty/annoy/src/annoylib.h
Owners: @shengjun1985

rename table_schema to collection_schema (#2023)
  core/unittest/db/test_mem.cpp
Owners: @scsven

fix warning: no return statement (#2025)
  core/src/server/web_impl/handler/WebRequestHandler.h
Owners: @scsven

Fix
  core/src/index/unittest/test_nsg.cpp
Owners: @shengjun1985

Delete CommandDto class and remove file CmdDto.hpp
  core/src/server/web_impl/dto/CmdDto.hpp
Owners: @scsven

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985
