Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

(db/snapshot): update visitors (#2837)
  core/src/db/SnapshotVisitor.cpp
  core/src/db/SnapshotVisitor.h
  core/src/db/snapshot/Operations.h
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_snapshot.cpp
Owners: @scsven

Fix rnsg master (#2831)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/Distance.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.h
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSGIO.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.cpp
Owners: @JinHai-CN, @shengjun1985

Hnsw sq8 support (#2835)
  CHANGELOG.md
  core/src/codecs/default/DefaultVectorCompressFormat.cpp
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_SQ8NR.h
  core/src/server/ValidationUtil.cpp
  core/src/server/web_impl/Constants.h
  sdk/examples/utils/Utils.cpp
  sdk/include/MilvusApi.h
Owners: @JinHai-CN, @scsven, @shengjun1985

remove old api (#2833)
  core/src/db/SSDBImpl.cpp
  core/src/db/insert/SSMemCollection.cpp
  core/src/db/insert/SSMemCollection.h
  core/src/db/insert/SSMemManager.h
  core/src/db/insert/SSMemManagerImpl.cpp
  core/src/db/insert/SSMemManagerImpl.h
  core/src/db/insert/SSMemSegment.cpp
  core/src/db/insert/SSMemSegment.h
  core/src/db/insert/SSVectorSource.cpp
  core/src/db/insert/SSVectorSource.h
Owners: @scsven

Update sqlite_6_to_4.sql (#2832)
  core/scripts/migration/sqlite_6_to_4.sql
Owners: @scsven

(db/snapshot) Add snapshot DB module (#2851)
  core/src/CMakeLists.txt
  core/src/db/meta/MetaAdapter.h
  core/src/db/meta/MetaFields.h
  core/src/db/meta/MetaResourceAttrs.cpp
  core/src/db/meta/MetaResourceAttrs.h
  core/src/db/meta/MetaSession.h
  core/src/db/meta/MySQLConnectionPool.h
  core/src/db/meta/backend/MetaContext.h
  core/src/db/meta/backend/MetaEngine.h
  core/src/db/meta/backend/MetaHelper.cpp
  core/src/db/meta/backend/MetaHelper.h
  core/src/db/meta/backend/MockMetaEngine.cpp
  core/src/db/meta/backend/MockMetaEngine.h
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/db/meta/backend/MySqlEngine.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceContext.h
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Store.h
  core/src/server/context/MetaContext.cpp
  core/unittest/CMakeLists.txt
  core/unittest/ssdb/test_snapshot.cpp
  core/unittest/ssdb/utils.cpp
Owners: @scsven, @yhmo

redefine SegmentWriter (#2853)
  core/src/codecs/snapshot/SSBlockFormat.cpp
  core/src/codecs/snapshot/SSBlockFormat.h
  core/src/codecs/snapshot/SSCodec.cpp
  core/src/codecs/snapshot/SSCodec.h
  core/src/db/SSDBImpl.cpp
  core/src/db/insert/SSMemManager.h
  core/src/db/insert/SSMemManagerImpl.cpp
  core/src/db/insert/SSMemSegment.cpp
  core/src/db/insert/SSMemSegment.h
  core/src/db/insert/SSVectorSource.cpp
  core/src/db/insert/SSVectorSource.h
  core/src/segment/SSSegmentWriter.cpp
  core/src/segment/SSSegmentWriter.h
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/unittest/ssdb/test_segment.cpp
Owners: @scsven

move index type try2 (#2860)
  CHANGELOG.md
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/db/meta/MetaTypes.h
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/IndexType.cpp
  core/src/index/knowhere/knowhere/index/IndexType.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapterMgr.h
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseBinaryIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseIndex.cpp
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndex.h
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/OffsetBaseIndex.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/OffsetBaseIndex.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/Helper.h
  core/src/index/unittest/test_customized_index.cpp
  core/src/index/unittest/test_gpuresource.cpp
  core/src/index/unittest/test_idmap.cpp
  core/src/index/unittest/test_ivf.cpp
  core/src/index/unittest/test_ivf_cpu_nm.cpp
  core/src/index/unittest/test_ivf_gpu_nm.cpp
  core/src/index/unittest/test_vecindex.cpp
  core/src/scheduler/Definition.h
  core/src/scheduler/task/SearchTask.cpp
Owners: @JinHai-CN, @scsven, @yhmo, @shengjun1985

snapshot integrate (#2854)
  CHANGELOG.md
  core/src/db/SSDBImpl.cpp
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/db/insert/SSMemManagerImpl.cpp
  core/src/db/insert/SSMemSegment.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/segment/SSSegmentReader.cpp
  core/src/segment/SSSegmentReader.h
  core/src/segment/SSSegmentWriter.cpp
  core/src/segment/SSSegmentWriter.h
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/src/storage/disk/DiskOperation.cpp
  core/unittest/ssdb/test_segment.cpp
  core/unittest/ssdb/utils.h
Owners: @JinHai-CN, @scsven

#2802 Add new index: IVFSQ8NR_NM (#2865)
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFSQNR.cpp
  core/src/index/knowhere/knowhere/index/vector_index/VecIndexFactory.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/Cloner.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVFSQNR_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVFSQNR_NM.h
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVFSQNR_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVFSQNR_NM.h
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVF_NM.cpp
  core/src/index/thirdparty/faiss/IndexIVF.cpp
  core/src/index/thirdparty/faiss/IndexIVF.h
  core/src/index/thirdparty/faiss/IndexScalarQuantizer.cpp
  core/src/index/thirdparty/faiss/IndexScalarQuantizer.h
  core/src/index/thirdparty/faiss/gpu/GpuCloner.cpp
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFScalarQuantizer.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFScalarQuantizer.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/Helper.h
  core/src/index/unittest/test_ivf.cpp
  core/src/index/unittest/test_ivf_cpu_nm.cpp
  core/src/index/unittest/test_ivfsq_cpu_nm.cpp
  core/src/index/unittest/test_ivfsq_gpu_nm.cpp
Owners: @scsven, @shengjun1985

(db/snapshot): Update row count related logic (#2862)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Snapshot.cpp
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_snapshot.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

add MILVUS_SUPPORT_SPTAG for some code (#2866)
  CHANGELOG.md
  core/src/db/Utils.cpp
  core/src/db/meta/MetaTypes.h
  core/src/server/delivery/request/DeleteByIDRequest.cpp
  core/unittest/db/test_engine.cpp
Owners: @JinHai-CN, @scsven, @yhmo

# 2828 opt faiss build (#2855)
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/thirdparty/faiss/gpu/impl/BroadcastSum.cu
  core/src/index/thirdparty/faiss/gpu/impl/BroadcastSum.cuh
  core/src/index/thirdparty/faiss/gpu/impl/Distance.cu
  core/src/index/thirdparty/faiss/gpu/impl/FlatIndex.cu
  core/src/index/thirdparty/faiss/gpu/impl/FlatIndex.cuh
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cuh
  core/src/index/thirdparty/faiss/gpu/impl/L2Norm.cu
  core/src/index/thirdparty/faiss/gpu/impl/L2Norm.cuh
  core/src/index/thirdparty/faiss/gpu/impl/PQCodeDistances-inl.cuh
  core/src/index/thirdparty/faiss/gpu/impl/PQCodeDistances.cu
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassNoPrecomputed-inl.cuh
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassNoPrecomputed.cu
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassPrecomputed.cu
  core/src/index/thirdparty/faiss/gpu/impl/VectorResidual.cu
  core/src/index/thirdparty/faiss/gpu/impl/VectorResidual.cuh
  core/src/index/thirdparty/faiss/gpu/utils/BlockSelectHalf.cu
  core/src/index/thirdparty/faiss/gpu/utils/BlockSelectKernel.cuh
  core/src/index/thirdparty/faiss/gpu/utils/ConversionOperators.cuh
  core/src/index/thirdparty/faiss/gpu/utils/Float16.cu
  core/src/index/thirdparty/faiss/gpu/utils/Float16.cuh
  core/src/index/thirdparty/faiss/gpu/utils/LoadStoreOperators.cuh
  core/src/index/thirdparty/faiss/gpu/utils/MathOperators.cuh
  core/src/index/thirdparty/faiss/gpu/utils/WarpSelectHalf.cu
  core/src/index/thirdparty/faiss/gpu/utils/WarpSelectKernel.cuh
  core/src/index/thirdparty/faiss/gpu/utils/WarpShuffles.cuh
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalf128.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalf256.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalf64.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalfF1024.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalfF2048.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalfF512.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalfT1024.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalfT2048.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalfT512.cu
Owners: @shengjun1985

(db/snapshot): update size related logic (#2877)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_snapshot.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

(db/snapshot) Add snapshot DB unittest (#2856)
  core/src/db/meta/MetaAdapter.h
  core/src/db/meta/backend/MockMetaEngine.cpp
  core/src/db/meta/backend/MockMetaEngine.h
  core/src/db/snapshot/ResourceContext.h
  core/src/server/context/Context.cpp
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_ss_meta.cpp
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @yhmo, @scsven

Fix Prometheus rebuild problem (#2878)
  .gitignore
  CHANGELOG.md
  core/build.sh
  core/cmake/ThirdPartyPackages.cmake
  core/thirdparty/versions.txt
Owners: @JinHai-CN, @scsven

Add some cpp unittests about scheduler algorithm (#2888)
  core/unittest/scheduler/test_algorithm.cpp
Owners: @scsven

opt faiss build (#2883)
  CHANGELOG.md
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVF.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFFlat.cu
  core/src/index/thirdparty/faiss/gpu/GpuIndexIVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/impl/BroadcastSum.cuh
  core/src/index/thirdparty/faiss/gpu/impl/Distance.cuh
  core/src/index/thirdparty/faiss/gpu/impl/FlatIndex.cu
  core/src/index/thirdparty/faiss/gpu/impl/IVFPQ.cu
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassNoPrecomputed-inl.cuh
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassNoPrecomputed.cu
  core/src/index/thirdparty/faiss/gpu/impl/PQScanMultiPassPrecomputed.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalf1.cu
  core/src/index/thirdparty/faiss/gpu/utils/blockselect/BlockSelectHalf32.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalf1.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalf128.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalf256.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalf32.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalf64.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalfF1024.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalfF2048.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalfF512.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalfT1024.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalfT2048.cu
  core/src/index/thirdparty/faiss/gpu/utils/warpselect/WarpSelectHalfT512.cu
Owners: @JinHai-CN, @shengjun1985

use BlockingQueue in JobMgr (#2885)
  CHANGELOG.md
  core/src/scheduler/JobMgr.cpp
  core/src/scheduler/JobMgr.h
  core/src/utils/BlockingQueue.h
Owners: @JinHai-CN, @scsven

add log 2 debug memory usage
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/FaissBaseIndex.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFPQ.h
  core/src/index/thirdparty/faiss/IndexIVF.cpp
  core/src/index/thirdparty/faiss/InvertedLists.cpp
  core/src/index/thirdparty/faiss/impl/index_read.cpp
Owners: @scsven, @shengjun1985

fix index size of index hnsw, annoy and nsg
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/impl/nsg/NSG.h
  core/src/index/thirdparty/annoy/src/annoylib.h
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/visited_list_pool.h
Owners: @shengjun1985

Fixed broken links. (#2902)
  README.md
  README_CN.md
Owners: @JinHai-CN

Set MySQL host ip to 127.0.0.1 in jenkins unittest step (#2905)
  ci/jenkins/step/unittest.groovy
Owners: @JinHai-CN

Fix warning master (#2894)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexAnnoy.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexBinaryIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIDMAP.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexIVFSQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexNSG.cpp
  core/src/index/knowhere/knowhere/index/vector_index/adapter/SptagAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/adapter/VectorAdapter.h
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQNR.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexHNSW_SQ8NR.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVFSQNR_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexIVF_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVFSQNR_NM.cpp
  core/src/index/knowhere/knowhere/index/vector_offset_index/gpu/IndexGPUIVF_NM.cpp
Owners: @JinHai-CN, @shengjun1985

fix #2768 (#2809)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
Owners: @JinHai-CN, @scsven

[0.10.1] update shards ci && enable pq case (#2804)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_search.py
Owners: @JinHai-CN

Add python functional tests about timeout (#2793)
  core/src/index/cmake/ThirdPartyPackagesCore.cmake
  tests/milvus_python_test/test_ping.py
Owners: @shengjun1985, @JinHai-CN

add testcase of empty vector insert (#2850)
  tests/milvus_python_test/entity/test_insert.py
Owners: @JinHai-CN

(db/snapshot): Update Store (#2897)
  core/src/db/meta/MetaAdapter.h
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/EventExecutor.h
  core/src/db/snapshot/OperationExecutor.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/ResourceOperations.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/SnapshotHolder.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Snapshots.h
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/test_snapshot.cpp
  core/unittest/ssdb/test_ss_meta.cpp
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @yhmo, @scsven

(db/snapshot): add AddSegmentFileOperation (#2924)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/unittest/ssdb/test_snapshot.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

remove debug info in file InvertedLists.cpp
  core/src/index/thirdparty/faiss/InvertedLists.cpp
Owners: @shengjun1985

fix: upgrade com.alibaba:fastjson from 1.2.71 to 1.2.72 (#2925)
  tests/milvus-java-test/pom.xml
Owners: @JinHai-CN

(db/snapshot) Optimize snapshot mock db (#2896)
  core/src/db/meta/MetaAdapter.h
  core/src/db/meta/MetaSession.h
  core/src/db/meta/backend/MockMetaEngine.cpp
  core/src/db/meta/backend/MySqlEngine.cpp
  core/unittest/ssdb/test_ss_meta.cpp
Owners: @yhmo, @scsven

Rearrange core cmakelists (#2900)
  core/CMakeLists.txt
  core/cmake/BuildUtils.cmake
  core/cmake/Utils.cmake
  core/src/version.h.in
Owners: @scsven

add web_impl testcase (#2920)
  core/src/server/web_impl/utils/Util.cpp
  core/unittest/db/test_web.cpp
Owners: @scsven

[skip ci] Update cases for the resources changed (#2907)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  tests/milvus_python_test/stability/test_mysql.py
  tests/milvus_python_test/test_config.py
Owners: @JinHai-CN

refine code (#2927)
  core/src/codecs/snapshot/SSStructuredIndexFormat.cpp
  core/src/codecs/snapshot/SSStructuredIndexFormat.h
  core/src/codecs/snapshot/SSVectorIndexFormat.h
  core/src/db/SSDBImpl.cpp
  core/src/db/SSDBImpl.h
  core/src/db/engine/SSExecutionEngine.h
  core/src/db/engine/SSExecutionEngineImpl.cpp
  core/src/db/engine/SSExecutionEngineImpl.h
  core/src/query/GeneralQuery.h
  core/src/segment/SSSegmentReader.cpp
  core/src/segment/SSSegmentReader.h
  core/src/segment/SSSegmentWriter.cpp
  core/src/segment/SSSegmentWriter.h
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
Owners: @scsven

(db/snapshot): add GC event and implement crtp for base resource (#2926)
  core/src/db/snapshot/BaseResource.h
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/InActiveResourcesGCEvent.h
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Store.h
  core/unittest/ssdb/test_snapshot.cpp
Owners: @scsven

(db/snapshot) Add root path for snapshot GC (#2936)
  core/src/db/Utils.cpp
  core/src/db/Utils.h
  core/src/db/snapshot/Event.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/ResourceHelper.h
  core/src/db/snapshot/ResourceHolder.h
  core/src/utils/StringHelpFunctions.cpp
  core/src/utils/StringHelpFunctions.h
  core/unittest/server/test_util.cpp
Owners: @scsven

scheduler support snapshot (#2944)
  core/src/db/SSDBImpl.cpp
  core/src/db/SnapshotHandlers.cpp
  core/src/db/SnapshotHandlers.h
  core/src/scheduler/TaskCreator.cpp
  core/src/scheduler/TaskCreator.h
  core/src/scheduler/job/Job.h
  core/src/scheduler/job/SSBuildIndexJob.cpp
  core/src/scheduler/job/SSBuildIndexJob.h
  core/src/scheduler/job/SSSearchJob.cpp
  core/src/scheduler/job/SSSearchJob.h
  core/src/scheduler/task/SSBuildIndexTask.cpp
  core/src/scheduler/task/SSBuildIndexTask.h
  core/src/scheduler/task/SSSearchTask.cpp
  core/src/scheduler/task/SSSearchTask.h
  core/src/scheduler/task/SSTestTask.cpp
  core/src/scheduler/task/SSTestTask.h
  core/src/scheduler/task/Task.h
  core/unittest/ssdb/CMakeLists.txt
  core/unittest/ssdb/test_db.cpp
  core/unittest/ssdb/test_ss_job.cpp
  core/unittest/ssdb/test_ss_task.cpp
  core/unittest/ssdb/utils.cpp
  core/unittest/ssdb/utils.h
Owners: @scsven

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985
