Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

Fix DBImpl and scheduler for search (#3062)
  core/src/db/DBImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/query/GeneralQuery.h
  core/src/scheduler/job/SearchJob.cpp
  core/src/scheduler/job/SearchJob.h
  core/src/scheduler/task/SearchTask.cpp
  core/src/scheduler/task/SearchTask.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  sdk/examples/simple/src/ClientTest.cpp
Owners: @scsven

add field name and segment size validation check when create collection (#3065)
  core/src/db/DBImpl.cpp
  core/src/db/Types.h
  core/src/db/snapshot/ReferenceProxy.h
  core/src/server/ValidationUtil.cpp
  core/src/server/ValidationUtil.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/CreateCollectionReq.h
  core/src/server/delivery/request/DropCollectionReq.cpp
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/delivery/request/GetCollectionInfoReq.h
  core/src/server/delivery/request/GetCollectionStatsReq.cpp
  core/src/server/delivery/request/GetCollectionStatsReq.h
  core/src/server/delivery/request/HasCollectionReq.cpp
  core/src/server/delivery/request/ListCollectionsReq.cpp
Owners: @scsven

(db/snapshot): Handle timeout with external metastore (#3075)
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/Store.h
  core/src/utils/Error.h
  core/unittest/db/utils.cpp
Owners: @scsven

(scalar) Update list-id-in-segment case (#3060)
  core/src/db/DBImpl.cpp
  tests/milvus_python_test/entity/test_list_id_in_segment.py
Owners: @scsven, @JinHai-CN

Fix GetEntityByID bug (#3073)
  core/src/db/DBImpl.cpp
  core/src/db/Types.h
  core/src/segment/Segment.h
  core/src/server/delivery/ReqHandler.cpp
  core/src/server/delivery/ReqHandler.h
  core/src/server/delivery/request/GetEntityByIDReq.cpp
  core/src/server/delivery/request/GetEntityByIDReq.h
  core/src/server/delivery/request/SearchReq.cpp
  core/src/server/delivery/request/SearchReq.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

[skip ci]change some case's level (#3079)
  tests/milvus_python_test/test_compact.py
Owners: @JinHai-CN

fix bug (#3078)
  core/src/codecs/IdBloomFilterFormat.cpp
  core/src/db/DBImpl.cpp
  core/src/db/SnapshotUtils.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/merge/MergeManager.h
  core/src/db/merge/MergeManagerFactory.cpp
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/merge/MergeManagerImpl.h
  core/src/index/knowhere/knowhere/index/Index.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/unittest/db/test_db.cpp
Owners: @scsven, @shengjun1985

[skip ci]change case level in list_id_in_segment_test (#3082)
  tests/milvus_python_test/entity/test_list_id_in_segment.py
Owners: @JinHai-CN

[skip ci]change case level in delete_test (#3083)
  tests/milvus_python_test/entity/test_delete.py
Owners: @JinHai-CN

describe index request (#3085)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/server/delivery/ReqHandler.cpp
  core/src/server/delivery/ReqHandler.h
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/delivery/request/DescribeIndexReq.cpp
  core/src/server/delivery/request/DescribeIndexReq.h
  core/src/server/delivery/request/Types.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

faiss-hnsw-uptrade inline version, failure version
  core/src/index/thirdparty/faiss/IndexHNSW.h
  core/src/index/thirdparty/faiss/IndexRHNSW.cpp
  core/src/index/thirdparty/faiss/IndexRHNSW.h
  core/src/index/thirdparty/faiss/impl/RHNSW-inl.h
  core/src/index/thirdparty/faiss/impl/RHNSW.cpp
  core/src/index/thirdparty/faiss/impl/RHNSW.h
  core/src/index/thirdparty/faiss/tutorial/cpp/hnsw-cmli.cpp
Owners: @shengjun1985

refine code (#3089)
  core/src/cache/CpuCacheMgr.cpp
  core/src/cache/CpuCacheMgr.h
  core/src/cache/GpuCacheMgr.cpp
  core/src/cache/GpuCacheMgr.h
  core/src/db/DBImpl.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

fix get entity by id bug (#3086)
  core/src/codecs/BlockFormat.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

[skip ci] Update ISSUE template
  .github/ISSUE_TEMPLATE/config.yml
Owners: @JinHai-CN

refine insert code (#3090)
  core/src/db/DBImpl.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/insert/MemCollection.h
  core/src/db/insert/MemManager.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemManagerImpl.h
Owners: @scsven

[skip ci] remove index name && add metric type in index and search params (#3088)
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/collection/test_load_collection.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_flush.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_wal.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

Fix Block Format Read bug (#3084)
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @scsven, @JinHai-CN

Apart src/CMKLists to dir server/CMKLists (#3081)
  core/CMakeLists.txt
  core/src/CMakeLists.txt
  core/src/server/CMakeLists.txt
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
Owners: @scsven

(db/snapshot): Update DropAllIndexOperation and some small changes (#3087)
  core/src/db/SnapshotHandlers.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/IterateHandler.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

fix compile error (#3094)
  core/src/db/SnapshotUtils.cpp
Owners: @scsven

[skip ci] update default field name (#3096)
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

fix ci (#3097)
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/SnapshotHandlers.cpp
  core/src/db/snapshot/Context.h
  core/src/segment/SegmentReader.cpp
  core/src/server/delivery/ReqHandler.cpp
  core/src/server/delivery/ReqHandler.h
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/delivery/request/GetEntityByIDReq.cpp
  core/src/server/delivery/request/GetEntityByIDReq.h
  core/src/server/delivery/request/LoadCollectionReq.cpp
  core/src/server/delivery/request/SearchReq.cpp
  core/src/server/delivery/request/SearchReq.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @scsven

fix bugs when GetEntity with ID in mulity paritions (#3098)
  core/src/db/SnapshotHandlers.cpp
  core/src/segment/SegmentReader.cpp
  core/src/server/delivery/request/GetEntityByIDReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @scsven

(db/snapshot) implement Delete (#3101)
  core/src/codecs/DeletedDocsFormat.cpp
  core/src/db/insert/MemCollection.cpp
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/src/server/delivery/request/FlushReq.cpp
  core/src/server/delivery/request/ListIDInSegmentReq.cpp
Owners: @scsven, @yhmo

(db/snapshot): Add new TypeNameField and update some ut (#3100)
  core/src/db/meta/MetaNames.h
  core/src/db/meta/MetaResourceAttrs.cpp
  core/src/db/meta/MetaResourceAttrs.h
  core/src/db/meta/MetaSession.h
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/db/meta/backend/SqliteEngine.cpp
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.h
Owners: @yhmo, @scsven

Fix bug (#3099)
  core/src/db/DBImpl.cpp
  core/src/server/ValidationUtil.cpp
  core/src/server/delivery/request/CreateIndexReq.cpp
Owners: @scsven

fix build error (#3104)
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/scheduler/job/BuildIndexJob.cpp
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentWriter.cpp
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
Owners: @scsven

(db/snapshot) Optimize mysql (#3095)
  core/src/db/meta/backend/MySQLConnectionPool.cpp
  core/src/db/meta/backend/MySQLConnectionPool.h
  core/src/db/meta/backend/MySqlEngine.cpp
  core/src/db/meta/backend/MySqlEngine.h
Owners: @yhmo

Rearrange db/CMKLists, seperate dir codecs, storage, cache and segment (#3105)
  core/src/CMakeLists.txt
  core/src/cache/CMakeLists.txt
  core/src/codecs/CMakeLists.txt
  core/src/db/CMakeLists.txt
  core/src/segment/CMakeLists.txt
  core/src/storage/CMakeLists.txt
Owners: @scsven

Fix bug (#3106)
  core/src/server/delivery/request/CreateCollectionReq.cpp
Owners: @scsven

[skip ci] add some dsl cases (#3109)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

[skip ci]copy dablooms' license file from origin repository (#3110)
  core/thirdparty/dablooms/LICENSE
Owners: @scsven

fix bug caused by wrong valid row initlization (#3108)
  core/src/db/DBImpl.cpp
  core/src/server/delivery/request/GetEntityByIDReq.cpp
Owners: @scsven

[skip ci] add some dsl cases (#3111)
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

fix segment dependency sqlite (#3113)
  core/src/segment/CMakeLists.txt
Owners: @scsven

use index type replace name (#3114)
  core/src/db/SnapshotUtils.cpp
  core/src/db/Types.h
  core/src/db/Utils.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/server/delivery/request/CreateIndexReq.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

add logging (#3092)
  core/src/db/DBImpl.cpp
  core/src/index/knowhere/knowhere/common/Log.cpp
  core/src/index/knowhere/knowhere/common/Log.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissIO.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissIO.h
  core/src/index/thirdparty/faiss/IndexIVF.cpp
  core/src/index/thirdparty/faiss/utils/utils.cpp
  core/src/index/thirdparty/faiss/utils/utils.h
Owners: @scsven, @shengjun1985

define binary data type (#3115)
  core/src/codecs/BlockFormat.cpp
  core/src/codecs/BlockFormat.h
  core/src/codecs/VectorIndexFormat.cpp
  core/src/codecs/VectorIndexFormat.h
  core/src/db/DBImpl.cpp
  core/src/db/Types.cpp
  core/src/db/Types.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/db/insert/MemManagerImpl.cpp
  core/src/db/insert/MemSegment.cpp
  core/src/grpc/gen-milvus/milvus.pb.cc
  core/src/grpc/gen-milvus/milvus.pb.h
  core/src/grpc/milvus.proto
  core/src/segment/Segment.cpp
  core/src/segment/Segment.h
  core/src/segment/SegmentReader.cpp
  core/src/segment/SegmentReader.h
  core/src/segment/SegmentWriter.cpp
  core/src/segment/SegmentWriter.h
  core/src/server/delivery/request/CreateCollectionReq.cpp
  core/src/server/delivery/request/GetCollectionInfoReq.cpp
  core/src/server/delivery/request/InsertReq.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/unittest/db/test_db.cpp
  core/unittest/db/test_segment.cpp
Owners: @scsven

Add DBImpl::Query unittest (#3119)
  core/src/db/DBImpl.cpp
  core/src/segment/SegmentReader.cpp
  core/unittest/db/test_db.cpp
Owners: @scsven

Optimize DeletedDocsFormat class file I/O (#3112)
  core/src/codecs/DeletedDocsFormat.cpp
Owners: @scsven
