Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @jielinxu, @yamasite, @fishpenguin, @del-zhenwu

Update INSTALL.md (#1175)
  INSTALL.md
Owners: @JinHai-CN

add Tanimoto ground truth (#1138)
  tests/milvus_groundtruth/README.md
  tests/milvus_groundtruth/milvus_ground_truth.py
Owners: @del-zhenwu

fix mix case bug (#1208)
  tests/milvus_python_test/MilvusCases.md
  tests/milvus_python_test/test_mix.py
Owners: @del-zhenwu

Update README.md (#1206)
  README.md
Owners: @JinHai-CN

Add design.md to store links to design docs (#1219)
  README.md
  design.md
Owners: @JinHai-CN

Add troubleshooting info about libmysqlpp.so.3 error (#1225)
  INSTALL.md
Owners: @JinHai-CN

Update README.md (#1233)
  README.md
Owners: @JinHai-CN

Update README.md (#1258)
  README.md
Owners: @JinHai-CN

Update INSTALL.md (#1265)
  INSTALL.md
Owners: @JinHai-CN

support CPU profiling (#1251)
  core/CMakeLists.txt
  core/src/server/delivery/request/DeleteByDateRequest.cpp
  core/src/server/delivery/request/InsertRequest.cpp
  core/src/server/delivery/request/SearchRequest.cpp
  core/src/utils/CommonUtil.cpp
  core/src/utils/CommonUtil.h
Owners: @JinHai-CN, @XuPeng-SH

Fix HNSW crash (#1262)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/wrapper/ConfAdapter.cpp
  core/unittest/wrapper/test_wrapper.cpp
Owners: @JinHai-CN, @XuPeng-SH

Add troubleshooting information for INSTALL.md and enhance readability (#1274)
  INSTALL.md
Owners: @JinHai-CN

Create COMMUNITY.md (#1292)
  COMMUNITY.md
Owners: @JinHai-CN

Update INSTALL.md (#1283)
  INSTALL.md
Owners: @JinHai-CN

Update README.md
  README.md
Owners: @JinHai-CN

Update README.md
  README.md
Owners: @JinHai-CN

Update README_CN.md
  README_CN.md
Owners: @JinHai-CN

Update CN/JPN readme per the latest EN readme (#1305)
  CHANGELOG.md
  README_CN.md
  README_JP.md
Owners: @JinHai-CN

Fix #1298 (#1316)
  CHANGELOG.md
  core/unittest/wrapper/test_wrapper.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1320 remove debug logging from faiss
  CHANGELOG.md
  core/src/index/thirdparty/faiss/gpu/impl/IVFFlat.cu
Owners: @JinHai-CN, @XuPeng-SH

Update README.md
  README.md
Owners: @JinHai-CN

Update README_CN.md
  README_CN.md
Owners: @JinHai-CN

add Scrutinizer badge to README.md #1328
  README.md
Owners: @JinHai-CN

Add Codacy badge
  README.md
Owners: @JinHai-CN

add Make a Pull Request badge to README.md
  README.md
Owners: @JinHai-CN

Fix language badge in README.md #1332
  README.md
Owners: @JinHai-CN

release date done right #1334
  README.md
Owners: @JinHai-CN

add docker pull badge to README.md #1336
  README.md
Owners: @JinHai-CN

add Maintenance badge to README.md
  README.md
Owners: @JinHai-CN

add osstracker badge to README.md
  OSSMETADATA
  README.md
Owners: @JinHai-CN

Update README.md
  README.md
Owners: @JinHai-CN

add github hits badge
  README.md
Owners: @JinHai-CN

add Snyk Vulnerabilities badge
  README.md
Owners: @JinHai-CN

remove Snyk Vulnerabilities badge
  README.md
Owners: @JinHai-CN

Use pymilvus at testing stage in master-ci-pipeline (#1346)
  tests/milvus_python_test/requirements.txt
  tests/milvus_python_test/requirements_cluster.txt
Owners: @del-zhenwu

Update badges for EN/CN/JP readme (#1342)
  CHANGELOG.md
  README.md
  README_CN.md
  README_JP.md
Owners: @JinHai-CN

add codefactor badge
  README.md
Owners: @JinHai-CN

Disable filtering for specific paths in Jenkins CI (#1357)
  ci/jenkins/Jenkinsfile
  ci/jenkins/pod/milvus-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/step/singleDevNightlyTest.groovy
Owners: @ZhifengZhang-CN

fix: upgrade junit:junit from 4.9 to 4.13 (#1338)
  tests/milvus-java-test/pom.xml
Owners: @del-zhenwu

fix: upgrade org.apache.commons:commons-lang3 from 3.4 to 3.9 (#1339)
  tests/milvus-java-test/pom.xml
Owners: @del-zhenwu

CODEOWNERS:

# Each line is a component followed by one or more owners. 

* @JinHai-CN
/core   @JinHai-CN @XuPeng-SH
/ci     @ZhifengZhang-CN
/docker @ZhifengZhang-CN
/docs   @jielinxu @yamasite
/sdk    @fishpenguin
/shards @XuPeng-SH
/tests  @del-zhenwu
