Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @scsven, @XuPeng-SH, @yhmo, @cydrain, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
/sdk                     @scsven
/shards                  @XuPeng-SH
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/knowhere @cydrain
/core/src/index/         @shengjun1985

remove SearchByID (#2341)
  sdk/examples/simple/src/ClientTest.cpp
  sdk/grpc/ClientProxy.cpp
  sdk/grpc/ClientProxy.h
  sdk/grpc/GrpcClient.cpp
  sdk/grpc/GrpcClient.h
  sdk/include/MilvusApi.h
  sdk/interface/ConnectionImpl.cpp
  sdk/interface/ConnectionImpl.h
Owners: @scsven

#2338 (#2345)
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
Owners: @yhmo

Change url for behavior 'get_entities_by_id' (#2330) (#2336)
  CHANGELOG.md
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @scsven

add close cases (#2339)
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_get_vectors_by_ids.py
  tests/milvus_python_test/test_ping.py
  tests/milvus_python_test/test_search_vectors.py
Owners: @JinHai-CN

[skip ci] Update http document for v0.9.0 (#2347) (#2348)
  CHANGELOG.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @scsven

Caiyd 090 rename config (#2340)
  core/conf/demo/server_config.yaml
  core/conf/server_config.template
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/server/Server.cpp
  core/src/utils/LogUtil.cpp
  core/unittest/server/test_config.cpp
  core/unittest/server/test_util.cpp
Owners: @scsven

Tear down in test_collection_add_rows_count_multi_threading (#2356)
  tests/milvus_python_test/test_add_vectors.py
Owners: @JinHai-CN

[skip ci] Upgrade mishards for v0.9.0 (#2358) (#2359)
  CHANGELOG.md
  shards/README.md
  shards/README_CN.md
  shards/all_in_one/all_in_one.yml
  shards/all_in_one/ro_server.yml
  shards/all_in_one/wr_server.yml
  shards/all_in_one_with_mysql/all_in_one.yml
  shards/all_in_one_with_mysql/ro_server.yml
  shards/all_in_one_with_mysql/wr_server.yml
  shards/mishards/service_handler.py
  shards/requirements.txt
Owners: @JinHai-CN, @XuPeng-SH

Issue #2199 (#2355)
  README.md
  README_CN.md
Owners: @JinHai-CN

Install openblas library to deployment environment (#2335)
  docker/deploy/cpu/centos7/Dockerfile
  docker/deploy/cpu/ubuntu18.04/Dockerfile
  docker/deploy/gpu/centos7/Dockerfile
  docker/deploy/gpu/ubuntu18.04/Dockerfile
Owners: @JinHai-CN

Add configuration to prevent multi branch projects from triggering new builds (#2344)
  .jenkinsignore
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

Add curl proxy (#2407)
  ci/jenkins/step/coverage.groovy
Owners: @JinHai-CN

Metadata Snapshot Implementation Phase I (#2414)
  core/src/CMakeLists.txt
  core/src/db/snapshot/BaseHolders.h
  core/src/db/snapshot/BaseHolders.inl
  core/src/db/snapshot/BaseResource.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/OperationExecutor.cpp
  core/src/db/snapshot/OperationExecutor.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ReferenceProxy.cpp
  core/src/db/snapshot/ReferenceProxy.h
  core/src/db/snapshot/ResourceHolders.cpp
  core/src/db/snapshot/ResourceHolders.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/ResourceOperations.h
  core/src/db/snapshot/ResourceTypes.h
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/ScopedResource.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/SnapshotHolder.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Snapshots.h
  core/src/db/snapshot/Store.h
  core/src/db/snapshot/WrappedTypes.h
  core/unittest/CMakeLists.txt
  core/unittest/db/CMakeLists.txt
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.cpp
  core/unittest/db/utils.h
Owners: @scsven

merge tests from 0.9.1 to master (#2432)
  tests/milvus_python_test/collection/test_collection.py
  tests/milvus_python_test/collection/test_collection_count.py
  tests/milvus_python_test/collection/test_collection_stats.py
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/entity/test_get_entity_by_id.py
  tests/milvus_python_test/entity/test_insert.py
  tests/milvus_python_test/entity/test_list_id_in_segment.py
  tests/milvus_python_test/entity/test_search.py
  tests/milvus_python_test/entity/test_search_by_id.py
  tests/milvus_python_test/pytest.ini
  tests/milvus_python_test/requirements.txt
  tests/milvus_python_test/test_compact.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_restart.py
  tests/milvus_python_test/utils.py
Owners: @JinHai-CN

Structured index (#2418)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndex.h
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndexSort-inl.h
  core/src/index/knowhere/knowhere/index/structured_index/StructuredIndexSort.h
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.cpp
  core/src/index/thirdparty/faiss/utils/ConcurrentBitset.h
  core/src/index/unittest/CMakeLists.txt
  core/src/index/unittest/test_structured_index_sort.cpp
Owners: @JinHai-CN, @shengjun1985

optimize snapshot (#2435)
  core/src/db/snapshot/OperationExecutor.cpp
  core/src/db/snapshot/OperationExecutor.h
Owners: @scsven

[skip ci] Update working flow
  .github/PULL_REQUEST_TEMPLATE.md
  .mergify/config.yml
Owners: @JinHai-CN

Snapshot code optimization 1 (#2440)
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/Store.h
  core/src/db/snapshot/Utils.h
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

optimize k-selection
  core/src/index/thirdparty/faiss/gpu/utils/Select.cuh
  core/src/index/thirdparty/faiss/tutorial/cpp/Makefile
  core/src/index/thirdparty/faiss/tutorial/cpp/k-selection.cpp
Owners: @shengjun1985

* #2370 clean compile warning
  CHANGELOG.md
  core/src/cache/Cache.inl
  core/src/db/DBImpl.cpp
  core/src/db/IDGenerator.cpp
  core/src/db/Options.cpp
  core/src/db/Options.h
  core/src/db/Types.h
  core/src/db/Utils.cpp
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/db/engine/ExecutionEngineImpl.h
  core/src/db/insert/MemTable.cpp
  core/src/db/insert/MemTableFile.cpp
  core/src/db/merge/MergeLayeredStrategy.cpp
  core/src/db/meta/Meta.cpp
  core/src/db/meta/Meta.h
  core/src/db/wal/WalMetaHandler.cpp
  core/src/db/wal/WalMetaHandler.h
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/metrics/SystemInfo.cpp
  core/src/metrics/SystemInfo.h
  core/src/metrics/prometheus/PrometheusMetrics.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
Owners: @JinHai-CN, @scsven, @yhmo, @shengjun1985

QPS decrease (#2372)
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/merge/MergeAdaptiveStrategy.cpp
  core/src/db/merge/MergeAdaptiveStrategy.h
  core/src/db/merge/MergeLayeredStrategy.cpp
  core/src/db/merge/MergeManager.h
  core/src/db/merge/MergeManagerImpl.cpp
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
Owners: @scsven, @yhmo

Add CreateCollection and DropCollection for Snapshot (#2454)
  core/src/db/snapshot/BaseResource.h
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceHolders.cpp
  core/src/db/snapshot/ResourceHolders.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/ResourceTypes.h
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/SnapshotHolder.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Snapshots.h
  core/src/db/snapshot/Store.h
  core/unittest/db/test_snapshot.cpp
Owners: @scsven

Update helm charts dependencies (#2480)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

(db/snapshot): Add new features for Snapshot Impl (#2483)
  CHANGELOG.md
  core/src/db/snapshot/BaseHolders.inl
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/OperationExecutor.cpp
  core/src/db/snapshot/OperationExecutor.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceOperations.cpp
  core/src/db/snapshot/ResourceOperations.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/SnapshotHolder.cpp
  core/src/db/snapshot/SnapshotHolder.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Snapshots.h
  core/src/db/snapshot/Store.h
  core/src/utils/Error.h
  core/unittest/db/test_snapshot.cpp
Owners: @JinHai-CN, @scsven

add logs 4 issue 2437
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/thirdparty/faiss/IndexIVF.cpp
Owners: @scsven, @shengjun1985

add profiling 4 cpu idmap search
  core/src/scheduler/task/SearchTask.cpp
  core/src/server/delivery/request/SearchRequest.cpp
Owners: @scsven

add head file
  core/src/scheduler/task/SearchTask.cpp
Owners: @scsven

try to fix compile error
  core/src/scheduler/task/SearchTask.cpp
Owners: @scsven

fix compile error
  core/src/scheduler/task/SearchTask.cpp
Owners: @scsven

Snapshot code update (#2497)
  core/src/db/snapshot/CompoundOperations.cpp
  core/src/db/snapshot/CompoundOperations.h
  core/src/db/snapshot/Context.cpp
  core/src/db/snapshot/Context.h
  core/src/db/snapshot/Operations.cpp
  core/src/db/snapshot/Operations.h
  core/src/db/snapshot/ResourceOperations.h
  core/src/db/snapshot/ResourceTypes.h
  core/src/db/snapshot/Resources.cpp
  core/src/db/snapshot/Resources.h
  core/src/db/snapshot/Snapshot.cpp
  core/src/db/snapshot/Snapshot.h
  core/src/db/snapshot/Snapshots.cpp
  core/src/db/snapshot/Snapshots.h
  core/src/utils/Error.h
  core/unittest/db/test_snapshot.cpp
  core/unittest/db/utils.cpp
Owners: @scsven

Update selector.matchLabels (#2500)
  ci/jenkins/step/shardsDevNightlyTest.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @JinHai-CN

add memory statistics of hnsw
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

add level statistics of hnsw
  core/src/index/thirdparty/hnswlib/hnswalg.h
Owners: @shengjun1985

clean compile warning (#2380)
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/config/Config.cpp
  core/src/db/DBImpl.cpp
  core/src/db/merge/MergeAdaptiveStrategy.cpp
  core/src/db/merge/MergeTask.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/wal/WalBuffer.cpp
  core/src/metrics/SystemInfo.cpp
  core/src/metrics/prometheus/PrometheusMetrics.cpp
  core/src/query/BinaryQuery.cpp
  core/src/scheduler/resource/Resource.cpp
  core/src/scheduler/selector/FaissFlatPass.cpp
  core/src/scheduler/selector/FaissIVFFlatPass.cpp
  core/src/scheduler/selector/FaissIVFPQPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8HPass.cpp
  core/src/scheduler/selector/FaissIVFSQ8Pass.cpp
  core/src/scheduler/task/BuildIndexTask.cpp
  core/src/scheduler/task/SearchTask.cpp
  core/src/segment/Attr.cpp
  core/src/segment/SegmentWriter.cpp
  core/src/segment/Vectors.cpp
  core/src/server/delivery/RequestHandler.cpp
  core/src/server/delivery/hybrid_request/InsertEntityRequest.cpp
  core/src/server/delivery/request/InsertRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.h
  core/src/server/init/CpuChecker.cpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/tracing/TracerUtil.cpp
  core/src/tracing/TracerUtil.h
  core/src/utils/CommonUtil.cpp
  core/src/utils/CommonUtil.h
  core/src/utils/LogUtil.cpp
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
  core/unittest/server/test_config.cpp
  core/unittest/server/test_util.cpp
Owners: @scsven, @yhmo

test level 3: restart (#2384)
  ci/jenkins/step/singleDevTest.groovy
  tests/milvus_python_test/conftest.py
Owners: @JinHai-CN

#2378 (#2388)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
  core/unittest/db/test_wal.cpp
Owners: @JinHai-CN, @scsven, @yhmo

Add go test && fix case bug (#2396)
  tests/milvus_go_test/client_test.go
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/test_partition.py
Owners: @JinHai-CN

fix MatchNlist (#2401)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.h
Owners: @JinHai-CN, @shengjun1985

#2403 MySQL max_idle_time is 10 by default (#2405)
  CHANGELOG.md
  core/src/db/meta/MySQLConnectionPool.h
Owners: @JinHai-CN, @yhmo

* remove log_config from code and script
  CHANGELOG.md
  core/scripts/start_server.sh
  core/src/main.cpp
  core/src/server/Server.cpp
  core/src/server/Server.h
  core/start_server.sh
Owners: @JinHai-CN, @scsven
