Repository op-hunter/milvus, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @jielinxu, @yamasite, @fishpenguin, @del-zhenwu

CODEOWNERS:

# Each line is a component followed by one or more owners. 

* @JinHai-CN
/core   @JinHai-CN @XuPeng-SH
/ci     @ZhifengZhang-CN
/docker @ZhifengZhang-CN
/docs   @jielinxu @yamasite
/sdk    @fishpenguin
/shards @XuPeng-SH
/tests  @del-zhenwu

Setting image pullPolicy to Always on Deploy stage
  ci/jenkins/step/deploySingle2Dev.groovy
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @ZhifengZhang-CN

add ground truth (#980)
  tests/milvus_groundtruth/README.md
  tests/milvus_groundtruth/milvus_ground_truth.py
Owners: @del-zhenwu

[skip ci] fix broken links (#985)
  shards/README.md
  shards/README_CN.md
Owners: @XuPeng-SH

[skip ci]#966 update NOTICE.md (#969)
  NOTICE.md
Owners: @JinHai-CN

fix #651; use initialized instead of shutting_down_ (#993)
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
Owners: @JinHai-CN, @XuPeng-SH

refactor code and add error log (#976)
  core/src/config/YamlConfigMgr.cpp
  core/src/db/DBImpl.cpp
  core/src/db/Utils.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/scheduler/optimizer/FaissFlatPass.cpp
  core/src/scheduler/optimizer/FaissIVFPQPass.cpp
  core/src/scheduler/optimizer/FaissIVFSQ8HPass.cpp
Owners: @JinHai-CN, @XuPeng-SH

Add http server (#956)
  CHANGELOG.md
  core/build-support/lint_exclusions.txt
  core/cmake/DefineOptions.cmake
  core/cmake/ThirdPartyPackages.cmake
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/CMakeLists.txt
  core/src/server/Config.cpp
  core/src/server/Config.h
  core/src/server/Server.cpp
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/RequestScheduler.cpp
  core/src/server/delivery/request/ShowPartitionsRequest.cpp
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/src/server/grpc_impl/GrpcServer.cpp
  core/src/server/web_impl/Constants.h
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/WebServer.cpp
  core/src/server/web_impl/WebServer.h
  core/src/server/web_impl/component/AppComponent.hpp
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/dto/CmdDto.hpp
  core/src/server/web_impl/dto/ConfigDto.hpp
  core/src/server/web_impl/dto/DevicesDto.hpp
  core/src/server/web_impl/dto/Dto.h
  core/src/server/web_impl/dto/IndexDto.hpp
  core/src/server/web_impl/dto/PartitionDto.hpp
  core/src/server/web_impl/dto/StatusDto.hpp
  core/src/server/web_impl/dto/TableDto.hpp
  core/src/server/web_impl/dto/VectorDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/thirdparty/versions.txt
  core/unittest/CMakeLists.txt
  core/unittest/server/CMakeLists.txt
  core/unittest/server/test_config.cpp
  core/unittest/server/test_rpc.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

Change lang cn to en in reademe (#971)
  tests/milvus_benchmark/README.md
  tests/milvus_doc_test/markdown-link-extractor.py
  tests/milvus_doc_test/requirements.txt
Owners: @del-zhenwu

[skip ci] Update C++ SDK readme. (#973)
  sdk/README.md
Owners: @fishpenguin

#977 Server crash when create tables concurrently (#991)
  CHANGELOG.md
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
Owners: @JinHai-CN, @XuPeng-SH

Fix cleanupSingleDev groovy file bug
  ci/jenkins/step/singleDevNightlyTest.groovy
  ci/jenkins/step/singleDevTest.groovy
Owners: @ZhifengZhang-CN

update codecov file
  .github/workflows/core.yml
  codecov.yaml
Owners: @JinHai-CN

Flag the upload to group coverage metrics
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/coverage.groovy
  codecov.yaml
Owners: @ZhifengZhang-CN, @JinHai-CN

Format Codecov
  ci/jenkins/step/coverage.groovy
  ci/scripts/check_ccache.sh
  ci/scripts/update_ccache.sh
Owners: @ZhifengZhang-CN

Fix bug
  ci/jenkins/Jenkinsfile
Owners: @ZhifengZhang-CN

Fix Failed to upload bug
  ci/jenkins/step/coverage.groovy
Owners: @ZhifengZhang-CN

Fix Failed to upload bug
  ci/jenkins/step/coverage.groovy
  docker/build_env/cpu/centos7/Dockerfile
  docker/build_env/cpu/ubuntu16.04/Dockerfile
  docker/build_env/cpu/ubuntu18.04/Dockerfile
  docker/build_env/gpu/centos7/Dockerfile
  docker/build_env/gpu/ubuntu16.04/Dockerfile
  docker/build_env/gpu/ubuntu18.04/Dockerfile
  docker/test_env/Dockerfile
Owners: @ZhifengZhang-CN

Fix Failed to upload bug
  .github/workflows/core.yml
  ci/jenkins/step/coverage.groovy
Owners: @JinHai-CN, @ZhifengZhang-CN

run hadolint with reviewdog (#1060)
  .github/workflows/core.yml
  .hadolint.yaml
  core/src/index/thirdparty/SPTAG/Dockerfile
  core/src/index/thirdparty/faiss/Dockerfile
  docker/build_env/cpu/centos7/Dockerfile
  docker/build_env/cpu/ubuntu16.04/Dockerfile
  docker/build_env/cpu/ubuntu18.04/Dockerfile
  docker/build_env/gpu/centos7/Dockerfile
  docker/build_env/gpu/ubuntu16.04/Dockerfile
  docker/build_env/gpu/ubuntu18.04/Dockerfile
  docker/deploy/cpu/centos7/Dockerfile
  docker/deploy/cpu/ubuntu16.04/Dockerfile
  docker/deploy/cpu/ubuntu18.04/Dockerfile
  docker/deploy/gpu/centos7/Dockerfile
  docker/deploy/gpu/ubuntu16.04/Dockerfile
  docker/deploy/gpu/ubuntu18.04/Dockerfile
  docker/test_env/Dockerfile
  shards/Dockerfile
  tests/milvus_python_test/Dockerfile
Owners: @JinHai-CN, @XuPeng-SH, @ZhifengZhang-CN, @del-zhenwu

Add nightly test notification && improve test case stability (#1056)
  ci/jenkins/Jenkinsfile
  ci/jenkins/scripts/mail.py
  tests/milvus_python_test/conftest.py
  tests/milvus_python_test/pytest.ini
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_delete_vectors.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_mix.py
  tests/milvus_python_test/test_partition.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/test_table.py
  tests/milvus_python_test/test_table_count.py
  tests/milvus_python_test/utils.py
Owners: @ZhifengZhang-CN, @del-zhenwu

Clean up old docker images (#1087)
  ci/jenkins/step/publishImages.groovy
Owners: @ZhifengZhang-CN

Fix http bug & add binary vectors support (#1073)
  CHANGELOG.md
  core/src/CMakeLists.txt
  core/src/server/delivery/request/DropPartitionRequest.cpp
  core/src/server/delivery/request/ShowPartitionsRequest.cpp
  core/src/server/web_impl/Constants.h
  core/src/server/web_impl/Types.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/dto/TableDto.hpp
  core/src/server/web_impl/dto/VectorDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/src/server/web_impl/utils/Util.cpp
  core/src/server/web_impl/utils/Util.h
  core/src/utils/ValidationUtil.cpp
  core/unittest/CMakeLists.txt
  core/unittest/server/test_web.cpp
  tests/milvus_python_test/test_partition.py
Owners: @JinHai-CN, @XuPeng-SH, @del-zhenwu

rename 'minio' to 's3' in Storage Config section (#1088)
  CHANGELOG.md
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/db/Utils.cpp
  core/src/server/Config.cpp
  core/src/server/Config.h
  core/src/storage/s3/S3ClientWrapper.cpp
  core/src/storage/s3/S3ClientWrapper.h
  core/src/wrapper/VecIndex.cpp
  core/unittest/server/test_config.cpp
  core/unittest/storage/test_s3_client.cpp
  core/unittest/storage/utils.cpp
Owners: @JinHai-CN, @XuPeng-SH

#1078 Move 'insert_buffer_size' to Cache Config section (#1085)
  CHANGELOG.md
  core/conf/demo/server_config.yaml
  core/conf/server_cpu_config.template
  core/conf/server_gpu_config.template
  core/src/server/Config.cpp
  core/src/server/Config.h
  core/src/utils/ValidationUtil.cpp
  core/unittest/db/utils.cpp
  core/unittest/server/test_config.cpp
  core/unittest/server/utils.cpp
  core/unittest/wrapper/utils.cpp
Owners: @JinHai-CN, @XuPeng-SH

Add GPU sharing solution on native Kubernetes (#1102)
  ci/jenkins/Jenkinsfile
  ci/jenkins/pod/milvus-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/milvus-gpu-version-ubuntu18.04-build-env-pod.yaml
Owners: @ZhifengZhang-CN

Fix http server bug (#1096)
  CHANGELOG.md
  core/src/server/Config.cpp
  core/src/server/web_impl/Constants.h
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/src/server/web_impl/utils/Util.h
  core/src/utils/ValidationUtil.cpp
  core/unittest/server/test_config.cpp
  core/unittest/server/test_web.cpp
Owners: @JinHai-CN, @XuPeng-SH

Filtering for specific paths in Jenkins CI (#1107)
  .github/workflows/core.yml
  ci/jenkins/Jenkinsfile
Owners: @JinHai-CN, @ZhifengZhang-CN

Fix Filtering for specific paths in Jenkins CI bug (#1109)
  .github/workflows/core.yml
  ci/jenkins/Jenkinsfile
Owners: @JinHai-CN, @ZhifengZhang-CN

Fix Filtering for specific paths in Jenkins CI bug (#1110)
  ci/jenkins/Jenkinsfile
Owners: @ZhifengZhang-CN

Don't skip ci when triggered by a time (#1113)
  ci/jenkins/Jenkinsfile
Owners: @ZhifengZhang-CN

Set default sending to Milvus Dev mail group (#1121)
  ci/jenkins/Jenkinsfile
Owners: @ZhifengZhang-CN

Support hnsw (#1131)
  core/src/db/engine/ExecutionEngine.h
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/CMakeLists.txt
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissIO.h
  core/src/index/knowhere/knowhere/index/vector_index/helpers/IndexParameter.h
  core/src/index/thirdparty/hnswlib/bruteforce.h
  core/src/index/thirdparty/hnswlib/hnswalg.h
  core/src/index/thirdparty/hnswlib/hnswlib.h
  core/src/index/thirdparty/hnswlib/space_ip.h
  core/src/index/thirdparty/hnswlib/space_l2.h
  core/src/index/thirdparty/hnswlib/visited_list_pool.h
  core/src/wrapper/ConfAdapter.cpp
  core/src/wrapper/ConfAdapter.h
  core/src/wrapper/ConfAdapterMgr.cpp
  core/src/wrapper/VecIndex.cpp
  core/src/wrapper/VecIndex.h
Owners: @JinHai-CN, @XuPeng-SH

Remove test.template (#1129)
  tests/milvus_python_test/test.template
Owners: @del-zhenwu

Add doc for the RESTful API / Update contributor number in Milvus readme (#1100)
  README.md
  core/src/server/web_impl/README.md
Owners: @JinHai-CN, @XuPeng-SH

#1105 update error message when creating IVFSQ8H index without GPU resources (#1117)
  CHANGELOG.md
  core/src/db/DBImpl.cpp
  core/src/db/IndexFailedChecker.cpp
  core/src/db/IndexFailedChecker.h
  core/src/db/OngoingFileChecker.h
  core/src/db/Types.h
  core/unittest/db/test_misc.cpp
Owners: @JinHai-CN, @XuPeng-SH

[skip ci] Update README (#1104)
  README.md
Owners: @JinHai-CN

remove Nvidia owned files from faiss (#1136)
  core/src/index/thirdparty/faiss/gpu/utils/Float16.cu
  core/src/index/thirdparty/faiss/gpu/utils/nvidia/fp16_emu.cu
  core/src/index/thirdparty/faiss/gpu/utils/nvidia/fp16_emu.cuh
Owners: @JinHai-CN, @XuPeng-SH

Update CODE_OF_CONDUCT.md (#1163)
  CODE_OF_CONDUCT.md
Owners: @JinHai-CN

Support run dev test with http handler in python SDK (#1116)
  CHANGELOG.md
  core/src/server/web_impl/controller/WebController.hpp
  core/src/server/web_impl/dto/CmdDto.hpp
  core/src/server/web_impl/dto/VectorDto.hpp
  core/src/server/web_impl/handler/WebRequestHandler.cpp
  core/src/server/web_impl/handler/WebRequestHandler.h
  core/unittest/server/test_web.cpp
  tests/milvus_python_test/test_add_vectors.py
  tests/milvus_python_test/test_connect.py
  tests/milvus_python_test/test_index.py
  tests/milvus_python_test/test_mix.py
  tests/milvus_python_test/test_search_vectors.py
  tests/milvus_python_test/test_table.py
  tests/milvus_python_test/test_table_count.py
Owners: @JinHai-CN, @XuPeng-SH, @del-zhenwu

Fix #1140 (#1162)
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/IndexHNSW.cpp
  sdk/include/MilvusApi.h
Owners: @JinHai-CN, @XuPeng-SH, @fishpenguin
